= accordion_for(embeddable, offering_details_multiple_choice(offering, embeddable), nil, {:show_hide_text => "show responses"}) do
  - learners.sort_by{|learner| [learner.last_name, learner.first_name]}.each do |l|
    - saveable = saveable_for_learner(embeddable, l)
    - css_style = saveable.submitted? ? 'answered' : 'not_answered'
    - if saveable.submitted?
      - if embeddable.has_correct_answer?
        - css_style = saveable.answered_correctly? ? 'correct' : 'incorrect'
      - else
        - css_style = "non-correctable"
    %div{:id => dom_id_for(embeddable, :saveable, :learner, l.id), :class => "#{css_style} learner_response inline_block"}
      %div{:class => "#{css_style} learner_response_name inline_block"}
        = l.name
      %div{:class => "#{css_style} learner_response_content inline_block"}
        - saveable.submitted_answer.each do |answer|
          .learner_response_content_part
            .learner_response_checkmark.inline_block
              = answer[:correct] ? "&#x2713;".html_safe : ""
            .learner_response_answer.inline_block
              = answer[:answer]
            .learner_response_rationale.inline_block
              = answer[:rationale]
