= accordion_for(embeddable, offering_details_open_response(offering, embeddable), nil, {:show_hide_text => "show responses"}) do
  - learners.sort_by{|learner| [learner.last_name, learner.first_name]}.each do |l|
    - saveable = saveable_for_learner(embeddable, l)
    - css_style = (saveable.answered? && saveable.answer) ? 'answered' : 'not_answered'
    %div{:id => dom_id_for(embeddable, :saveable, :learner, l.id), :class => "#{css_style} learner_response inline_block"}
      %div{:class => "#{css_style} learner_response_name inline_block"}
        = h(l.name)
      %div{:class => "#{css_style} learner_response_content inline_block"}
        = saveable.answer ? h(saveable.answer).gsub("\n", '<br/>').html_safe : 'not answered'
