= accordion_for(embeddable, offering_details_iframe(offering, embeddable), nil, {:show_hide_text => "show links"}) do
  - learners.sort_by{|learner| [learner.last_name, learner.first_name]}.each do |l|
    - saveable = saveable_for_learner(embeddable, l)
    - css_style = (saveable.answered?) ? 'answered' : 'not_answered'
    %div{:id => dom_id_for(embeddable, :saveable, :learner, l.id), :class => "#{css_style} learner_response inline_block"}
      %div{:class => "#{css_style} learner_response_name inline_block"}
        = l.name
      %div{:class => "#{css_style} learner_response_content inline_block"}
        - if saveable.answered?
          - if saveable.display_in_iframe
            -# See: iframeable-link.coffee
            = link_to 'View work', '#', :class => 'iframeable-link',
                                        'data-iframe-src' => saveable.answer,
                                        'data-iframe-width' => saveable.width,
                                        'data-iframe-height' => saveable.height
          - else
            = link_to 'View work', saveable.answer, :target => '_blank'
        - else
          No work saved.
