%div{:id => dom_id_for(@offering, :report), :class => 'item'}
  %h3= "Multiple Choice Report for: #{@offering.name}"
  %div{:id => dom_id_for(@offering, :details), :class => 'content'}
    - @offering.runnable.activities.each do |activity|
      - count = activity.multiple_choices.size
      = accordion_for(activity, "#{activity.name}: #{count} questions") do
        - if count > 0
          - activity.sections.each do |section|
            - count = section.multiple_choices.size
            = accordion_for(section, "#{section.name}: #{count} questions") do
              - if count > 0
                - section.pages.each do |page|
                  - multiple_choices = page.multiple_choices
                  - count = multiple_choices.size
                  = accordion_for(page, "#{page.name}: #{count} questions") do
                    - multiple_choices.each do |multiple_choice|
                      = accordion_for(multiple_choice, offering_details_multiple_choice(@offering, multiple_choice)) do
                        - @learners.each do |l|
                          - saveable = multiple_choice_saveable_for_learner(multiple_choice, l)
                          - css_style = saveable.answered? ? 'answered' : 'not_answered'
                          - css_style = saveable.answered_correctly? ? 'correct' : 'incorrect' if saveable.answered?
                          %div{:id => dom_id_for(saveable), :style => "clear: right;", :class => css_style}
                            %item{:class => css_style}
                              = l.name
                            %item{:style => "float: right;", :class => css_style}
                              = saveable.answer