%div{:id => dom_id_for(form), :class =>"item"}
  %ul.menu_h
    %li
      %span
        = form.label :choice, "choice:"
        = form.text_field :choice
    %li
      %span
        = form.label :is_correct, "Correct:"
        = form.check_box :is_correct
    %li
      %span.delete_link
        = remove_link(form)
