%table{:id => dom_id_for(form), :class =>"multiple_choice_item"}
  %tr
    %td
      %span
        = form.label :choice, "choice:"
        = form.text_field :choice
    %td
      %span
        = form.label :is_correct, "Correct:"
        = form.check_box :is_correct
    %td
      %span.delete_link
        = remove_link(form)
