= remote_form_for(multiple_choice, :update => dom_id_for(multiple_choice, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(multiple_choice, f)
  .content
    / = field_set_tag 'name' do
    /   = f.text_field :name, :id => dom_id_for(multiple_choice, :item, :name_field)
    = field_set_tag 'prompt' do
      = f.text_area :prompt, :id => dom_id_for(multiple_choice, :item, :textarea), :class => 'tinymce_textarea'
      
    %fieldset{:id => dom_id_for(multiple_choice, :edit_choices)}
      %legend 
        choices
      .action_menu
        .action_menu_header_right
          %ul
            %li= link_to_remote "add choice", :url => add_choice_embeddable_multiple_choice_url(multiple_choice)
      #choices
        - f.fields_for :choices do |choice_form|
          = render :partial => "edit_choice", :locals => {:multiple_choice => multiple_choice, :form => choice_form}
