= edit_menu_for(biologica_organism, f)
.content
  = field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(biologica_organism, :item, :name_field)
  = field_set_tag 'description' do
    = f.text_area :description, :id => dom_id_for(biologica_organism, :item, :textarea),:rows => 40, :class => 'tinymce_textarea'
  = field_set_tag 'options' do
    = "Sex: "
    = f.select :sex, Embeddable::Biologica::Organism.available_sexes, {:id => dom_id_for(biologica_organism, :sex, :sex_select) }
    %br/
    = "Allele Spec String: "
    = f.text_field :alleles, :id => dom_id_for(biologica_organism, :alleles, :alleles_field)
    %br/
    = "Strain: "
    = f.text_field :strain, :id => dom_id_for(biologica_organism, :strain, :strain_field)
    %br/
    = "Allow Fatal Characteristics: "
    = f.check_box :fatal_characteristics, :id => dom_id_for(biologica_organism, :fatal_characteristics, :fatal_characteristics_checkbox)
    %br/
    = "Chromosomes Color: "
    = f.text_field :chromosomes_color, :id => dom_id_for(biologica_organism, :chromosomes_color, :chromosomes_color)
    %br/
  = field_set_tag 'species' do
    = f.select :world_id, Embeddable::Biologica::World.by_scope(@scope).collect {|w| ["#{w.name}: #{w.id}", w.id]}, { :prompt => true }, {:id => dom_id_for(biologica_organism, :item, :biologica_world_select)}