.item
  .menu
    %ul
      %li
        Assessment Target: 
      %li
        Assessment Target number:
        = assessment_target.number

  .content
    %dl
      %dt RiGse::Domain
      %dd
        = assessment_target.knowledge_statement.domain.name
      %dt Unifying Theme
      %dd
        = assessment_target.unifying_theme ? assessment_target.unifying_theme.name : "null"
      %dt Big Ideas
      %dd
        - if assessment_target.unifying_theme
          - for big_idea in assessment_target.unifying_theme.big_ideas do
            = big_idea ? "#{big_idea.description}; " : "null"
      %dt Knowledge Statement
      %dd
        = assessment_target.knowledge_statement ? assessment_target.knowledge_statement.description : "null"
      %dt Description
      %dd
        = assessment_target.description
      %dt Expectations:
      %dd
        %ul
          - for grade_span_expectation in assessment_target.grade_span_expectations do
            %li
              %dt Grade Span
              %dd= grade_span_expectation.grade_span
              - for expectation in grade_span_expectation.expectations do
                %dt= expectation.expectation_stem.description
                %dd
                  %ul
                    - for expectation_indicator in expectation.expectation_indicators do
                      %li= expectation_indicator.description 
