%h1= "Assessment Targets: #{@assessment_targets.total_entries}" 
- content_for(:content_header_left) do
  %ul
  -content_for(:content_header_right) do
    %ul
      %li
        = form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
          Assessment Target: 
          / - %w{LS ESS PS}.each do |domain|
          /   %label{:for => domain}
          /   = domain
          /   = check_box_tag domain, domain, true
          = content_tag :label do
            = text_field_tag :search, params[:search], :size => 16
          %input{ :type => "submit", :value => "Search"}

= will_paginate @assessment_targets

.item_collection
  %ul.item_list
    = render :partial => 'assessment_target', :collection => @assessment_targets
