%div{:id => dom_id_for(diy_embedded_model, :details), :class => 'content'}
  - if diy_embedded_model.diy_model
    .model_image{:id => dom_id_for(diy_embedded_model, :model_image)}
      .error{:style => "color: red;"}= "This model can't run in the browser!"
      - if ! diy_embedded_model.diy_model.image_url.blank?
        =image_tag(diy_embedded_model.diy_model.image_url)
      - else
        (No Model Image)
    - if diy_embedded_model.diy_model.otrunk_object_class == "org.concord.otrunk.ui.OTBrowseableImage"
      - if local_assigns[:learner]
        - js = %|show_labbook(\\"#{labbook_url(local_assigns[:learner], diy_embedded_model)}\\"); return false;|
      - else
        - js = 'alert(\\"The Lab Book is not available in preview\\"); return false;'
      :javascript
        $("#{dom_id_for(diy_embedded_model, :model_image)}").innerHTML = "<a href='#' onclick='#{js}'><img class='labbook_button' src='/images/diy_icons/photo-album.png' alt='Open Snapshot Album' title='Open Snapshot Album' /></a>";
    - elsif diy_embedded_model.diy_model.interactive_url
      :javascript
        if (Object.isExtensible && Modernizr.svg) {
          $("#{dom_id_for(diy_embedded_model, :model_image)}").innerHTML = "<iframe class='interactive' src='#{diy_embedded_model.diy_model.interactive_url}' frameborder='no' mozallowfullscreen='true' webkitallowfullscreen='true' allowfullscreen='true'></iframe>";
        }
  -else
    (No Model Selected)

