- show_selection_controls = true if local_assigns[:show_selection_controls].nil?
- show_print_controls = true if local_assigns[:show_print_controls].nil?
- show_print_all = true if local_assigns[:show_print_all].nil?
%div{:id => dom_id_for(report_context, :report), :class => 'item', :style => 'page-break-after: always;'}
  - @filtered = offering.report_embeddable_filter && offering.report_embeddable_filter.embeddables.size > 0
  = form_for :report_embeddable_filter, :url => report_embeddable_filter_portal_offering_url(offering), :html => {:id => dom_id_for(offering, :form)} do |filter_form|
    %h3{:class => 'inline_block'}
      %span= yield :report_title
    - if show_selection_controls
      %div{:class => 'inline_block', :style => 'position: relative; top: -3px; left: 15px;'}
        = filter_form.submit "Show all", :disabled => !@filtered, :class => 'filter_selection_control'
        = filter_form.submit "Show selected", :class => 'filter_selection_control'
    - if show_print_controls
      %div{:style => 'float: right;', :class => 'print_control'}
        %a{:href => "javascript:saveChangesAndPrint('##{dom_id_for(offering, :details)}', '#{dom_id_for(offering, :form)}');", :style => 'font-size: 1em;'}= 'print this'
        - if show_print_all
          = " | "
          = link_to 'print all users', polymorphic_url(offering, :action => 'separated_report'), :onClick => 'autoPrintNextTime(); window.open(this.href); return false;'
    %div{:id => dom_id_for(offering, :details), :class => 'content'}
      %div{:style => 'font-weight: bold', :class => 'inline-block'}
        = yield :report_summary
      = render :partial => '/portal/reports/container_heading', :locals => { :indent => 0, :map => page_elements, :show_selection_controls => show_selection_controls, :offering => offering, :learners => learners}
