= edit_menu_for(data_table,f)
= observe_form(dom_id_for(data_table, :edit), :function => pack_field_params)
.content
  - field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(data_table, :item, :name_field)
  - field_set_tag 'linked datacollector' do
    %p
      Link contents with a Graph in this Investigation:
      = f.select(:data_collector_id, Embeddable::DataCollector.by_scope(@scope).collect { |dc| [ "#{dc.name}: #{dc.id}", dc.id ] }, { :prompt => false, :include_blank => "None" }, { :id => dom_id_for(data_table, :select_linked_data_collector)})
  - field_set_tag 'column labels' do
    .action_menu
      .action_menu_header_right
        %ul
          %li= link_add_column 'add column', 'heading_list'
    #heading_list.menu_h
      - data_table.headings.each do |heading|
        = data_table_heading_tag(heading)
    = f.hidden_field :column_names, :id => 'column_names'
    = f.hidden_field :column_count, :id => 'column_count'
  - field_set_tag 'Visible Rows' do
    = f.text_field :visible_rows, :size => 5
