= edit_menu_for(data_table,f)
= observe_form(dom_id_for(data_table, :edit), :function => pack_field_params)
.content
  - field_set_tag 'table properties' do
    = f.label "name"
    = f.text_field :name, :id => dom_id_for(data_table, :item, :name_field)
    %br
    = f.label "visible rows"
    = f.text_field :visible_rows, :size => 5
    %br
    = f.label "width"
    = f.text_field :width, :size => 5
    %br
    = f.label "Limit cell values to numbers:"
    = f.check_box :is_numeric
    %br
    = f.label "precision"
    = f.text_field :precision, :size => 5
    %br
  - field_set_tag 'column labels' do
    .action_menu
      .action_menu_header_right
        %ul
          %li= link_add_column 'add column', 'heading_list'
    #heading_list.menu_h
      - data_table.headings.each do |heading|
        = data_table_heading_tag(heading)
    = f.hidden_field :column_names, :id => 'column_names'
    = f.hidden_field :column_count, :id => 'column_count'
