%div{:id => dom_id_for(data_table, :details), :class => 'content'}
  = data_table_title(data_table)
  %form{:name=> form_id(data_table),:id=> form_id(data_table)}
    %table.data_table
      %thead
        %tr
          -1.upto(data_table.column_count) do |index|
            %th= data_table.heading(index)
      %tr
        -1.upto(data_table.visible_rows) do |row_index|
          %tr
          -1.upto(data_table.column_count) do |column_index|
            %td{:id =>dom_id_for(data_table, "cell_container_#{row_index}_#{column_index}".to_sym)}
              = render :partial => "embeddable/data_tables/cell", :locals => {:data_table => data_table, :x => column_index, :y => row_index}
    %input{:id =>data_id(data_table), :type => :hidden, :name => :data, :value => data_table.data}
- if (data_table.changeable? current_user)
  = watch_data_fields(data_table)
