.content
  %h3
    = "#{teacher_note.authored_entity.type.name.humanize} #{teacher_note.authored_entity.name}"
  / - field_set_tag 'Select GSEs: ' do
  /   #selectbox
  - field_set_tag 'Body' do
    = f.text_area :body, :id => dom_id_for(teacher_note, :item, :body_field)
    
  = f.hidden_field :authored_entity_type
  = f.hidden_field :authored_entity_id  
  = f.submit "Save"  