
.action_menu
  .action_menu_header
    .action_menu_header_left
      %h3= "Editing Teacher Note #{@teacher_note.id}"
    .action_menu_header_right
      %ul.menu
        %li= link_to 'list', teacher_notes_path
        %li= link_to 'show', edit_teacher_note_url(@teacher_note)


= form_for(@teacher_note) do |f|
  = f.error_messages
  = render :partial => "form", :locals => {:f => f, :teacher_note => @teacher_note}
