#content-upper
  .cols.login-area
    .col
      = form_tag session_path, :id=>"project-signin" do
        = field_set_tag "Project Sign In" do
          %h2
            Project Sign In
          %ul.graphic-input
            %li
              = label_tag 'login', 'Username', :class=>"right textfield "
              = text_field_tag 'login', @login, :class=>'text'
            %li
              = label_tag :password, "Password", :class=>"right textfield"
              = password_field_tag 'password', '', :class=>'text password'
            %li.remember
              = label_tag 'remember_me', 'Stay logged in', :class=>"right"
              = check_box_tag 'remember_me', '1'
          %button.nontext.button{ :type=>'submit',:id=>"LogInSubmitButton" }
            'Login'
          %p.forgot= link_to 'Forgot Password', forgot_password_path
    .col2
      = render :partial => 'shared/signin_blurb'
    %p.note
      %strong
        IMPORTANT!
      Before running our software and activities, please view our
      %a{ :href=>"/requirements/" }
        Technical Notes and Requirements section
