<%= title "Login", :h2 %>
<% form_tag session_path do %>
  <fieldset>
    <legend>Your Details</legend>
      <div>
        <%= label_tag 'login', 'Username' %>
        <%= text_field_tag 'login', @login %>
      </div>
      <div>
        <%= label_tag 'password' %>
        <%= password_field_tag 'password', nil %>
      </div>
      <div>
        <%= label_tag 'remember_me', 'Remember me' %>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
      </div>

  </fieldset>
  <div class="buttons">
    <%= submit_tag 'Login' %>
    <%= link_to 'Forgotten Password', forgot_password_path %>
  </div>
<% end -%>
