- display_name = "#{portal_school.name}"
- options = { :hide_componenent_name => true, :display_name => display_name }
%div{id: dom_id_for(portal_school), class: 'container_element'}
  .action_menu
    .action_menu_header_left
      %h3
        %a{href:portal_school_path(portal_school)}=portal_school.name

    .action_menu_header_right
      %ul.menu
        %li
          %a{href:edit_portal_school_path(portal_school)} edit
        %li
          %a{href:url_for(action: :destroy, id:portal_school.id), data: {method: 'delete', confirm: "Delete this client?"} } delete
  %div{:id => dom_id_for(portal_school, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_school, :details), :class => 'content'}
      %p.school_description= h(portal_school.description)
      %p.zipcode
        Zipcode:
        = h(portal_school.zipcode)
      - if portal_school.ncessch
        NCES ID :
        =link_to "#{portal_school.ncessch}","http://nces.ed.gov/ccd/schoolsearch/school_detail.asp?ID=#{portal_school.ncessch}", {target: "blank"}
