<h1>Listing maven_jnlp_servers</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Host</th>
    <th>Path</th>
    <th>Name</th>
    <th>Local cache dir</th>
  </tr>

<% @maven_jnlp_servers.each do |maven_jnlp_server| %>
  <tr>
    <td><%=h maven_jnlp_server.uuid %></td>
    <td><%=h maven_jnlp_server.host %></td>
    <td><%=h maven_jnlp_server.path %></td>
    <td><%=h maven_jnlp_server.name %></td>
    <td><%=h maven_jnlp_server.local_cache_dir %></td>
    <td><%= link_to 'Show', maven_jnlp_server %></td>
    <td><%= link_to 'Edit', edit_maven_jnlp_server_path(maven_jnlp_server) %></td>
    <td><%= link_to 'Destroy', maven_jnlp_server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maven_jnlp_server', new_maven_jnlp_server_path %>