<p>
  <b>Uuid:</b>
  <%=h @maven_jnlp_server.uuid %>
</p>

<p>
  <b>Host:</b>
  <%=h @maven_jnlp_server.host %>
</p>

<p>
  <b>Path:</b>
  <%=h @maven_jnlp_server.path %>
</p>

<p>
  <b>Name:</b>
  <%=h @maven_jnlp_server.name %>
</p>

<p>
  <b>Local cache dir:</b>
  <%=h @maven_jnlp_server.local_cache_dir %>
</p>


<%= link_to 'Edit', edit_maven_jnlp_server_path(@maven_jnlp_server) %> |
<%= link_to 'Back', maven_jnlp_servers_path %>