- portal_students = portal_clazz.students.sort { |a,b| (a.last_name <=> b.last_name) }
%div
  %div 
    %h3 Student Name
- if portal_students.length > 0
  %table.studentlist
    - portal_students.each do|portal_student|
    - portal_student_clazz = portal_clazz.student_clazzes.find_by_student_id(portal_student.id)
      %tr
        %td.studentname
          = portal_student.last_name + ", " + portal_student.first_name
        %td{:width=>"50px", :style=>"padding-left:10px;"}
          - if portal_student.user.changeable?(current_user)
            = remote_link_button "delete.png", :url => portal_clazz_student_clazz_url(portal_clazz, portal_student_clazz), :confirm => "This action will remove the student: '#{portal_student.name}' from the class: #{portal_clazz.name}. \nAre you sure you want to do this?", :method => :delete, :title => "remove #{portal_student.name} from #{portal_clazz.name}"
- else
  %div No students registered for this class yet 
