- form_for @student do |f|
  = f.error_messages
  - field_set_tag 'name' do
    .aligned
      %ul
        %li
          = label_tag :user, 'First Name: ', :class=>"right"
          = text_field :user, :first_name, {:live => false}
        %li  
          = label_tag :user, 'Last Name: ', :class=>"right"
          = text_field :user, :last_name, {:live => false}
        - unless signup
          %li 
            = label_tag :student, 'grade level: ', :class=>"right" 
            = f.collection_select(:grade_level_id, (current_user.portal_teacher ? current_user.portal_teacher.schools.collect{|s| s.grade_levels}.flatten.uniq : []), :id, :name, options ={:prompt => "-Select a grade level"}, :class =>"string")
            - if @clazz
              = hidden_field :clazz, :id, {}
  - field_set_tag 'password' do
    .aligned
      %ul
        %li
          = label_tag :user, 'Password: ', :class=>"right"
          = password_field :user, :password, {:live => false} 
        %li
          = label_tag :user, 'Again : ', :class=>"right"
          = password_field :user, :password_confirmation, {:live => false}
        
        - if signup
          %li
            = label_tag :clazz, 'Class Word: ', :class=>"right"
            = text_field :clazz, :class_word, {:live => false}
      
  = f.submit 'Submit'