= form_for portal_student do |f|
  = error_messages_for 'user'
  = error_messages_for 'portal_student', :object_name => 'student'
  %table.form
    %tr
      %td= label_tag :user, 'First Name:'
      %td
        = text_field :user, :first_name, {:live => false}
        - if portal_clazz
          = hidden_field :clazz, :id, {:value => portal_clazz.id}
    %tr  
      %td= label_tag :user, 'Last Name:'
      %td= text_field :user, :last_name, {:live => false}

    %tr
      %td= label_tag :user, 'Password:'
      %td= password_field :user, :password, {:live => false} 

    %tr
      %td= label_tag :user, 'Password Again:'
      %td= password_field :user, :password_confirmation, {:live => false}
    
    - if signup 
      - if current_project.allow_default_class
        = hidden_field :clazz, :class_word, {:value => Portal::Clazz.default_class.class_word}
      - else
        %tr
          %td
            = label_tag :clazz, 'Class Word:'
            .tiny.help (Not case sensitive)
          - value = portal_clazz ? portal_clazz.class_word : 'class word'
          %td= text_field :clazz, :class_word, {:live => false}
        
      - if current_project.use_student_security_questions
        %tr
          %td{:colspan => '2'}
            = render :partial => "security_questions/header"
            = render :partial => "security_questions/fields"

    - if current_project.require_user_consent?
      %tr
        %td{:colspan => '2', :style=> "text-align: left;"}
          %p Your age:
          %p
            = radio_button :user, :of_consenting_age, "true"
            I am 18 years old or older.
          %p
            = radio_button :user, :of_consenting_age, "false"
            I am under 18 years old.
          - if @user.of_consenting_age?
            #consent_form= render :partial => "shared/consent_form"
          - else
            #consent_form{:style => "display: none;"}= render :partial => "shared/consent_form"
          :javascript
            var consenting_age_true  = $('user_of_consenting_age_true');
            var consenting_age_false = $('user_of_consenting_age_false');
            var consent_true  = $('user_have_consent_true');
            var consent_false = $('user_have_consent_false');
            var consent_form  = $('consent_form');

            // initialy nothing is checked:
            consenting_age_true.checked = false;
            consenting_age_false.checked = false;

            var consenting_age = function() {
              return consenting_age_true.checked
            }
            var showconsent = function() {
              if(consenting_age()) {
                consent_form.show();
                consent_true.checked = true;
                consent_false.checked = false;
              }
              else {
                consent_form.hide();
              }
            }
            consenting_age_true.observe('click',showconsent);
            consenting_age_false.observe('click',showconsent);

    %tr
      %td
      - if signup
        %td= f.submit 'Submit'
      - else
        %td
          %input{:type=>"button", :value=>"Submit", :onclick=>"add_New_Student_To_Class();", :class=>"pie"}
