- form_for portal_student do |f|
  = error_messages_for 'user'
  = error_messages_for 'portal_student', :object_name => 'student'
  - field_set_tag 'name' do
    .aligned
      %ul
        %li
          = label_tag :user, 'First Name: ', :class=>"right"
          = text_field :user, :first_name, {:live => false}
          - if portal_clazz
            = hidden_field :clazz, :id, {:value => portal_clazz.id}
        %li  
          = label_tag :user, 'Last Name: ', :class=>"right"
          = text_field :user, :last_name, {:live => false}
        -# unless signup
          %li 
            = label_tag :portal_student, 'grade level: ', :class=>"right" 
            = f.collection_select(:grade_level_id, (current_user.portal_teacher ? current_user.portal_teacher.schools.collect{|s| s.grade_levels}.flatten.uniq : []), :id, :name, options ={:prompt => "-Select a grade level"}, :class =>"string")
  - field_set_tag 'password' do
    .aligned
      %ul
        %li
          = label_tag :user, 'Password: ', :class=>"right"
          = password_field :user, :password, {:live => false} 
        %li
          = label_tag :user, 'Password Again : ', :class=>"right"
          = password_field :user, :password_confirmation, {:live => false}
        
        - if signup && !current_project.allow_default_class
          %li
            = label_tag :clazz, 'Class Word: ', :class=>"right"
            - value = portal_clazz ? portal_clazz.class_word : 'class word'
            = text_field :clazz, :class_word, {:live => false}
            
      - if signup && current_project.use_student_security_questions
        = render :partial => "security_questions/header"
        = render :partial => "security_questions/fields"
      
  = f.submit 'Submit'
