= accordion_for(portal_clazz, 'Student Roster') do
  .content
    .action_menu
      .action_menu_header_left
        %strong= "Students: #{portal_clazz.students.length}"    
      .action_menu_header_right
        - if portal_clazz.changeable?(current_user)     
          = student_add_dropdown(portal_clazz)
          %br
          = link_to "Register and add a new student", new_portal_student_path(:clazz_id => portal_clazz.id), :title => "add a student to #{portal_clazz.name}"

  .item{:id=>'students_listing'}
    = render :partial => 'portal/students/table_for_clazz', :locals => {:portal_clazz => @portal_clazz}
