= remote_form_for(:portal_student, portal_student, :url => { :controller => 'portal/students', :action => 'confirm' }, :html => {:id => "word_form"}) do |f|
  %p#invalid_word
  = field_set_tag 'Class Word' do
    %ul.menu_h
      %li
        = label_tag :clazz, 'New Class Word: ', :class=>"right"
        %p= "Not case sensitive"
        = text_field :clazz, :class_word, {:live => false}
      %li
        = f.submit 'Submit'
    %p 
      A Class Word is created by a Teacher when he or she creates a new class. 
      If you have been given the Class Word you can enter that word here to become a member of that class.
