- student_list = (students_in_class(portal_clazz.students)).sort { |a,b| (a.user.last_name.casecmp(b.user.last_name)) }
- if student_list.length > 0
  %table.teacher_class_table{:width=>"100%"}
    %tr
      %td.show_border
        %b= I18n.t "RosterNameHeading"
      %td.show_border
        %b= I18n.t "RosterUsernameHeading"
      %td.show_border
        %b= I18n.t "RosterNoLastLoginHeading"
      %td.show_border
        %b= I18n.t "RosterAssignmentsHeading"
      %td.hide_in_print

    - student_list.each do |portal_student|
      - roster_row = StudentRosterRow.new portal_student, portal_clazz
      %tr{:id=>dom_id_for(roster_row.portal_student_clazz)}
        %td.show_border
          = roster_row.name
        %td.show_border{:title=>roster_row.login}
          = roster_row.login
        %td.show_border{:title=>"Last Login"}
          = roster_row.last_login
        %td.show_border{:title=>"Assignments Started"}
          = roster_row.assignments_started
        %td.remove.hide_in_print.action_link_container
          - if portal_clazz.changeable?(current_visitor)
            = link_to_remote "Remove Student", :url => portal_clazz_student_clazz_url(portal_clazz, roster_row.portal_student_clazz), :confirm => "This action will remove the student: '#{portal_student.name}' from the class: #{portal_clazz.name}. \nAre you sure you want to do this?", :method => :delete, :html => {:title => "Remove #{portal_student.name} from #{portal_clazz.name}" , :class => "change_password"}
          - if portal_student.user.changeable?(current_visitor)
            = link_to 'Change Password', reset_password_user_path(portal_student.user),:title => "Change password for #{portal_student.name}",:class => "change_password"
- else
  %br
  .message_text No students registered for this class yet.
