- roster = StudentRoster.new(portal_clazz)
- if roster.empty?
  %br
  .message_text No students registered for this class yet.
- else
  %table.teacher_class_table{:width=>"100%"}
    %tr
      %td.show_border
        %b= I18n.t "RosterNameHeading"
      %td.show_border
        %b= I18n.t "RosterUsernameHeading"
      %td.show_border
        %b= I18n.t "RosterNoLastLoginHeading"
      %td.show_border
        %b= I18n.t "RosterAssignmentsHeading"
      %td.hide_in_print

    - roster.each do |roster_row|
      %tr{:id=>dom_id_for(roster_row.portal_student_clazz)}
        %td.show_border
          = roster_row.name
        %td.show_border{:title => roster_row.login}
          = roster_row.login
        %td.show_border{:title => I18n.t("RosterNoLastLoginHeading") }
          = roster_row.last_login
        %td.show_border{:title => I18n.t("RosterAssignmentsHeading") }
          = roster_row.assignments_started
        %td.remove.hide_in_print.action_link_container
          - if portal_clazz.changeable?(current_visitor)
            = link_to_remote I18n.t("RosterRemoveStudent"),
              :url => portal_clazz_student_clazz_url(roster_row.clazz, roster_row.portal_student_clazz),
              :confirm => roster_row.confirm_delete_message,
              :method => :delete,
              :html => {  title: I18n.t("RosterRemoveStudentLong",
                          name: roster_row.name, clazz: roster.clazz.name),
                          class: "change_password" }
                          
          - if policy(roster_row.student.user).reset_password?
            = link_to 'Change Password', reset_password_user_path(roster_row.student.user),
              :title => I18n.t("RosterChangePassword", name: roster_row.name),
              :class => "change_password"
