- student_list = (students_in_class(portal_clazz.students)).sort { |a,b| (a.user.last_name <=> b.user.last_name) }
- if student_list.length > 0
  %table{:width=>"90%"}
    %td 
      %b Name
    %td 
      %b User Name
    %td
    %td
    - student_list.each do |portal_student|
      - portal_student_clazz = portal_clazz.student_clazzes.find_by_student_id(portal_student.id)
      %tr{:id=>dom_id_for(portal_student_clazz)}
        %td
          - student_name = portal_student.user.last_name + ", " +portal_student.user.first_name
          = link_to student_name, portal_student
        %td
          = portal_student.user.login
        %td.remove
          - if portal_clazz.changeable?(current_user)
            = link_to_remote "Remove Student", :url => portal_clazz_student_clazz_url(portal_clazz, portal_student_clazz), :confirm => "This action will remove the student: '#{portal_student.name}' from the class: #{portal_clazz.name}. \nAre you sure you want to do this?", :method => :delete, :title => "remove #{portal_student.name} from #{portal_clazz.name}"
        %td.reset_password
          - if portal_student.user.changeable?(current_user)
            = link_to 'Change Password', reset_password_user_path(portal_student.user)
- else
  %br
  %div No students registered for this class yet.
