- if activity.investigation
  %h2= activity.name
  - activity.sections.each do |section|
    - next unless section.is_enabled?
    %h4=section.name
    - @section = section
    - section.pages.each do |page|
      - next unless page.is_enabled?
      %h5=page.name
      - page.page_elements.each do |element|
        - if element.is_enabled?
          - component = element.embeddable
          %div.template_view_container{:id => dom_id_for(element, :template_view_container)}
            = render :partial => 'shared/template_embeddable_container', :locals=> {:component => component, :page_element=> element, :learner => local_assigns[:learner]}
  %ul.page-utility
    %li.print-this-page
      %a{:href => '#', :onclick => 'window.print(); return false;'} Print this page
- else
  %h2= activity.name
  - activity.sections.each do |section|
    - next unless section.is_enabled?
    %h4=section.name
    - @section = section
    - section.pages.each do |page|
      - next unless page.is_enabled?
      - page.page_elements.each do |element|
        - if element.is_enabled?
          - component = element.embeddable
          %div.template_view_container{:id => dom_id_for(element, :template_view_container)}
            = render :partial => 'shared/template_embeddable_container', :locals=> {:component => component, :page_element=> element, :learner => local_assigns[:learner]}
  %p#print_button
    %a.button{:href => '#', :onclick => 'window.print(); return false;'} Print This Page
  %ul.page-utility
    %li.print-this-page
      %a{:href => '#', :onclick => 'window.print(); return false;'} Print this page

- with_format(:html) do
  = render :partial => 'shared/labbook_ui'
