<h1>Listing otml_categories</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Name</th>
  </tr>

<% @otml_categories.each do |otml_category| %>
  <tr>
    <td><%=h otml_category.uuid %></td>
    <td><%=h otml_category.name %></td>
    <td><%= link_to 'Show', otml_category %></td>
    <td><%= link_to 'Edit', edit_otml_category_path(otml_category) %></td>
    <td><%= link_to 'Destroy', otml_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New otml_category', new_otml_category_path %>