#form-container

- external_reports = ExternalReport.where(report_type: ExternalReport::ResearcherUserReport).map { |r| {url: "#{r.url}", name: "#{r.name}", label: "#{r.launch_text}"} }.to_json
- portal_token = SignedJwt::create_portal_token(current_user, {domain: root_url})

:javascript
  PortalComponents.renderUserReportForm({externalReports: #{external_reports}, portalToken
  : "#{portal_token}"}, "form-container")
