
- if BoolENV['RESEARCHER_REPORT_ONLY']
  - # in this case we are only showing a minmal layout. So provide the user with a
  - # simple header
  %div
    Welcome
    = "#{current_visitor.name}"
    %br
    = link_to 'Logout', destroy_user_session_path

#form-container

- external_reports = ExternalReport.where(report_type: ExternalReport::ResearcherUserReport).map { |r| {url: "#{r.url}", name: "#{r.name}", label: "#{r.launch_text}"} }.to_json
- portal_token = SignedJWT::create_portal_token(current_user, {domain: root_url})

:javascript
  PortalComponents.renderUserReportForm({externalReports: #{external_reports}, portalToken
  : "#{portal_token}"}, "form-container")
