- form_for @portal_resource_page, :html => { :multipart => true } do |f|
	= error_messages_for :portal_resource_page
	%p
		= f.label :name
		%br/
		= f.text_field :name
		
	%p
		= f.label :description
		%br/
		= f.text_area :description
	
	%p
		= f.label :publication_status
		%br/
		= f.select :publication_status, Portal::ResourcePage::publication_states.collect { |c| c }

	%h2 Attachments
	#attachments
		= render :partial => 'attached_files/attached_file', :collection => @portal_resource_page.attached_files
	
	%p
		%strong Attach Files:
	#new-attachments-form
		= render :partial => 'attached_file_form'
			
	%p
		= link_to_function "Attach another file", "ritesPortal.attachAnotherFile()"
	%p
		= f.submit
		
:javascript
	var ritesPortal = ritesPortal || {};
	ritesPortal.attachAnotherFile = function() {
		var newDiv = new Element('div');
		newDiv.innerHTML = "#{render(:partial => 'attached_file_form').gsub('"', '\"').gsub("\n", "")}";
		$('new-attachments-form').insert(newDiv);
	}