%h1 Resource Pages
%br
%table{:width=>"100%"}
  - @portal_resource_pages.each do |portal_resource_page|
    %tr
      %td= portal_resource_page.id
      %td= portal_resource_page.name
			- if portal_resource_page.editable_by?(current_user)
	      %td= link_to 'Show', portal_resource_page
	      %td= link_to 'Edit', edit_portal_resource_page_path(portal_resource_page)
	      %td= link_to 'Destroy', portal_resource_page, :confirm => 'Are you sure?', :method => :delete
  
%br

= link_to 'New Resource Page', new_portal_resource_page_path