= hidden_field(:user, :has_projects_in_form, :value => true)
%fieldset
  %legend
    Researcher for Projects
  %ul.options-list
    - projects = projects.sort_by &:name
    - projects.each_with_index do |project, i|
      - checkbox_id = "project-#{i}-researcher"
      - expiration_date = @user.expiration_date_for_project(project)
      - can_manage_permission_forms = @user.can_manage_permission_forms?(project, allow_expired: true)
      - is_researcher = @user.researcher_for_projects_inc_expired.include?(project)
      %li
        .inline-fields
          = check_box_tag "user[researcher_project_ids][]", project.id, is_researcher, id: checkbox_id, class: 'project-checkbox'
          = label_tag checkbox_id do
            = project.name
          = date_field_tag "user[project_expiration_dates][#{project.id}]", expiration_date, placeholder: 'Expiration Date', class: 'date-input', style: ('display:none;' unless is_researcher)
          = check_box_tag "user[project_can_manage_permission_forms][#{project.id}]", "true", can_manage_permission_forms, class: 'manage-permission-forms-checkbox', style: ('display:none;' unless is_researcher)
          = label_tag "user_project_can_manage_permission_forms_#{project.id}", "Can manage permission forms", style: ('display:none;' unless is_researcher)

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.project-checkbox').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        // Find the date input and manage permission forms checkbox related to this checkbox.
        var dateInput = this.parentNode.querySelector('.date-input');
        var managePermissionFormsCheckbox = this.parentNode.querySelector('.manage-permission-forms-checkbox');
        var managePermissionFormsLabel = this.parentNode.querySelector('label[for="' + managePermissionFormsCheckbox.id + '"]');

        if (this.checked) {
          dateInput.style.display = 'inline-block'; // Use inline-block or block depending on your layout needs
          managePermissionFormsCheckbox.style.display = 'inline-block';
          managePermissionFormsLabel.style.display = 'inline-block';
        } else {
          dateInput.style.display = 'none';
          managePermissionFormsCheckbox.style.display = 'none';
          managePermissionFormsLabel.style.display = 'none';
        }
      });
    });
  });
