- if offering.runnable
  .dropdown{:id => dom_id_for(offering.runnable,"print_dropdown")}
    .container
      %ul{:style=>"overflow-y: auto; max-height: 300px;"}
        %li=link_to("print investigation", investigation_url(offering.runnable,:print=>true), :popup => true )
        %li=link_to("print teachers version", investigation_url(offering.runnable,:teacher_mode=>true,:print=>true),:popup => true )
        %hr
        .tiny
          - offering.runnable.print_listing.each do |listing|
            - listing.each_key do |key|
              %li= link_to("print #{key}", section_url(listing[key],:print=>true),:popup => true )

  .dropdown{:id => dom_id_for(offering.runnable,"run_dropdown")}
    .container
      %ul
        %li= preview_link_for(offering.runnable, nil, :link_text => "preview as a student...")
        %li= run_link_for(offering.runnable, nil, :teacher_mode => true, :link_text => "run in teacher mode")
  %div{ :id => dom_id_for(offering), :class => 'offering' }
    - opts = {}
    - if offering.runnable.published?
      - opts[:print_link] = link_to("Print","http://rites.concord.org/investigations-pdf/investigation_#{offering.runnable.id}.pdf")
    = accordion_for(offering, menu_for_offering(offering, opts),nil, {:show_hide_text=>"show individual reports"}) do  
      %div{:id => dom_id_for(offering, :details), :class => 'tiny'}
        %span.author= "Author: #{offering.runnable.user.name}"
        %p= "Description: #{offering.runnable.description}"
        %p= updated_time_text(offering.runnable)
        %p= pluralize(offering.learners.length, "student response")
        = render :partial => 'portal/learners/show', :collection => offering.learners, :as => :portal_learner
  = draggable_element dom_id_for(offering), :revert => true
