- if @material.class == ::Investigation
  - investigation_name = @material.name
  - activity_name = ""
  - portal_offerings = nil
- elsif @material.class == ::Activity
  - investigation_name = ""
  - parent_name = (@material.parent)? @material.parent.name : ""
  - activity_name = @material.name
  - portal_offerings = []
  - if @material.parent
    - portal_offerings = Portal::Offering.where(:runnable_id=>@material.parent.id,:runnable_type=>"Investigation")

- if investigation_name.length > 0
  %div
    %table.material_detail
      %tr
        %td.title Investigation: 
        %td 
          = investigation_name
- if activity_name.length > 0
  %table.material_detail
    %tr
      %td.title Activity: 
      %td 
        = activity_name
    %tr
      %td.title Part&nbsp;Of: 
      %td 
        = parent_name
%br
- if @unassigned_clazzes.length > 0
  %div.assign_class_header Select Class(es)
  %form{:id=>"add_material_form"}
    .unassigned_classes_container.webkit_scrollbars
      %table.material_detail{:width=>"100%"}
        - @unassigned_clazzes.each do|clazz|
          %tr
            %td.check_box
              = check_box_tag 'clazz_id[]',clazz.id,nil, :id => 'clazz_' + clazz.id.to_s
              
            %td 
              = label_tag 'clazz_' + clazz.id.to_s, clazz.name,:class=>"clazz_name"
              - if portal_offerings && portal_offerings.find_by_clazz_id(clazz.id)
                %br
                (Already assigned as part of "#{parent_name}")
- else
  .messagetext This material is assigned to all the classes.
- if @assigned_clazzes.length > 0
  %br
  %br
  .already_assign_class_header Already assigned to the following class(es)
  %div{:style=>"padding:5px"}
    .assigned_classes_container.webkit_scrollbars
      %table.assigned_material_detail{:width=>"100%"}
        - @assigned_clazzes.each do|clazz|
          %tr
            %td.assigned_clazzes_material
              = clazz.name
%br
%table.classdata
  %tr
    %td
      - if @unassigned_clazzes.length > 0
        = link_to_remote "Save", :url => {:action=>'add_material_to_clazzes', :material_id => @material.id,:material_type => @material.class.to_s}, :with => "$('add_material_form').serialize()",:html=>{:class=>"button"}
        &nbsp;&nbsp;
      = link_to "Cancel", "#",:onclick=>"close_popup()"
%div{:style=>"clear:both"}