#investigations_bookmark
.materials_container
  .material_list_header
    Investigations
  %p.border_top= page_entries_info materials, :model=>"Investigation"
  = will_paginate materials, {:param_name => 'investigation_page', :params => {:search_term => @name, :activity_page => 1}}
  
  %table.result_material{:cellpadding=>0,:cellspacing=>0}
    %tr
      - counter = 0
      -if false
        %td.material_type
          .material_thumbnail
          .material_type
            = type
      %td.material_list
        - materials.each do |investigation|
          .material_list_item
            %div
              - teacher_clazz_ids = current_user.portal_teacher.teacher_clazzes.map{|item| item.clazz_id}
              - offerings=Portal::Offering.where(:runnable_id=>investigation.id, :runnable_type=>"Investigation", :clazz_id=>teacher_clazz_ids)
              
              %div{:style=>'overflow:hidden'}
                %span.material_header
                  = investigation.name
                  - offering_clazz_names = offerings.map{|o| o.clazz.name}
                - if(offerings.length>0)
                  %span.assignedTo
                    (Assigned to
                    = offering_clazz_names.join(", ")+")"
                .material_button{:style=>'float:right'}
                  = button_to 'Assign to class',:class=>"button"
                .material_button{:style=>'float:right'}
                  = button_to "Preview"
            .material_body
              -unless investigation.description.nil?
                = investigation.description.html_safe 
              %i
                -if(investigation.offerings_count==0)
                  Not used in any class.
                -else
                  Used in #{investigation.offerings_count} classes.
  %br
  = will_paginate materials, {:param_name => 'investigation_page', :params => {:search_term => @name, :activity_page => 1}}
  
