- link_url = interactive_path(material)

.material_list_item{ :id => "search_#{material.class.name.underscore}_#{material.id}",
                     :'data-material_name' => material.name,
                     :'data-material_id' => material.id }
  .main-part
    - if defined? hide_details
      = show_material_icon(material, link_url, hide_details)
    - elsif
      = show_material_icon(material, link_url, nil)
    %div
      %div{:style=>'overflow:hidden'}
        %table{:width=>"100%"}
          %tr
            %td
            %td
              %span.material_header
                %span.material_meta_data
                  - if material.is_official
                    %span.is_official Official
                  - else
                    %span.is_community Community
                %br
                - if link_url.nil?
                  = material.name
                - else
                  = link_to "#{material.name}",link_url
                - if current_visitor.has_role? ["admin","manager"]
                  %span.superTiny= link_to "(portal&nbsp;settings)".html_safe, edit_polymorphic_url(material)
              -if material.user && (!material.user.name.nil?)
                %div
                  %span{:style=>"font-weight:bold"}
                    ="By #{material.user.name}"
            %td{:width=>"90px"}
              %div{:style=>'float:right'}
                = render :partial => '/browse/preview', :locals => {:material => material, :current_visitor => current_visitor}
  .toggle-details
    %i.toggle-details-icon.fa.fa-chevron-down
    %i.toggle-details-icon.fa.fa-chevron-up{style: 'display: none'}

    .material-details{style: 'display: none'}
      .material-description{:class => 'one-col'}
        %h3 Description
        = raw material.description