%p= page_entries_info materials, :model=>"Investigation"
= will_paginate materials, {:param_name => 'investigation_page', :params => {:search_term => @name, :activity_page => 1}}

%table.result_material{:cellpadding=>0,:cellspacing=>0}
  %tr
    - counter = 0
    -if false
      %td.material_type
        .material_thumbnail
        .material_type
          = type
    %td.material_list
      - materials.each do |investigation|
        .material_list_item
          %div
            %div{:style=>'overflow:hidden'}
              .material_header{:style=>'float:left'}
                = investigation.name
              .material_button{:style=>'float:right'}
                = button_to 'Assign to class',:class=>"button"
              .material_button{:style=>'float:right'}
                = button_to "Preview"
          .material_body
            = investigation.description.html_safe 
            %i
              -if(investigation.offerings_count==0)
                Not used in any class.
              -else
                Used in: #{investigation.offerings_count} classes.

