-material_count = material.offerings.count
- if material.parent
  - material_count = material_count + material.parent.offerings.count
.material_icon
  .icon_image
    -if(material.is_a? Investigation)
      - material_type = "Inv"
      - link_url = browse_investigation_url(material)
      =image_tag("search/investigation.gif",:size=>"100x100")
    -elsif(material.is_a? Activity)
      - material_type = "Act"
      - link_url = browse_activity_url(material)
      =image_tag("search/activity.gif",:size=>"100x100")
- else
  - material_type = material.class.to_s
%div
  - if current_user.portal_teacher
    - teacher_clazz_ids = current_user.portal_teacher.teacher_clazzes.select{|item| item.active == true}.map{|item| item.clazz_id}
    - offerings=Portal::Offering.where(:runnable_id=>material.id, :runnable_type=>"#{material.class.to_s}", :clazz_id=>teacher_clazz_ids)
  
  %div{:style=>'overflow:hidden'}
    %table{:width=>"100%"}
      %tr
        %td
        %td
          %span.material_header
            = link_to "#{material.name}","javascript:void(0)", :onclick=>"browseMaterial('#{link_url}')" 
          - if material.parent
            %span
              from investigation
              ="\"#{material.parent.name}\""
          -unless material.user.name.nil?
            %div
              %span{:style=>"font-weight:bold"}
                ="By #{material.user.name}"
        %td{:width=>"90px"}
          %div{:style=>'float:right'}
            - unless current_user.anonymous?
              - if(material.is_a? Investigation)
                %a{:class=>"button preview_Button Expand_Collapse_Link",:id=>"ExpandCollapse_#{material_type}#{material.id}Preview",:href=>"javascript:void(0)",:onclick=>"expandcollapseoptions(#{material.id},'#{material_type}','Preview')"}Preview &#9660;
                .Expand_Collapse{:id=>"#{material_type}#{material.id}Preview",:style=>"display:none",:class=>"Expand_Collapse_preview"}
                  .preview_link
                    = link_to "As Teacher", run_url_for(material, {:teacher_mode => true})
                  .preview_link{:style=>"padding-top:0px"}
                    = link_to "As Student", run_url_for(material, {})
              - elsif(material.is_a? Activity)
                - unless material.teacher_only?
                  %a{:class=>"button preview_Button Expand_Collapse_Link",:id=>"ExpandCollapse_Act#{material.id}Preview",:href=>"javascript:void(0)",:onclick=>"expandcollapseoptions(#{material.id},'Act','Preview')"}Preview &#9660;
                  .Expand_Collapse{:id=>"Act#{material.id}Preview",:style=>"display:none",:class=>"Expand_Collapse_preview"}
                    .preview_link
                      = link_to "As Teacher", run_url_for(material, {:teacher_mode => true})
                    .preview_link{:style=>"padding-top:0px"}
                      = link_to "As Student", run_url_for(material, {})
                - else
                  = link_to "Preview",run_url_for(material,{:teacher_mode => true}),:class=>"button",:style=>"width:58px;text-align:center"
            - else
              = link_to "Preview",run_url_for(material,{}),:class=>"button"
        %td{:width=>"130px"}
          %div{:style=>'float:right'}
            = link_to "Assign to a Class","javascript:void(0)", :onclick=>"browseMaterial('#{link_url}')", :class=>"button"
      %tr
        %td{:colspan=>3}
          - if current_user.portal_teacher
            - teacher_clazz_ids = current_user.portal_teacher.teacher_clazzes.sort{|a,b| a.position <=> b.position}.map{|item| item.clazz_id}
            - offerings = offerings.sort{|a,b| teacher_clazz_ids.index(a.clazz_id) <=> teacher_clazz_ids.index(b.clazz_id)}
            - offering_clazz_names = offerings.map{|o| o.clazz.name}
            - if(offerings.length>0)
              %span.assignedTo
                (Assigned to
                = offering_clazz_names.join(", ")+")"
.material_body
  -unless material.description.nil? || material.description.blank?
    = material.description.html_safe
    = link_to 'Show more details...', 'javascript:void(0)', :onclick => "browseMaterial('#{link_url}');"
  %div
    %i
      -if(material_count == 0)
        Not used in any class.
      -elsif(material_count == 1)
        Used in 1 class.
      -else
        Used in #{material_count} classes.
  - required_equipments = probe_types(material).map { |p| p.name }.join(", ") 
  - unless required_equipments == ""
    #required_equipment_container
      %span#required_equipment
        Required sensor(s):
      %span{:style=>"font-weight:bold;"}
        = "#{required_equipments} "
