%p= page_entries_info materials, :model=>"Activity"
= will_paginate materials, {:param_name => 'activity_page', :params => {:search_term => @name, :investigation_page => 1}}

%table.result_material{:cellpadding=>0,:cellspacing=>0}
  %tr
    -if false
      %td.material_type
        .material_thumbnail
        .material_type
          = type
    %td.material_list
      - materials.each do |activity|
        - unless activity.parent.nil?
          .material_list_item
            %div
              %div{:style=>'overflow:hidden'}
                %span.material_header
                  = "#{activity.name}, "
                %span
                  from
                  = activity.parent.name
                .material_button{:style=>'float:right'}
                  =link_to 'Assign to class','',:class=>"button"
                .material_button{:style=>'float:right'}
                  = link_to "Preview",'',:class=>"button"
            .material_body
              = activity.description.html_safe
              %i
                -if(activity.offerings.length==0)
                  Not used in any class.
                -else
                  Used in: #{activity.offerings.length} classes.
