#activities_bookmark
.materials_container
  .material_list_header
    Activities
  %p.border_top= page_entries_info materials, :model=>"Activity"
  = will_paginate materials, {:param_name => 'activity_page', :params => {:search_term => @search_term, :investigation_page => @investigation_page}}
  
  %table.result_material{:cellpadding=>0,:cellspacing=>0}
    %tr
      -if false
        %td.material_type
          .material_thumbnail
          .material_type
            = type
      %td.material_list
        - materials.each do |activity|
          - unless activity.parent.nil?
            %div.material_list_item{:id=>"search_activity_#{activity.id}"}
              = render :partial => 'result_item', :locals=>{:material=>activity}
  %br
  = will_paginate materials, {:param_name => 'activity_page', :params => {:search_term => @search_term, :investigation_page => @investigation_page}}