%p{:style=>'font-weight:bold'}
  - if @activities_count > 0 or @investigations_count > 0 or @interactives_count > 0
    = build_onSearch_message(@form_model).html_safe
  - else
    No Results Found

.results_container
  %form{:method => :post, :id => "search_result_form"}
    -# TODO: I think this form can be safely removed
    = hidden_field_tag "search_term", @search_term
    = hidden_field_tag "investigation_page", @investigation_page
    = hidden_field_tag "activity_page", @activity_page
    = hidden_field_tag "interactive_page", @interactive_page
    - if investigations && !investigations.empty?
      = render :partial => 'search/result_materials', :locals => { :materials => investigations, :type => 'Investigations', :material_symbol => :investigation, :material_name => Investigation, :param_name => 'investigation_page', :class_prefix => "investigations"}
    - if activities && !activities.empty?
      = render :partial => 'search/result_materials', :locals => { :materials => activities, :type => 'Activities', :material_symbol => :activity, :material_name => Activity, :param_name => 'activity_page', :class_prefix => "activities" }
    - if interactives && !interactives.empty?
      = render :partial => 'search/result_materials', :locals => { :materials => interactives, :type => 'Interactives', :material_symbol => :interactive, :material_name => Interactive, :param_name => 'interactive_page', :class_prefix => "interactives" }