%p{:style=>'font-weight:bold'}
  - if @activities_count > 0 or @investigations_count > 0
    = build_onSearch_message(@form_model).html_safe
  - else
    No Results Found

.results_container
  %form{:method => :post, :id => "search_result_form"}
    = hidden_field_tag "search_term", @search_term
    = hidden_field_tag "investigation_page", @investigation_page
    = hidden_field_tag "activity_page", @activity_page
    - if investigations && !investigations.empty?
      = render :partial => 'search/result_investigation', :locals => { :materials => investigations, :type => 'Investigations' }
    - if activities && !activities.empty?
      = render :partial => 'search/result_activity', :locals => { :materials => activities, :type => 'Activities' }
