%p{:style=>'font-weight:bold'}
  - if @activities_count > 0 or @investigations_count > 0 or @external_activities_count > 0
    = build_onSearch_message.html_safe
  - else
    No Results Found

.results_container
  %form{:method => :post, :id => "search_result_form"}
    = hidden_field_tag "search_term", @search_term
    = hidden_field_tag "investigation_page", @investigation_page
    = hidden_field_tag "activity_page", @activity_page
    = hidden_field_tag "external_activity_page", @external_activity_page
    -unless investigations.nil?
      - if investigations.length>0
        = render :partial=>'search/result_material',:locals=>{:materials=>investigations,:type=>'Investigations'}
    -unless activities.nil?
      - if activities.length>0
        = render :partial=>'search/result_activity',:locals=>{:materials=>activities,:type=>'Activities'}
    -unless external_activities.blank?
      = render :partial=>'search/result_external_activity',:locals=>{:materials=>external_activities, :type=>'External Activities', :head_label => 'Official' }
    -# TODO:  We need to sort / bin by "offical" here..
