- show_message_onSearch= ""
- if @investigations_count == 1
  - show_message_onSearch += "#{@investigations_count}  <a href='#investigations_bookmark' class='bookmark'>investigation</a>"
- elsif @investigations_count > 0
  - show_message_onSearch += "#{@investigations_count}  <a href='#investigations_bookmark' class='bookmark'>investigations</a>"

- if @activities_count > 0 && @investigations_count > 0
  - show_message_onSearch += ","
- if @activities_count == 1
  - show_message_onSearch += " #{@activities_count} <a href='#activities_bookmark' class='bookmark'>activity</a>"
- elsif @activities_count > 0
  - show_message_onSearch += " #{@activities_count} <a href='#activities_bookmark' class='bookmark'>activities</a>"

- show_message_onSearch +=" matching"
- if @search_term != ""
  - unless @search_term.nil?
    - show_message_onSearch +=" search term \"#{@search_term}\" and"
- show_message_onSearch +=" selected criteria"

%p{:style=>'font-weight:bold'}
  - if @activities_count > 0 or @investigations_count > 0
    = show_message_onSearch.html_safe
  - else
    No Results Found

.results_container
  -unless investigations.nil?
    - if investigations.length>0
      = render :partial=>'search/result_material',:locals=>{:materials=>investigations,:type=>'Investigations'}
  -unless activities.nil?
    - if activities.length>0
      = render :partial=>'search/result_activity',:locals=>{:materials=>activities,:type=>'Activities'}
