/- locals = {:search_name => @name, :investigations => @investigations,:activities => @activities, :sort_order => @sort_order}
= javascript_include_tag "search_materials"
.search_materials
  %h1{:style=>'color:black'}
    Instructional Materials
  %form{:id => 'material_search_form',:url => list_filter_search_url, :onkeypress => 'return event.keyCode!=13', :remote =>true }
    %table{:cellpadding=>2,:cellspacing=>0}
      %tr
        %td.align_middle
          .search_label
            SEARCH
        %td
          = text_field_tag :search_term,nil, :autocomplete => "off", :onkeydown=>'showsuggestion(event,this)'
          #search_suggestions
        %td
          .go_button.button
            = hidden_field_tag :show_suggestion, 'true'
            = submit_to_remote :GO,:GO, :url => list_filter_search_url, :complete =>'removesuggestions()'
    = render :partial=>"search/filters"
  #results
  = observe_form 'material_search_form', :url => list_filter_search_url, :frequency => 1, :before => "PendingStart();", :complete=> "PendingEnd();"
  .progress_container
    #search_spinner{:style=>'display: none;'}
      = image_tag "ajax-loader.gif"
      ( Searching ... )
  #offering_list
    = render :partial => 'search/search_results'