<p>
  <b>Uuid:</b>
  <%=h @icon.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @icon.name %>
</p>

<p>
  <b>Href:</b>
  <%=h @icon.href %>
</p>

<p>
  <b>Height:</b>
  <%=h @icon.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @icon.width %>
</p>


<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>