!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml", :prefix => "og: http://ogp.me/ns#" }
  %head
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    - page_title = (@page_title) ? "#{@page_title} | #{APP_CONFIG[:site_name]}" : APP_CONFIG[:site_name]
    %title= page_title
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    %link{ :href => asset_path("favicon.ico"), :rel => "shortcut icon"}/
    != theme_stylesheet_link_tag 'application', {'media' => 'screen, presentation'}

  %body
    #lead.project-header
      %h1{:class => theme_name}
        %a{ :href => root_path }= "#{APP_CONFIG[:site_name]}"

    = content_for :layout
