%tr
  - offerings.each do |offering|
    - activities_display = "none"
    - offering_display = ""
    - activities_collapsed = offering.teacher_full_status.find_by_teacher_id(current_user.portal_teacher.id) 
    - unless activities_collapsed.nil?
      - activities_collapsed = activities_collapsed.offering_collapsed
      - activities_display = (activities_collapsed)? "none" : ""
      - offering_display = (activities_collapsed)? "" : "none"
    - assignable = offering.runnable
    - activities = []
    - if assignable.is_a? ::Investigation
      - activities = assignable.activities
    - elsif assignable.is_a? ::Activity
      - activities = [assignable]
    
    
    - learner = offering.learners.find_by_student_id(student.id)
    - report_learner_activities = nil
    - percentage = 0
    - unless learner.nil? || learner.report_learner.nil?
      - percentage = learner.report_learner.complete_percent
      - report_learner_activities = learner.learner_activities
    %td{:class=>"investigation_summary_row_#{offering.id}", :style=>"display:#{offering_display}"}
      %div.progressbar_container
        .progressbar{:title=>"#{percentage.round(1)}%"}
          - if percentage == 100
            .progress.completed{:style=>"width:#{percentage}%"}
          - else
            .progress{:style=>"width:#{percentage}%"}
    - activities.each do |activity|
      %td{:class=>"investigation_detail_row_#{offering.id}", :style=>"display:#{activities_display}"}
        - percentage = 0
        - unless report_learner_activities.nil? || report_learner_activities.find_by_activity_id(activity.id).nil?
          - percentage = report_learner_activities.find_by_activity_id(activity.id).complete_percent
        %div.progressbar_container
          .progressbar{:title=>"#{percentage.round(1)}%"}
            - if percentage == 100
              .progress.completed{:style=>"width:#{percentage}%"}
            - else
              .progress.activity{:style=>"width:#{percentage}%"}
          