%tr
  - offerings.each do |offering|
    - activities_display = "none"
    - offering_display = ""
    - activities_collapsed = offering.teacher_full_status.find_by_teacher_id(current_user.portal_teacher.id) 
    - if !activities_collapsed.nil?
      - activities_collapsed = activities_collapsed.offering_collapsed
      - activities_display = (activities_collapsed)? "none" : ""
      - offering_display = (activities_collapsed)? "" : "none"
    - assignable = offering.runnable
    - activities = []
    - if assignable.is_a? ::Investigation
      - activities = assignable.activities
    - elsif assignable.is_a? ::Activity
      - activities = [assignable]
    %th.expand_collapse_text.offering_name{:class=>"investigation_summary_row_#{offering.id}",:title=>"#{offering.name}", :style=>"display:#{offering_display}", :onclick=>"showHideDetailedSummary(#{offering.id}, true, \"#{url_for([:offering_collapsed_status, offering])}\")"}
      %div.progressbar_container
        %span
          +&nbsp;
        = offering.name
    - if activities.length > 0
      %th.expand_collapse_text.activity.offering_name{:colspan=>"#{activities.length}",:title=>"#{offering.name}", :class=>"investigation_detail_row_#{offering.id}", :style=>"display:#{activities_display}", :onclick=>"showHideDetailedSummary(#{offering.id},false,\"#{offering_collapsed_status_portal_offering_path(offering)}\")"} 
        %div.progressbar_container
          %span
            %b -&nbsp;
          = offering.name
          
%tr
  - offerings.each do |offering|
    - activities_display = "none"
    - offering_display = ""
    - activities_collapsed = offering.teacher_full_status.find_by_teacher_id(current_user.portal_teacher.id)
    - if !activities_collapsed.nil?
      - activities_collapsed = activities_collapsed.offering_collapsed
      - activities_display = (activities_collapsed)? "none" : ""
      - offering_display = (activities_collapsed)? "" : "none"
    - assignable = offering.runnable
    - activities = []
    - if assignable.is_a? ::Investigation
      - activities = assignable.activities
    - elsif assignable.is_a? ::Activity
      - activities = [assignable]
    - activity_counter = 0
    %th.expand_collapse_text{:class=>"investigation_summary_row_#{offering.id}", :style=>"display:#{offering_display}"} 
      %div.progressbar_container
        Summary
    - activities.each do |activity|
      - activity_counter = activity_counter + 1
      - activity_name = (activity.name.nil?)? "Activity #{activity_counter}" : activity.name
      - activity_name_tooltip = (activity.name.nil?)? "Activity #{activity_counter}" : activity.name
      %th.expand_collapse_text{:id=>"activity_header_text#{activity.id}", :class=>"class investigation_detail_row_#{offering.id} activity", :title=>"#{activity_name_tooltip}", :style=>"display:#{activities_display}"}
        %div.progressbar_container
          = activity_name

