%tr
  - offering_statuses.each do |offering_status|
    - offering = offering_status.offering
    - percentage = offering_status.complete_percent(student)
    - offering_progress_bar = capture do
      %div.progressbar_container
        .progressbar
          - if percentage == 100
            .progress.completed{:style=>"width:#{percentage}%"}
          - else
            .progress{:style=>"width:#{percentage}%"}

    - if offering.runnable.is_a? Investigation
      - activities = offering_status.student_activities
      - if activities.length > 0
        - percentage = offering_status.complete_percent(student)
        %td{:class=>"investigation_summary_row_#{offering.id}", :style=>offering_status.offering_display_style}
          = offering_progress_bar
        - activities.each do |activity|
          - percentage = offering_status.activity_complete_percent(student, activity)
          %td{:class=>"investigation_detail_row_#{offering.id}", :style=>offering_status.activities_display_style}
            %div.progressbar_container
              .progressbar
                - if percentage == 100
                  .progress.completed{:style=>"width:#{percentage}%"}
                - else
                  .progress.activity{:style=>"width:#{percentage}%"}
    - else
      %td{:class=>"investigation_detail_row_#{offering.id}"}
        = offering_progress_bar
