= javascript_include_tag "student_roster.js" 
.maincontainer.pie
  .container
    .content
      = f.error_messages
    .right
      %table.clazzdata
        %tr
          %td.title=label_tag :name, 'Teacher ', :class=>"left"
          %td=label_tag :name, portal_clazz.teacher.name , :class=>"labelvalue"
          %td.title=label_tag :name, 'Semester ', :class=>"left"
          %td=label_tag :name, portal_clazz.semester.name , :class=>"labelvalue"
          %td.title=label_tag :name, 'Class Word ', :class=>"left"
          %td=label_tag :name, portal_clazz.class_word, :class=>"labelvalue"
      .header Student Roster
      %table.clazzdata
        %tr
          %td
            %input{:type=>"button", :value=>"Add New Student", :onclick=>"get_School_Student_List()", :class=>"pie"} 
          %td{:style=>"padding-left:10px"}
            %input{:type=>"button", :value=>"Print Student Roster", :onclick=>"autoPrintNextTime(); window.open('#{class_list_portal_clazz_url(portal_clazz)}'); return false;", :class=>"pie"}

      %table{:width=>"100%", :style=>"clear:both"}
        %tr
          %td
            .item{:id=>'students_listing'}
              = render :partial => 'portal/students/table_for_clazz', :locals => {:portal_clazz => portal_clazz}
      %br
      %br
      .right
        %table{:width=>"100%"}
          %tr
            %td{:style=>"text-align:right"}
              /= f.submit 'Save' 
              /&nbsp;&nbsp; 
              = link_to "Cancel", portal_clazz_url(portal_clazz)
            
      = f.hidden_field :teacher_id
      = f.hidden_field :id