.item
  = edit_menu_for(portal_clazz, f, { :omit_cancel => true })
  .content
    = f.error_messages
    .aligned
      %ul
        %li
          = label_tag :name, 'Name: ', :class=>"right"
          = f.text_field :name, :size => 50
        %li
          = label_tag :class_word, 'Class Word: ', :class=>"right"
          %p= "Class words are not case sensitive"
          = f.text_field :class_word, :size => 24
        - if action_name != "edit"
          %li
            - schools = []
            - if current_user.portal_teacher
              - schools = current_user.portal_teacher.schools
            - if schools.empty?
              - schools << Portal::School.find_by_name(APP_CONFIG[:site_school])
            = label_tag :school, 'School: ', :class=>"right"
            = f.collection_select(:school, schools, :id, :name, :options => {}, :class => "string")
        %li
          = label_tag :semester, 'Semester: ', :class=>"right"
          = f.collection_select(:semester_id, @semesters, :id, :name, options = {}, :class =>"string") 
        %li
          = label_tag :grade_levels, 'Grade Levels: ', :class=>"right"
          - row_length = 4
          %table{:style => "display: inline-block;"}
            - 0.upto((APP_CONFIG[:active_grades].size / row_length).floor) do |row|
              %tr
                - APP_CONFIG[:active_grades][row * row_length, row_length].each_with_index do |name, i|
                  - tag_name = "portal_clazz[grade_levels][#{name}]"
                  %td
                    = check_box_tag tag_name, "1", !portal_clazz.grades.find_by_name(name).nil?
                  %td{:style => "padding: 0 10px 0 3px;"}
                    -# = label_tag tag_name, name.titleize
                    = label_tag tag_name, name
        - if action_name == "edit"
          %li
            = label_tag :teachers, 'Add or remove', :class=>"right"
            %div{:style => "width: 400px; margin: 0 0 0 30%;"}
              = render :partial => 'portal/teachers/list_for_clazz', :locals => {:portal_clazz => portal_clazz}
        %li
          = label_tag :description, 'Description: ', :class=>"right"
          = f.text_area :description, :rows => 5, :cols => 50, :class => 'mceNoEditor'

    = f.hidden_field :teacher_id
    / .aligned
    /   = f.submit 'Submit'
