.item
  = edit_menu_for(portal_clazz, f, { :omit_cancel => true })
  .content
    = f.error_messages
    .aligned
      %ul
        %li
          = label_tag :name, 'Name: ', :class=>"right"
          = f.text_field :name, :size => 50
        %li
          = label_tag :class_word, 'Class Word: ', :class=>"right"
          = f.text_field :class_word, :size => 24
        %li
          = label_tag :semester, 'Semester: ', :class=>"right"
          = f.collection_select(:semester_id, @semesters, :id, :name, options = {}, :class =>"string") 
        %li
          = label_tag :description, 'Description: ', :class=>"right"
          = f.text_area :description, :rows => 10, :cols => 50, :class => 'mceNoEditor'

    = f.hidden_field :teacher_id
    / .aligned
    /   = f.submit 'Submit'
