- learners = offering.learners;
- students = offering.clazz.students;
- if investigation.activities.length > 0
  - if students.length > 0
    %table.reportsummary
      %tr
        %th.locked_left
          ACTIVITY
        - activity_counter = 0
        - investigation.activities.each do |activity|
          - activity_counter = activity_counter + 1
          - activity_name = (activity.name.nil?)? "Activity #{activity_counter}" : activity.name.truncate(10)
          %th{:id=>"activity_header_text#{activity.id}",:class=>"class",:title=>"#{activity.name}"}
            = activity_name
      = render :partial => 'investigation_student_report_summary',:collection => students, :as => :student,:locals=> {:investigation => investigation,:learners=>learners, :offering=>offering}
  - else
    %div.item No students have registered for this class yet.
- else
  %div.item No activities available in this investigation.