- learners = offering.learners;
- students = offering.clazz.students;
- if investigation.activities.length > 0
  %table.reportsummary
    %tr
      %th
        ACTIVITY
      - investigation.activities.each do |activity|
        - activity_name = activity.name.truncate(10)
        %th{:id=>"activity_header_text#{activity.id}",:class=>"class",:title=>"#{activity.name}"}
          = activity_name
    - if students.length > 0
      = render :partial => 'investigation_student_report_summary',:collection => students, :as => :student,:locals=> {:investigation => investigation,:learners=>learners, :offering=>offering}
    - else
      %tr
        %td{:colspan=>"#{investigation.activities.length + 1}", :style=>"border-top:solid 1px #666"}
          No students have registered for this class yet.
- else
  %div.item No activities available in this investigation.
        
  
  
