:ruby
  material_text = t('material')
  instructional_materials = t('instructional_materials')
  assignments = t('assignments')
  offerings = portal_clazz.teacher_visible_offerings


%tr
  %td{:colspan=>2}
    %br
    .subheader Manage #{instructional_materials}
    %p
      Uncheck the #{material_text} that you do not want to appear on the list of assigned #{material_text.pluralize} that students
      see for this class. Drag and drop the #{material_text} names below to reorder them for students. The new
      order will also be reflected in the menu on your #{assignments} page.
%tr
  %td{:colspan=>2}
    = render :partial => 'shared/offerings_for_clazz', :locals => {:offerings => offerings}
