= javascript_include_tag "instructional_materials.js"
= javascript_include_tag "share_material.js"
- clazz_offerings = @portal_clazz.offerings.sort{|a,b| a.position<=>b.position}
.maincontainer.pie
  .container
    .content
      = f.error_messages
    .right
      = render :partial => 'clazz_information', :locals => {:portal_clazz => portal_clazz}
      .header Instructional Materials for #{portal_clazz.name}
      %br
      %table.classdata.classdata-buttons
        %tr
          %td
            = link_to 'Manage Materials', edit_portal_clazz_url(portal_clazz), :class=>"button pie"
          %td{:style => "padding-left:10px"}
            = link_to 'Assign Materials', assign_materials_link, :class=>"button pie"
      %br.clearboth
      %br.clearboth
      - if clazz_offerings.length > 0
        %div.clearboth
          =select_tag('material_select', options_for_select(clazz_offerings.map { |o| [o.name, "material_tab_#{o.id}_data"] }))
        .data_container_header.clearboth
          &nbsp;
        %div.data_container
          = render :partial => 'material_details',:collection => clazz_offerings, :as => :current_offering
      - else
        %div.messagetext= t('class_materials.no_assignments')
      = f.hidden_field :teacher_id
      = f.hidden_field :id
