= #javascript_include_tag "student_roster.js"
.maincontainer.pie
  .container
    .content
      = f.error_messages
    .right
      %table.clazzdata
        %tr
          %td.title=label_tag :name, 'Teacher ', :class => 'left'
          %td=label_tag :name, portal_clazz.teacher.name , :class => 'labelvalue'
          %td.title=label_tag :name, 'Semester ', :class => "left"
          %td=label_tag :name, portal_clazz.semester.name , :class => 'labelvalue'
          %td.title=label_tag :name, 'Class Word ', :class => 'left'
          %td=label_tag :name, portal_clazz.class_word, :class => 'labelvalue'
      .header Instructional Materials
      %table.clazzdata
        %tr
          %td
            %input{:type => 'button', :value => 'Manage Materials', :onclick => 'alert("Manage materials stub");'} 
          %td{:style => "padding-left:10px"}
            %input{:type => 'button', :value => 'Add new Materials to this class', :onclick=>'alert("Add materials stub");'}
      %div{:style => 'clear: both;'}
      %ul
        - @portal_clazz.offerings.each do |offering|
          %li
            = offering.name
      
      - current_offering = @portal_clazz.offerings[0];
      %div
        %div
          %span.header
            Investigation:
          %span
            = current_offering.name
          %span
            = "(added on #{current_offering.created_at.month})"
          %button{:style => 'display: inline;'}
            Run Investigation
      %div
        +
        = link_to('Show Run Activity buttons', 'javascript: void(0);', :onclick => 'alert("Run activity buttons stub");')
      
      %div
        %div
          Float this left with Run Activity the buttons
        %div
          Float this right with channel name =>
          %span
            = current_offering.runnable.name
      
      %div
        %span.header
          Student Submissions
        %div.right
          %button
            Run Report
        %div.clear
          
      %div
        = current_offering
      
      = f.hidden_field :teacher_id
      = f.hidden_field :id