- options = {}
%br
.clazz_info{:id => dom_id_for(portal_clazz,:item)}
  .clazz_details{:id => dom_id_for(portal_clazz, :details)}
    .action_menu
      .action_menu_left
        %h3="#{portal_clazz.name}"
      .action_menu_right
        -if portal_clazz.changeable? current_user
          / = link_button "edit.png", edit_portal_clazz_url(portal_clazz)
          / = edit_button_for(portal_clazz)
          = link_to_remote "edit", :url => edit_portal_clazz_url(portal_clazz), :method => :get, :update =>  dom_id_for(portal_clazz,:item)
    .action_menu
      %ul
        %li
          %strong Teacher:
          =portal_clazz.teacher ? portal_clazz.teacher.name : 'no teacher'
        %li
          %strong Class Word:
          = portal_clazz.class_word
        - if portal_clazz.semester
          %li
            %strong Semester:
            = portal_clazz.semester.name
        - if portal_clazz.description
          %li
            %strong Description:
            = portal_clazz.description

