%div.clearboth
  %div{:style => "float: right;"}
    = render :partial => 'progress_bar_legend'
%h1= portal_clazz.name
%p.portal_class_header
  %span.portal_class_attribute
    %span.label
      = portal_clazz.teachers_label + ":"
    %span.value
      = portal_clazz.teachers_listing
  - if portal_clazz.semester
    %span.portal_class_attribute
      %span.label
        Semester:
      %span.value
        = portal_clazz.semester.name
  %span.portal_class_attribute
    %span.label
      Class Word:
    %span.value
      = portal_clazz.class_word
