- options = {}
%h1="#{portal_clazz.name}"
.clazz_info{:id => dom_id_for(portal_clazz,:item)}
  .clazz_details{:id => dom_id_for(portal_clazz, :details)}
    .action_menu
      .action_menu_header_left
      .action_menu_header_right
        -if portal_clazz.changeable? current_user
          = link_to "edit class information", edit_portal_clazz_url(portal_clazz)
      .block_list
        %ul
          %li
            = (portal_clazz.teachers.size == 1) ? "Teacher:" : "Teachers:"
            %strong
              = (portal_clazz.teachers.size > 0) ? portal_clazz.teachers.collect { |t| t.name }.join(", ") : "no teachers"
          - if portal_clazz.semester
            %li
              Semester:
              %strong
                = portal_clazz.semester.name
          - if portal_clazz.description
            %li
              %strong
                = portal_clazz.description
