%li{:id => dom_id_for(activity, :container), :class => 'menu container_element' }
  %div{ :id => dom_id_for(activity, :item), :class => style_for_item(activity) }
    %div.action_menu
      %div.action_menu_header_left   
        = link_to_container(activity)
      %div.action_menu_header_right   
        %ul.menu
          /%li= run_link_for(activity)
          - if (activity.changeable?(current_user))
            /%li= link_to 'duplicate', duplicate_activity_url(activity)
            / %li= link_to 'edit', activity
            / %li.menu=toggle_more activity
            %li.menu=link_to_remote 'delete', :confirm => "delete activity #{activity.name}?", :url => { :controller => 'investigations', :action => 'delete_activity', :id=>activity.investigation.id, :activity_id => activity.id}, :html => {:class=>"delete"}
    %div{:id => dom_id_for(activity, :details), :class => 'content ', :style =>'display:block;'}
      = activity.description
      %ul.tiny
        - activity.sections.each_with_index do |section, i|
          %li.tiny
            = link_to "#{section.name}", section
            %span.tiny= section.description
