= edit_menu_for(investigation, f)
- field_set_tag 'name' do
  = f.text_field :name

- field_set_tag 'description' do
  = f.text_area :description, :id => 'description_field', :rows => 4, :cols => 80, :class => 'mceNoEditor'

- field_set_tag 'Select GSE' do
  - field_set_tag 'filter' do
    #gse_filter
      %ul.menu_h
        %li
          grade span:
          = select_tag(:grade_span, options_for_select(GradeSpanExpectation.grade_spans, @gse.grade_span))
        %li
          domain:
          = select_tag(:domain_id, options_for_select(domains.collect { |d| [d.name, d.id] }, @gse.domain.id))
        %li#gse_select
          = render :partial => 'gse_select', :locals => { :related_gses => @related_gses, :selected_gse => @gse }
      
      %p
      #gse_summary_container
        - if @gse
          = render :partial => 'grade_span_expectations/summary', :locals => { :grade_span_expectation => @gse }


= javascript_tag("$('investigation_name').activate();")
