
<% form_for(@activity) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.submit "Create" %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :cols => 60 %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.text_area :context, :cols => 80, :rows => 10 %>
  </p>
  <p>
    <%= f.label :opportunities %><br />
    <%= f.text_area :opportunities, :cols => 80, :rows => 10%>
  </p>
  <p>
    <%= f.label :objectives %><br />
    <%= f.text_area :objectives, :cols => 80, :rows => 10%>
  </p>
  <h3>Procedures</h3>
  <p>
    <%= f.label :procedures_opening %><br />
    <%= f.text_area :procedures_opening, :cols => 80, :rows => 36%>
  </p>
  <p>
    <%= f.label :procedures_engagement %><br />
    <%= f.text_area :procedures_engagement, :cols => 80, :rows => 30%>
  </p>
  <p>
    <%= f.label :procedures_closure %><br />
    <%= f.text_area :procedures_closure, :cols => 80, :rows => 20%>
  </p>
  <p>
    <%= f.label :assessment %><br />
    <%= f.text_area :assessment, :cols => 80, :rows => 20%>
  </p>
  <p>
    <%= f.label :reflection %><br />
    <%= f.text_area :reflection, :cols => 80, :rows => 20%>
  </p>
	<hr/>
	
	<div id="Xhtml" class='draggable_step'>
		Add XHTML
	</div>
	
	<div id="MultipleChoice" class='draggable_step'>
		Add Multiple Choice
	</div>
	<div id="OpenResponse" class='draggable_step'>
		Add Open Response
	</div>
	
	<%= draggable_element :Xhtml, :revert => true %>
	<%= draggable_element :MultipleChoice, :revert => true %>
	<%= draggable_element :OpenResponse, :revert => true %>
	
	<div id='contents' class='contents'>
		This is where you can drag things to.
	</div>
	<%= drop_receiving_element :contents, 
		:url => { :controller => "activities", :action => "add_step",
			:params => {:activity_id => @activity.id }} %>
	<%= sortable_element :contents, :options => {
		:dropOnEmpty => true,
		:constraint => :vertical
	}   %>	

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>