
<% form_for(@investigation) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :cols => 60 %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 80, :rows => 5 %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>