
<% form_for(@activity) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.submit "Create" %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :cols => 60 %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.text_area :context, :cols => 80, :rows => 10 %>
  </p>
  <p>
    <%= f.label :opportunities %><br />
    <%= f.text_area :opportunities, :cols => 80, :rows => 10%>
  </p>
  <p>
    <%= f.label :objectives %><br />
    <%= f.text_area :objectives, :cols => 80, :rows => 10%>
  </p>
  <h3>Procedures</h3>
  <p>
    <%= f.label :procedures_opening %><br />
    <%= f.text_area :procedures_opening, :cols => 80, :rows => 36%>
  </p>
  <p>
    <%= f.label :procedures_engagement %><br />
    <%= f.text_area :procedures_engagement, :cols => 80, :rows => 30%>
  </p>
  <p>
    <%= f.label :procedures_closure %><br />
    <%= f.text_area :procedures_closure, :cols => 80, :rows => 20%>
  </p>
  <p>
    <%= f.label :assessment %><br />
    <%= f.text_area :assessment, :cols => 80, :rows => 20%>
  </p>
  <p>
    <%= f.label :reflection %><br />
    <%= f.text_area :reflection, :cols => 80, :rows => 20%>
  </p>
	<hr/>
	<div id="test_item" class='whatever'>
		This is the test item.  Go ahead, and DRAG it.
	</div>
	<%= draggable_element("test_item", :revert => true) %>

	<div id='contents' class='contents'>
		This is where you can drag things to.
	</div>
	<%= drop_receiving_element("contents", 
		:url => { :controller => "activity", :action => "add" }) %>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>