= edit_menu_for(investigation, f)
= field_set_tag "#{TOP_LEVEL_CONTAINER_NAME_PLURAL.humanize} details" do
  .aligned
    %ol
      %li
        %label.right Name
        = f.text_field :name
      // without publication status options, projects won't be able to set investigations as active...
      %li
        %label.right Publication Status
        = f.select :publication_status, Investigation.publication_states.map {|s| s.to_s}
      %li
        %label.right Feature On Landing Page
        - if current_user.has_role? 'admin','manager'
          = f.check_box :is_featured
        - else
          = f.check_box :is_featured, disabled: true
        %br
        When checked this #{t(:investigation)} will appear on the landing page, and seen by anonymous users.
      %li
        %label.right Student Report Enabled
        = f.check_box :student_report_enabled
        %br
        = t('authoring.student_report_enabled_description')
      %li
        %label.right Allow Activity Assignment
        = f.check_box :allow_activity_assignment
        %br
        Allow a teacher to assign the individual activities of this #{t(:investigation)} outside of this #{t(:investigation)}. This means that on the browse materials listing, teachers will see the #{t(:investigation)} listed in the #{t(:investigation)}s section, and each of its activities listed in the activities section. By default this is enabled so teachers can cherry pick activities out of a large #{t(:investigation)}. If you don't want teachers to cherry pick activities out of this #{t(:investigation)}, disable this option.
      %li
        %label.right Show Score
        = f.check_box :show_score
        %br
        = t('authoring.show_score_description')
      %li
        %label Description
        = f.text_area :description, :id => 'description_field', :rows => 4, :cols => 60, :class => 'mceNoEditor'
      %li
        %label Abstract
        = f.text_area :abstract, :id => 'abstract_field', :rows => 4, :cols => 60, :class => 'mceNoEditor'
      %li
        %label Description for Teacher
        %br
        = t('authoring.description_for_teacher_description')
        = f.text_area :description_for_teacher, :id => 'description_field', :rows => 4, :cols => 60, :class => 'mceNoEditor'
      %li
        %label Teacher Guide URL
        %br
        = f.text_field :teacher_guide_url, :size => 60
      %li
        %label Thumbnail image URL (300 x 250 px)
        %br
        = f.text_field :thumbnail_url, :size => 60
  = render :partial => 'shared/cohorts_edit', :locals => { :object => investigation }
  = render :partial => 'shared/grade_levels_edit', :locals => { :object => investigation }
  = render :partial => 'shared/subject_areas_edit', :locals => { :object => investigation }
  = render :partial => 'shared/projects_edit', :locals => { :object => investigation }

/ = field_set_tag 'Select GSE' do
/   = field_set_tag 'filter' do
/     #gse_filter
/       %ul.menu_h
/         %li
/           grade span:
/           = select_tag(:grade_span, options_for_select(RiGse::GradeSpanExpectation.grade_spans, @gse.grade_span))
/         %li
/           domain:
/           = select_tag(:domain_id, options_for_select(domains.collect { |d| [d.name, d.id] }, @gse.domain.id))
/         %li#gse_select
/           = render :partial => 'gse_select', :locals => { :related_gses => @related_gses, :selected_gse => @gse }
/       
/       %p
/       #gse_summary_container
/         - if @gse
/           = render :partial => 'ri_gse/grade_span_expectations/summary', :locals => { :grade_span_expectation => @gse }

= javascript_tag("focus_first_field();");
