/ requires: grade_span, portal_clazz_id, domain_id (next line is a hack, so that portal_clazz_id is defined)
- portal_clazz_id ||= nil 
.item
  .progress_container
    #search_spinner.tiny{:style=>'display: none;'}
      = image_tag "ajax-loader.gif"
      searching ...
    #search_title
      %h4 find investigations
  %form{ :id => 'investigation_search_form'}
    = hidden_field_tag 'portal_clazz_id', portal_clazz_id
    .menu
      %ul.menu_h      
        %li
          Grade:
          = select(nil,  :grade_span, GradeSpanExpectation.grade_spans, { :selected => grade_span, :include_blank => "all grade spans" })
        %li
          = select(nil,  :domain_id, Domain.find(:all).collect { |d| [d.name,d.id] }, { :selected => domain_id.to_i, :include_blank => "all domains" })
        %li
          Matching:
          = text_field_tag :name
        %li
          = label_tag :filter, 'Include Drafts: ', :class=>"right"
          = check_box_tag 'include_drafts', 'include drafts', session[:include_drafts]
