/ requires: grade_span, portal_clazz_id, domain_id (next line is a hack, so that portal_clazz_id is defined)
- portal_clazz_id ||= nil 
%form{ :id => 'investigation_search_form'}
  = hidden_field_tag 'portal_clazz_id', portal_clazz_id
  - field_set_tag 'Find Investigations' do
    .aligned
      %ul      
        %li
          = label_tag :filter, 'Grades: ', :class=>"right"
          = select(nil,  :grade_span, GradeSpanExpectation.grade_spans, { :selected => defined? grade_span ? grade_span : nil, :include_blank => "all grade spans" })
        %li
          = label_tag :filter, 'Domain: ', :class=>"right"
          = select(nil,  :domain_id, Domain.find(:all).collect { |d| [d.name, d.id] }, { :selected => defined? domain_id ? domain_id : nil, :include_blank => "all domains" })
        %li
          = label_tag :filter, 'Name: ', :class=>"right"
          = text_field_tag :name
        %li
          = label_tag :filter, 'Include Drafts: ', :class=>"right"
          = check_box_tag 'include_drafts', 'include drafts', session[:include_drafts]