/ required locals: investigations
- paginated_objects ||= nil
.action_menu
  .action_menu_header
    .action_menu_header_left
      - if paginated_objects
        %p= page_entries_info paginated_objects, :entry_name=>TOP_LEVEL_CONTAINER_NAME_PLURAL
        %p.paginator
          = will_paginate paginated_objects
    .action_menu_header_right
      %ul.menu
        -unless current_user.anonymous?
          %li= link_to 'create investigation', new_investigation_path
        %li= toggle_all 'investigation descriptions'
        
%ul.quiet_list
  - for investigation in investigations
    %div{ :id => dom_id_for(investigation, :item), :class => 'item' }
      %div.action_menu
        %div.action_menu_header_left   
          = link_to_container(investigation)
          %span.author
            = investigation.user.name
        %div.action_menu_header_right   
          %ul.menu
            %li= run_link_for(investigation)
            - unless(current_user.anonymous?)
              %li.menu=link_to 'duplicate', duplicate_investigation_url(investigation)
            %li.menu=link_to 'export (xml)', export_investigation_url(investigation)
            - if (investigation.changeable?(current_user))
              %li.menu=link_to 'delete', investigation, :class => 'delete', :confirm => "Are you sure you want to delete #{TOP_LEVEL_CONTAINER_NAME_PLURAL} #{investigation.id}", :method => :delete 
      %div{:id => dom_id_for(investigation, :details), :class => 'tiny'}
        %p=investigation.description
        - if params[:mine_only]
          %p
            %i 
              = updated_time_text(investigation)