<h1>Editing investigation</h1>

<%= link_to 'Show', @investigation %> |
<%= link_to 'Back', investigations_path %>

<%= render :partial => 'form' %>

<%= link_to 'Show', @investigation %> |
<%= link_to 'Back', investigations_path %>
