.action_menu
  .action_menu_header
    .action_menu_header_left
      - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
        - content_tag :label do
          = text_field_tag :search, params[:search], :size => 30
        %input{ :type => "submit", :value => "Search"}
      - if @paginated_objects
        %p= page_entries_info @paginated_objects
      %p.paginator
        = will_paginate @paginated_objects
    .action_menu_header_right
      %ul.menu
        %li= link_to 'create activity', new_investigation_path
        %li= toggle_all 'activity descriptions'
        

.item_collection
  %ul.quiet_list
    - for investigation in @pages    
      %div{ :id => dom_id_for(investigation, :item), :class => 'item' }
        %div.action_menu
          %div.action_menu_header_left   
            =link_to name_for_component(investigation), investigation
          %div.action_menu_header_right   
            %ul.menu
              %li.menu=link_to 'duplicate', duplicate_investigation_url(investigation)
              %li.menu=link_to 'export (xml)', export_investigation_url(investigation)
              - if (investigation.changeable?(current_user))
                %li.menu=link_to 'delete', investigation, :class => 'delete', :confirm => "Are you sure you want to delete ivestigation #{investigation.id}", :method => :delete 
        %div{:id => dom_id_for(investigation, :details), :class => 'tiny'}
          %p=investigation.description
