- content_for(:content_header_left) do
  %ul.menu_h
    %li= link_to 'New investigation', new_investigation_path
  %p.paginator
    = will_paginate @paginated_objects
  
- content_for(:content_header_right) do
  - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
    - content_tag :label do
      = text_field_tag :search, params[:search], :size => 30
    %input{ :type => "submit", :value => "Search"}
  - if @paginated_objects
    %p= page_entries_info @paginated_objects



.item_collection
  %ul.menu_h
    .left
      %li
    .right
      %li= toggle_all 'investigation descriptions'
  %ul.quiet_list
    - for investigation in @pages    
      %div{ :id => dom_id_for(investigation, :item), :class => 'item' }
        %div.action_menu
          %div.action_menu_header_left   
            =link_to name_for_component(investigation), investigation
          %div.action_menu_header_right   
            %ul.menu
              %li.menu=link_to 'duplicate', duplicate_investigation_url(investigation)
              %li.menu=link_to 'Delete', investigation, :class => 'delete', :confirm => "Are you sure you want to delete ivestigation #{investigation.id}", :method => :delete 
        %div{:id => dom_id_for(investigation, :details), :class => 'tiny'}
          %p=investigation.description
