#offering_list.item_collection
  .action_menu
    .action_menu_header
      .action_menu_header_left
        - if @investigations
          %p= page_entries_info @investigations, :model=>TOP_LEVEL_CONTAINER_NAME_PLURAL
          %p.paginator
            = will_paginate @investigations
      .action_menu_header_right
        %ul.menu
          -if current_user.has_role? "author"
            %li= link_to "create #{TOP_LEVEL_CONTAINER_NAME}", new_investigation_path

  %ul.preview_list       
    - for investigation in @investigations
      %li{ :id => dom_id_for(investigation), :class => cycle('odd', 'even') }
        %span.investigation_preview= preview_link_for(investigation, nil,:link_text => investigation.name)
        %div.details.tiny
          %span.description=investigation.description
          %span.author= "Created by #{investigation.user.name}"
