%h1= Investigation.display_name.pluralize

%table
  %tr
    %th= Investigation.display_name.pluralize
    %th Usage Count
  - @investigations.each do |investigation|
    %tr{:style=>"background-color: #{cycle("#FFF", "#EEE")}"}
      %td= investigation.name
      - unless session[:include_usage_count].blank?
        %td= investigation.offerings_count
