
<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', investigations_path %>

<p>
  <b>Title:</b>
  <%= @investigation.title %>
</p>

<p>
  <b>Context:</b>
  <%= @investigation.context %>
</p>

<p>
  <b>Opportunities:</b>
  <%= @investigation.opportunities %>
</p>

<p>
  <b>Objectives:</b>
  <%= @investigation.objectives %>
</p>

<p>
  <b>Procedures opening:</b>
  <%= @investigation.procedures_opening %>
</p>

<p>
  <b>Procedures engagement:</b>
  <%= @investigation.procedures_engagement %>
</p>

<p>
  <b>Procedures closure:</b>
  <%= @investigation.procedures_closure %>
</p>

<p>
  <b>Assessment:</b>
  <%= @investigation.assessment %>
</p>

<p>
  <b>Reflection:</b>
  <%= @investigation.reflection %>
</p>

<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', investigations_path %>
