<div class="page_editor">
  <%= render 	:partial => 'shared/investigation_side_menu', :locals => { :investigation => @investigation } %>
  <% content_for :left_content_header do %>
    <h3>Sections of <%= @investigation.name %></h3>
    <%= link_to "list investigations", investigations_url %>|
    <%= link_to 'edit', :action => 'edit' %> |
    <%= link_to_remote 'add section', :url => {:action => 'add_section', :params => {:investigation_id => @investigation.id}} %>
  <% end %>

 		<ol id="investigation_sections_list" class="sortable">
			<% @investigation.sections.each do | section |%>

      <%= render :partial => 'section_list_item', :locals => {:section => section} %>

			<% end %>
			<%= sortable_element :investigation_sections_list, :handle=> 'sort-handle', :dropOnEmpty => true, 
        :url=> {:action => 'sort_sections', :params => {:investigation_id => @investigation.id }} %>	
		</ol>

  <%= link_to "list investigations", investigations_url %>
</div>
