
<%= render 	:partial => 'shared/investigation_side_menu',
			:locals => { :investigation => @investigation } %>

<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', investigations_path %> 

<% if @investigation.sections.size > 0%>
	<em>Sections:</em>
	<% @investigation.sections.each do | section | %>
		<%= link_to section.name, section_url(section)%>
	<% end %>
<% end %>

<p>
  <b>Name:</b>
  <%= @investigation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @investigation.description %>
</p>


<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', pages_path %>
