#actions_menu.dropdown
  %ul
    /%li= run_link_for(@activity)
    /%li= run_link_for(@activity,'teacher',{:teacher_mode=>true})
    /%li= print_link_for(@activity)
    %li#copy_link copy (disabled)
    /%li= toggle_all('sections')
    - if (activity.changeable?(current_user))
      %li= duplicate_link_for(@activity,:text=> "copy #{@activity.name}")
      %li=edit_link_for(@activity)
      %li#paste_link= paste_link_for(['section'],{:container_id => @container_id}) # see pages_helper.rb
      
- if (teacher_only? activity)
  - view_class = "action_menu teacher_only"
- else
  - view_class = "action_menu"
%div{:id => dom_id_for(activity,:item), :class => view_class }
  .action_menu_header_left
    .padded_content
    .padded_content
      = render :partial=>'shared/in_place_fields', :locals => {:item=>activity}
  .action_menu_header_right
    = render :partial => "shared/notes_menu", :locals => {:authorable => activity}
    = dropdown_button "actions.png", :title => "actions for this page"
    - if (activity.changeable?(current_user))
      = link_button "add.png", add_section_activity_path(activity)
    - else
      = link_button "add_disabled.png", "#", :title => "can't add activities"
    = render :partial => "shared/dot_pager", :locals => {:node => activity}
    = delete_button_for activity