#actions_menu.dropdown
  %ul
    %li= run_link_for(@investigation)
    /%li= run_link_for(@investigation,'teacher',{:teacher_mode=>true})
    /%li= print_link_for(@investigation)
    /%li= toggle_all('activities')
    %li= run_link_for(@investigation,'teacher',{:teacher_mode=>true})
    %li= print_link_for(@investigation)
    %li= print_link_for(@investigation, {:teacher_mode => true}) 
    / %li= toggle_all('activities')
    - unless(current_user.anonymous?)
      %li= duplicate_link_for(@investigation,:text=> "duplicate #{TOP_LEVEL_CONTAINER_NAME_PLURAL} #{@investigation.name}")
        
    %li#copy_link.copy_paste_disabled copy (disabled)
    /%li= toggle_all('pages')
    - if (@investigation.changeable?(current_user))
      %li#paste_link= paste_link_for(['activity'],{:container_id => @container_id}) # see pages_helper.rb
      / %li= edit_link_for(@investigation)
#add_menu.dropdown
  %ul
    %li= link_to_remote "add new activity", :url=>add_activity_investigation_path(investigation)

%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu
    .action_menu_header_left
      .padded_content
      .padded_content
        = render :partial=>'shared/in_place_fields', :locals => {:item=>investigation}
    .action_menu_header_right
      = render :partial => "shared/notes_menu", :locals => {:authorable => investigation}
      = dropdown_button "actions.png", :title => "actions for this investigation"
      - if (investigation.changeable?(current_user))
        = dropdown_button "add.png"
      - else
        = link_button "add_disabled.png", "#", :title => "can't add activities"
      = delete_button_for(investigation)