- link_text = link_button("preview.png", resource_page, :title => "View the #{ResourcePage.display_name}: '#{resource_page.name}'.")
- link_text += resource_page.display_name
- accordion_options = {}
- if @include_usage_count
  - accordion_options[:usage_count] = "assigned #{pluralize(resource_page.offerings_count, "time")}"

= accordion_for(resource_page, link_text, :resource_page, accordion_options) do
  %div.action_menu
    %div.action_menu_header_left
      %span.author
        = resource_page.user.name
    %div.action_menu_header_right   
      %ul.menu
        - if (resource_page.changeable?(current_user))
          %li.menu= link_to 'view', resource_page
          %li.menu= link_to 'edit', edit_resource_page_url(resource_page)
          %li.menu= link_to 'delete', resource_page, :class => 'delete', :confirm => "Are you sure you want to delete #{ResourcePage.display_name} #{resource_page.id}", :method => :delete 
  %div{:id => dom_id_for(resource_page, :details), :class => 'tiny'}
    %p= resource_page.description
    %p
      %strong= pluralize resource_page.attached_files.size, "attachment"
      %ul
        - resource_page.attached_files.each do |attached_file|
          %li= link_to attached_file.name, attached_file.attachment.url
      
    %p
      %i= updated_time_text(resource_page)
    %p
      %i
        Used in: #{resource_page.offerings_count} classes.
