- # requires: portal_clazz_id
- # optional: hide_drafts_checkbox

.action_menu
  #search_title
    ="Search #{ResourcePage.display_name.pluralize}"
  .progress_container
    #search_spinner.tiny{:style=>'display: none;'}
      searching ...
      = image_tag "ajax-loader.gif"

- # TODO: There is probably a cleaner method to avoid sumbissions on enter / return key:form
%form{ :id => 'resource_page_search_form', :onkeypress => 'return event.keyCode!=13;'}
  = hidden_field_tag 'portal_clazz_id', local_assigns[:portal_clazz_id]
  %table{:width => "100%"}
    %tr
      %td{:style=>"padding: 0.5em;"}
        - sort_options = [ [ "Newest", "created_at DESC" ], [ "Alphabetical", "name ASC" ], [ "Popularity", "offerings_count DESC" ] ]
        = label_tag :sort_order, 'sort: ', :class => 'right'
        = select nil, :sort_order, sort_options, {:selected => @sort_order, :include_blank => true }
      %td{:style=>"padding: 0.5em;"}
        = label_tag :filter, 'matching: ', :class=>"right"
        = text_field_tag :name, name
      %td{:style=>"padding: 0.5em;"}
        = label_tag :include_usage_count, 'show count: ', :class=>"right"
        = check_box_tag 'include_usage_count', 'true', @include_usage_count
      %td{:style=>"padding: 0.5em;"}
        - unless (defined? hide_drafts_checkbox) && (hide_drafts_checkbox == true)
          = label_tag :filter, 'drafts too: ', :class=>"right"
          = check_box_tag 'include_drafts', 'include drafts', session[:include_drafts]

