%h1= ResourcePage.display_name.pluralize

%table
  %tr
    %th= ResourcePage.display_name.pluralize
    %th Usage Count
  - @resource_pages.each do |resource_page|
    %tr{:style=>"background-color: #{cycle("#FFF", "#EEE")}"}
      %td= resource_page.display_name
      %td= resource_page.offerings_count