- form_for(@activity) do |f|
  = f.error_messages
  = edit_menu_for(@activity, f, {:show_index=>false})
  - if @activity.investigation
    = f.hidden_field 'investigation_id', :value =>@activity.investigation.id

  - field_set_tag 'Activity Name' do
    = f.text_field :name
  - field_set_tag 'Activity Description' do
    = f.text_area :description, :cols => 80, :rows => 5, :class => 'mceNoEditor'

  - field_set_tag 'Options' do
    %h3 publication status
    = f.select :publication_status, activity_status_options
    - if current_user.has_role?('admin','manager')
      %h3 exemplar activity
      = f.check_box :is_exemplar
    %h3 grade level:
    = grade_level_select
    %h3 subject area:
    = subject_area_select
    %h3 unit:
    = unit_select
  - unless @activity.id
    - field_set_tag 'Activity Template' do
      = select_tag "activity_template", options_from_collection_for_select(Activity.templates, :id, :name)

= javascript_tag("focus_first_field();");
