- form_for(@activity) do |f|
  = f.error_messages
  = edit_menu_for(@activity, f, {:show_index=>false})
  - if @activity.investigation
    = f.hidden_field 'investigation_id', :value =>@activity.investigation.id

  - field_set_tag 'Activity Name' do
    = f.text_field :name
  - field_set_tag 'Activity Description' do
    = f.text_area :description, :cols => 80, :rows => 5, :class => 'mceNoEditor'

  - unless @activity.id
    - field_set_tag 'Activity Template' do
      = select_tag "activity_template", options_from_collection_for_select(Activity.templates, :id, :name)

  - field_set_tag 'Tags' do
    = tag_selector(@activity,"activity",:grade_level)
    = tag_selector(@activity,"activity",:subject_area)
    = tag_selector(@activity,"activity",:unit)
   
    %div.field_set
      %label Publication status
      %br
      = f.select :publication_status, ["private", "published"]
      
    %div.field_set
      %label Probes
      %br
      %ul.quiet
        - @activity.probes.each do |probe|
          %li="#{probe}"

    %div.field_set
      %label Models
      %br
      %ul.quiet
        - @activity.models.each do |model|
          %li="#{model}"
        
= javascript_tag("focus_first_field();");
