-#TODO: Add search results param to list_bins?
-if current_user_can_author
  .button= link_to "create #{Activity.display_name}", new_activity_path
- bins = ( defined? activities ) ? Activity.list_bins({:activities => activities, :user => current_user}) : Activity.list_bins({:user => current_user})
-#- bins = Activity.list_bins
- bin_keys = bins.keys.sort
%table.activity-chart{ :border =>"0", :cellspacing=>"0", :cellpadding => "0", :width=> "100%"}
  %tr
    %td#activity-chart-navigation{:width => "225"}
      %ul
        - bin_keys.sort.each_with_index do |bin_key,count|
          - _tag = bins[bin_key]
          -#%li#middleschoolearthscience-control.unit-navigation.level1{:onclick => "show_section('#middleschoolearthscience', this);"}
          %li.bin_button{:class => "unit-navigation level#{_tag[:order]}", :onclick => "show_section('#{bin_key}', this);"}
            ="#{_tag[:name]} ("
            %span.tag_count
              =_tag[:count]
            =")"
    %td#activity-chart-panels
      - bin_keys.each do |bin_key|
        - _tag = bins[bin_key]
        %div.show_section{:id => bin_key, :style=>"display: none;"}
          - units = _tag[:units]
          - units.keys.sort.each do |unit_key|
            - unit = units[unit_key]
            .unit
              %h2="#{unit[:name]} (#{unit[:count]})"
              - unit[:activities].each do |runnable|
                = render :partial => 'list_item', :locals => {:runnable => runnable}