- anon = current_user.anonymous?
- is_teacher = current_user.portal_teacher
-#TODO: Add search results param to list_bins?
-if defined?(lightweight_only) && lightweight_only
  .button.bins= link_to "show all activities", activities_path
-else
  .button.bins= link_to "show only browser-based activities", activities_path(:lightweight_only => "true")
-if current_user.has_role?('admin')
  .button.bins= link_to "create #{Activity.display_name}", new_activity_path
- bin_params = {:user => current_user}
- bin_params[:activities] = activities if defined? activities
- bin_params[:lightweight_only] = lightweight_only if defined? lightweight_only
- bins = Activity.list_bins(bin_params)
-#- bins = Activity.list_bins
- bin_keys = bins.keys.sort
%table.activity-chart{ :border =>"0", :cellspacing=>"0", :cellpadding => "0", :width=> "100%"}
  %tr
    %td#activity-chart-navigation{:width => "225"}
      %ul
        - bin_keys.sort.each_with_index do |bin_key,count|
          - _tag = bins[bin_key]
          -#%li#middleschoolearthscience-control.unit-navigation.level1{:onclick => "show_section('#middleschoolearthscience', this);"}
          %li.bin_button{:class => "unit-navigation level#{_tag[:order]}", :onclick => "show_section('#{bin_key}', this);"}
            ="#{_tag[:name]} ("
            %span.tag_count
              =_tag[:count]
            =")"
    %td#activity-chart-panels
      - bin_keys.each do |bin_key|
        - _tag = bins[bin_key]
        %div.show_section{:id => bin_key, :style=>"display: none;"}
          - units = _tag[:units]
          - units.keys.sort.each do |unit_key|
            - unit = units[unit_key]
            .unit
              %h2="#{unit[:name]} (#{unit[:count]})"
              - unit[:activities].each do |runnable|
                - cache_key = "item_list_#{runnable.class.to_s}_#{runnable.id}_"
                - cache_key = "changeable_" + cache_key if runnable.changeable? current_user
                - cache_key = "anonymous_" + cache_key if anon
                - cache_key = "teacher_" + cache_key if is_teacher
                - cache(cache_key) do
                  = render :partial => 'list_item', :locals => {:runnable => runnable}
