- if activity.investigation
  = render  :partial => 'shared/activity_header', :locals => { :activity => activity }
  .item_collection
    %ul#activity_sections_list.menu
      - activity.sections.each do |section|
        =render :partial => 'section_list_item', :locals => {:section => section}
        -if (activity.changeable?(current_user))
          =sortable_element :activity_sections_list, :handle=> 'sort-handle', :dropOnEmpty => true, :url=> {:action => 'sort_sections', :params => {:activity_id => activity.id }}
- else
  %h2= activity.name
  - activity.sections.each do |section|
    - next unless section.is_enabled?
    %h4=section.name
    - section.pages.each do |page|
      - next unless page.is_enabled?
      - page.page_elements.each do |element|
        - if element.is_enabled?
          - component = element.embeddable
          %div.template_view_container{:id => dom_id_for(element, :template_view_container)}
            = render :partial => 'shared/template_embeddable_container', :locals=> {:component => component, :page_element=> element, :learner => local_assigns[:learner]}
  %p#print_button
    %a.button{:href => '#', :onclick => 'window.print(); return false;'} Print This Page
  %ul.page-utility
    %li.print-this-page
      %a{:href => '#', :onclick => 'window.print(); return false;'} Print this page
- if local_assigns[:learner] && labbook_enabled?
  #labbook-outer
    .content
      #labbook-cover
      .title-bar
        %span.title
          Snapshot Album
        %span.controls
          %a{:href => '#', :onclick => 'hide_labbook(); return false;'}= "Close"
      #labbook-loading= "Loading. Please wait..."
      %iframe#labbook
  :javascript
    $j(function() {
      var hideCover = function() {
        $j("#labbook-cover").hide();
      };
      var showCover = function() {
        $j("#labbook-cover").show();
      };
      $j("#labbook-outer").draggable({
        start: showCover,
        stop: hideCover
      });
      $j("#labbook-outer").draggable("disable");
      $j("#labbook-outer .content").resizable({
        handles: "e,s,se",
        start: showCover,
        stop: hideCover
      });
      $j("#labbook-outer .content").resizable("disable");
      $j("#labbook").load(function() {
        $j("#labbook-loading").hide();
      });

      window.hide_labbook = function() {
        $j("#labbook-outer").draggable("disable");
        $j("#labbook-outer .content").resizable("disable");
        $j("#labbook-outer").hide();
      }

      window.show_labbook = function(url) {
        $j("#labbook-loading").show();
        $j("#labbook").attr("src", url);
        $j("#labbook-outer").show();
        $j("#labbook-outer").draggable("enable");
        $j("#labbook-outer .content").resizable("enable");
      }

      window.hide_labbook();
    });
