= edit_menu_for(biologica_breed_offspring, f)
.content
  = field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(biologica_breed_offspring, :item, :name_field)
  = field_set_tag 'description' do
    = f.text_area :description, :id => dom_id_for(biologica_breed_offspring, :item, :textarea),:rows => 40, :class => 'tinymce_textarea'
  = field_set_tag 'parents' do
    = "Father: "
    = f.select :father_organism_id, Embeddable::Biologica::Organism.by_scope(@scope).select{|o| o.sex == Embeddable::Biologica::Organism.male}.collect { |org| [ "#{org.name}: #{org.id}", org.id ] }, { :prompt => true }, {:id => dom_id_for(biologica_breed_offspring, :item, :father_organism_select)}
    = "<br/>Mother: "
    = f.select :mother_organism_id, Embeddable::Biologica::Organism.by_scope(@scope).select{|o| o.sex == Embeddable::Biologica::Organism.female}.collect { |org| [ "#{org.name}: #{org.id}", org.id ] }, { :prompt => true }, {:id => dom_id_for(biologica_breed_offspring, :item, :mother_organism_select)}
  = field_set_tag 'options' do
    = "Width: " + f.text_field(:width, :id => dom_id_for(biologica_breed_offspring, :item, :width_field)) + " "
    = "Height: " + f.text_field(:height, :id => dom_id_for(biologica_breed_offspring, :item, :height_field)) + "<br/>"