:javascript
  Portal.currentUser = {
    get isAnonymous() {
      return #{current_visitor.anonymous?};
    },
    get isLoggedIn() {
      return !this.isAnonymous;
    },
    get isAdmin() {
      return #{current_visitor.has_role?('admin')};
    },
    get isManager() {
      return #{current_visitor.has_role?('manager')};
    },
    get isResearcher() {
      return #{current_visitor.has_role?('researcher')};
    },
    get isAuthor() {
      return #{current_visitor.has_role?('author')};
    },
    get isTeacher() {
      return #{current_visitor.portal_teacher.present?};
    },
    get isStudent() {
      return #{current_visitor.portal_student.present?};
    },
    get firstName() {
      return "#{current_visitor.first_name}";
    },
    get lastName() {
      return "#{current_visitor.last_name}";
    },
    get fullName() {
      return "#{current_visitor.full_name}";
    }
  };
