.item_collection
  -  for grade_span_expectation in @grade_span_expectations do
    %div{:class =>"item", :id=>dom_id_for(grade_span_expectation)}
      - assessment_target = grade_span_expectation.assessment_target
      %ul.menu_h
        %li
          Grade Span: 
          = grade_span_expectation.grade_span
          ,
        %li
          Assessment Target: 
          number:
          = assessment_target.number
      
      %div{:class =>"content", :id=>dom_id_for(grade_span_expectation,:details)}
        %dl
          %dt Domain
          %dd
            = assessment_target.knowledge_statement.domain.name
          %dt Unifying Theme
          %dd
            = assessment_target.unifying_theme ? assessment_target.unifying_theme.name : "null"
          %dt Big Ideas
          %dd
            - if assessment_target.unifying_theme
              - for big_idea in assessment_target.unifying_theme.big_ideas do
                = big_idea ? "#{big_idea.description}; " : "null"
          %dt Knowledge Statement
          %dd
            = assessment_target.knowledge_statement ? assessment_target.knowledge_statement.description : "null"
          %dt Description
          %dd
            = assessment_target.description
          %dt Expectations:
          %dd
            - for expectation in grade_span_expectation.expectations do
              = expectation.expectation_stem.description
              %ul
                - for expectation_indicator in expectation.expectation_indicators do
                  %li= expectation_indicator.description 
