.item_collection
  %ul.item_list
    -  for grade_span_expectation in @grade_span_expectations do
      - assessment_target = grade_span_expectation.assessment_target
      .item
        .menu
          %ul
            %li
              Grade Span: 
              = grade_span_expectation.grade_span
              ,
            %li
              Assessment Target: 
              number:
              = assessment_target.number
              ,
              grade span:
              = assessment_target.grade_span
        .content
          %dl
            %dt Domain
            %dd
              = assessment_target.knowledge_statement.domain.name
            %dt Unifying Theme
            %dd
              = assessment_target.unifying_theme ? assessment_target.unifying_theme.name : "null"
            %dt Big Ideas
            %dd
              - if assessment_target.unifying_theme
                - for big_idea in assessment_target.unifying_theme.big_ideas do
                  = big_idea ? "#{big_idea.description}; " : "null"
            %dt Knowledge Statement
            %dd
              = assessment_target.knowledge_statement ? assessment_target.knowledge_statement.description : "null"
            %dt Description
            %dd
              = assessment_target.description
