%h1= "Grade Span Expectations: #{GradeSpanExpectation.count}" 
- content_for(:left_content_header) do
  %ul
    - if RAILS_ENV == "development"
      %li
        - form_tag reparse_gses_grade_span_expectations_path, :method => :put do
          %input{ :type => "submit", :value => "Re-parse orginal RI-GSE documents"}

- content_for(:right_content_header) do
  %ul
    %li
      - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
        Grade Span: 
        / - %w{LS ESS PS}.each do |domain|
        /   %label{:for => domain}
        /   = domain
        /   = check_box_tag domain, domain, true
        - content_tag :label do
          = text_field_tag :search, params[:search], :size => 10
        %input{ :type => "submit", :value => "Search"}

= will_paginate @grade_span_expectations
= render :partial => 'expectation_list', :locals => { :grade_span_expectations => @grade_span_expectations }
