.action_menu
  .action_menu_header
    .action_menu_header_left
      .left_content
        - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
          Grade span or key: 
          - content_tag :label do
            = text_field_tag :search, params[:search], :size => 16
          %input{ :type => "submit", :value => "Search"}
        - if @grade_span_expectations
          = page_entries_info @grade_span_expectations
        = will_paginate @grade_span_expectations
    .action_menu_header_right
      %ul.menu
        %li= toggle_all 'gse descriptions'

  
  %p.paginator
    

= render :partial => 'grade_span_expectation', :collection => @grade_span_expectations
