#actions_menu.dropdown
  %ul
    - if (activity.changeable?(current_user))
      %li=edit_link_for(@activity)

#add_menu.dropdown
  %ul
    %li= link_to "add new section", add_section_activity_path(activity)

- if (for_teacher_only activity)
  - view_class = "action_menu teacher_only"
- else
  - view_class = "action_menu"
%div{:id => dom_id_for(activity,:item), :class => view_class }
  .action_menu_header_right
    - if (activity.changeable?(current_user) && activity.sections.size == 0)
      = dropdown_button "add.png"
    - else
      = link_button "disabled.png", "#", :title => "can't add sections"
    - if (activity.changeable?(current_user))
      - if (activity.investigation)
        = delete_button_for(activity, :redirect => url_for(activity.investigation))
      - else
        = delete_button_for(activity)

