#actions_menu.dropdown
  %ul
    - if (investigation.changeable?(current_user))
      %li= edit_link_for(@investigation)

#add_menu.dropdown
  %ul
    %li= link_to "add new activity", add_activity_investigation_path(@investigation)
%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu
    .action_menu_header_right
      - if (investigation.changeable?(current_user) && investigation.activities.size == 0)
        = dropdown_button "add.png"
      - else
        = link_button "disabled.png", "#", :title => "can't add activities"
      - if (investigation.changeable?(current_user))
        = delete_button_for(investigation)
