#add_menu.dropdown
  %ul
    - [Embeddable::WebModel,Embeddable::MultipleChoice,Embeddable::OpenResponse].each do |type|
      %li= link_to_remote "#{type.display_name}", :url => url_for(:action => 'add_element', :class_name => type.name, :page_id => page.id),:html => {:class=>'action'}, :complete => mce_init_string
#actions_menu.dropdown
  %ul
    - if (page.changeable?(current_user))
      %li= link_to 'edit page details', edit_page_url(page)

- if (for_teacher_only page)
  - view_class = "action_menu teacher_only"
- else
  - view_class = "action_menu"


%div{:id => dom_id_for(page,:item), :class =>view_class}
  .action_menu_header_right
    - if (page.changeable?(current_user))
      = dropdown_button "add.png", :title => 'add content to this page'
    - else
      = link_button "disabled.png", "#", :title => "can't add content"
    - if (page.changeable?(current_user))
      - if (page.section)
        = delete_button_for(page, :redirect => url_for(page.section))
      - else
        = delete_button_for(page)
