#actions_menu.dropdown
  %ul
    - if (section.changeable?(current_user))
      %li= edit_link_for(@section)

#add_menu.dropdown
  %ul
    %li= link_to "add new page", add_page_section_path(section)

- if (for_teacher_only? section)
  - view_class = "action_menu teacher_only"
- else
  - view_class = "action_menu"

%div{:id => dom_id_for(section,:item), :class => view_class }
  .action_menu_header_right
    - if (section.changeable?(current_user) && section.pages.size == 0)
      = dropdown_button "add.png"
    - else
      = link_button "disabled.png", "#", :title => "can't add pages"
    - if (section.changeable?(current_user))
      - if (section.activity)
        = delete_button_for(section, :redirect => url_for(section.activity))
      - else
        = delete_button_for(activity)
