%div
  %h1
    Create Notice
.editor#editor
  %textarea{:class => 'tinymce_textarea' , :rows => '40', :name => 'notice_html'}
    = @notice_html
%br
%br
.filters#filters
  %h1
    Receivers
  .roles#roles
    .checkboxcontainers
      .rolescheckboxes
        = check_box_tag 'role[]','1', (@roles or @roles_ids.include?(Role.find_by_title('admin').id.to_s)), :id => 'admin'
        = label_tag 'admin', 'Admin'
      .rolescheckboxes
        = check_box_tag 'role[]','2', (@roles or @roles_ids.include?(Role.find_by_title('manager').id.to_s)), :id => 'manager'
        = label_tag 'manager', 'Manager'
      .rolescheckboxes
        = check_box_tag 'role[]','3', (@roles or @roles_ids.include?(Role.find_by_title('researcher').id.to_s)), :id => 'researcher'
        = label_tag 'researcher', 'Researcher'
        
    .checkboxcontainers
      .rolescheckboxes
        = check_box_tag 'role[]','4',( @roles or @roles_ids.include?(Role.find_by_title('author').id.to_s)), :id => 'author'
        = label_tag 'author', 'Author'
      .rolescheckboxes
        = check_box_tag 'role[]','5', (@roles or @roles_ids.include?(Role.find_by_title('member').id.to_s)), :id => 'member'
        = label_tag 'member', 'Member'
      
    
.submit#submit
  = submit_tag 'Publish Notice', {:class => 'pie'} 
.back_link
  = link_to "Cancel", {:action => 'index'}