- admin_id = Role.find_by_title('admin').id
- manager_id = Role.find_by_title('manager').id
- researcher_id = Role.find_by_title('researcher').id
- author_id = Role.find_by_title('author').id
- member_id = Role.find_by_title('member').id
%div
  %h1
    Create Notice
.editor#editor
  %textarea{:class => 'tinymce_textarea' , :rows => '40', :name => 'notice_html'}
    = @notice_html
%br
%br
.filters#filters
  %h1
    Receivers
  .roles#roles
    .checkboxcontainers
      .rolescheckboxes
        = check_box_tag 'role[]',admin_id, (@all_roles_selected_by_default or @role_ids.include?(admin_id)), :id => 'admin'
        = label_tag 'admin', 'Admin'
      .rolescheckboxes
        = check_box_tag 'role[]',manager_id, (@all_roles_selected_by_default or @role_ids.include?(manager_id)), :id => 'manager'
        = label_tag 'manager', 'Manager'
      .rolescheckboxes
        = check_box_tag 'role[]',researcher_id, (@all_roles_selected_by_default or @role_ids.include?(researcher_id)), :id => 'researcher'
        = label_tag 'researcher', 'Researcher'
        
    .checkboxcontainers
      .rolescheckboxes
        = check_box_tag 'role[]',author_id,(@all_roles_selected_by_default or @role_ids.include?(author_id)), :id => 'author'
        = label_tag 'author', 'Author'
      .rolescheckboxes
        = check_box_tag 'role[]',member_id, (@all_roles_selected_by_default or @role_ids.include?(member_id)), :id => 'member'
        = label_tag 'member', 'Member'
      
    
.submit#submit
  = submit_tag 'Publish Notice', {:class => 'pie'} 
.back_link
  = link_to "Cancel", {:action => 'index'}