%div
  %h1
    Create Notice  
.editor#editor
  %textarea{:class => 'tinymce_textarea' , :rows => '40', :name => 'notice_html'}
    %div{:style=>"1px"}
%br
%br
.filters#filters  
  %h1
    Receivers 
  .roles#roles
    .checkboxcontainers 
      .rolescheckboxes
        = check_box_tag 'role[]','1', true, :id => 'admin'
        = label_tag 'admin', 'Admin'   
      .rolescheckboxes
        = check_box_tag 'role[]','2', true, :id => 'manager'
        = label_tag 'manager', 'Manager'    
      .rolescheckboxes
        = check_box_tag 'role[]','3', true, :id => 'researcher'
        = label_tag 'researcher', 'Researcher'  
        
    .checkboxcontainers
      .rolescheckboxes 
        = check_box_tag 'role[]','4',  true, :id => 'author'
        = label_tag 'author', 'Author'     
      .rolescheckboxes
        = check_box_tag 'role[]','5',  true, :id => 'member'
        = label_tag 'member', 'Member'    
      
    
.submit#submit
  = submit_tag 'Publish Notice', {:class => 'pie'} 
.back_link
  = link_to "Cancel", {:action => 'index'}