#admin_notice_listing_container
  %h1
    Notices
  - if(@all_notices.length > 0)
    #no_notice_msg
    %table{:cellpadding => '2', :cellspacing => '0', :border => '1', :class => 'notice_list', :id => 'notice_list'}
      %tr{:class=>'notice_header'}
        %th Notice
        %th Updated on
        %th 
      - @all_notices.each do |notice|
        %tr{:id => notice.id, :class=> 'table_row'}
          %td{:class => 'notice_text'} 
            = notice.notice_html.html_safe
          %td{:class => 'notice_date'} 
            = notice.updated_at.strftime("%m-%d-%Y")
          %td{:class => 'edit_notice'}
            %span.edit_delete{:style=>"margin-top:2px;"}
              = link_to "Edit", {:action => 'edit', :id => notice.id}
            %span.edit_delete
              = remote_link_button "delete.png", :url => {:action=>'remove_notice', :id => notice.id},:confirm => "Are you sure you want to delete this notice ? ", :method => :delete, :title =>'Delete Notice', :id => 'delete_' + notice.id.to_s
  - else
    #no_notice_msg
      You have no notices.
      %br
      To create a notice click the "Create New Notice" button.
  .floatR
    = link_to 'Create New Notice', new_admin_site_notice_path, {:class => 'button'}
