= edit_menu_for(investigation, f)
- field_set_tag "#{TOP_LEVEL_CONTAINER_NAME_PLURAL.humanize} details" do
  .aligned
    %ol
      %li
        %label.right Name
        = f.text_field :name
      %li
        %label.right Publication status
        = f.select :publication_status, investigation.available_states(current_user).map {|s| s.to_s}
      %li
        %label Description
        = f.text_area :description, :id => 'description_field', :rows => 4, :cols => 60, :class => 'mceNoEditor'

- field_set_tag 'Select GSE' do
  - field_set_tag 'filter' do
    #gse_filter
      %ul.menu_h
        %li
          grade span:
          = select_tag(:grade_span, options_for_select(RiGse::GradeSpanExpectation.grade_spans, @gse.grade_span))
          = observe_field :grade_span, :url => { :controller=>'ri_gse/grade_span_expectations', :action => "select_js"}, :with => 'grade_span' , :update => {:success => 'gse_select'}
        %li
          domain:
          = select_tag(:domain_id, options_for_select(domains.collect { |d| [d.name, d.id] }, @gse.domain.id))
          = observe_field :domain_id, :url => { :controller=>'ri_gse/grade_span_expectations', :action => "select_js"}, :with => 'domain_id' , :update => {:success => 'gse_select'}
        %li#gse_select
          = render :partial => 'ri_gse/grade_span_expectations/select_js', :locals => { :related_gses => @related_gses, :selected_gse => @gse }
      %p
  #gse_summary_container
    - if @gse
      = render :partial => 'ri_gse/grade_span_expectations/summary', :locals => { :grade_span_expectation => @gse }

= javascript_tag("focus_first_field();");
