.search_materials
  - existing_collections = MaterialsCollection.joins(:materials_collection_items).where(:materials_collection_items => {:material_id=>@external_activity.id,:material_type=>"ExternalActivity"})

  - external_activity_name = @external_activity.name || ""

  %div
    %table.material_detail
      %tr
        %td
          = external_activity_name
  %br
  #collection_summary_data
    #scrollable_collection_summary_data
      - if @collections.length > 0
        %form{:id=>"add_material_form", :method=>"POST"}
          - if @unassigned_collections.length > 0
            %div.assign_class_header
              Select Collection(s)
              .unassigned_collections_container.webkit_scrollbars
                %table.material_detail{:width=>"100%"}
                  - @unassigned_collections.each do|collection|
                    %tr
                      %td.check_box
                        = check_box_tag 'materials_collection_id[]',collection.id,nil, :id => 'materials_collection_' + collection.id.to_s,:class =>"unassigned_activity_collection"
                      %td
                        = label_tag 'materials_collection_' + collection.id.to_s, collection.name,:class=>"materials_collection_name"
                        - if existing_collections && existing_collections.find_by_id(collection.id)
                          %br
                          (Already assigned as part of "#{parent_name}")
          - else
            .messagetext{:style=>"padding-left:5px"} This material is assigned to all the collections.
          - if @assigned_collections.length > 0
            %br
            %br
            .already_assigned_collection_header Already assigned to the following collection(s)
            %div{:style=>"padding:5px"}
              .assigned_collections_container.webkit_scrollbars
                %table.assigned_material_detail{:width=>"100%"}
                  - @assigned_collections.each do|collection|
                    %tr
                      %td.assigned_collections_material
                        = collection.name

          =submit_tag("Save")
          &nbsp;&nbsp;
          (Close this window/tab to cancel.)
      - else
        .messagetext{:style=>"padding-left:5px"} You don't have any active collections. Once you have created your collection(s) you will be able to assign #{t('material').pluralize} to them.
    %br
    %div{:style=>"clear:both"}
