/ required locals: investigations
/ investigations may or may not be pre-pagenated 

.action_menu
  .progress_container
    #search_spinner{:style=>'display: none;'}
      = image_tag "ajax-loader.gif"
      ( searching )

#offering_list.drop_target
  - unless investigations.respond_to? :total_pages
    - investigations = investigations.paginate(:page => params[:page] || 1, :per_page =>params[:per_page] || 20) 
  .action_menu
    .action_menu_header
      .action_menu_header_left
        %p= page_entries_info investigations, :entry_name => Investigation.display_name.pluralize
        %p.paginator
          = will_paginate investigations
      .action_menu_header_right
        %ul.menu
          - unless local_assigns[:hide_print]
            %li= link_to "printable view", printable_index_investigations_path(investigation_printable_index_params), :id => "printable-view", :target => "_blank"
          - if current_user.has_role?("researcher")
            %li.menu=link_to 'Usage Report', investigation_usage_report_url
            %li.menu=link_to 'Details Report', investigation_details_report_url
          -if current_user.does_not_have_role?("student", "guest")
            %li= link_to "create #{Investigation.display_name}", new_investigation_path

  - investigations.each do |investigation|
    %div{ :id => dom_id_for(investigation), :class => 'runnable' }
      - link_text = current_user.portal_teacher || current_user.has_role?("manager", "admin") ? teacher_preview_button_for(investigation) : ""
      - link_text += preview_button_for(investigation) + name_for_component(investigation, :hide_componenent_name => true)

      - accordion_options = {}
      - unless session[:include_usage_count].blank?
        - accordion_options[:usage_count] = "assigned #{pluralize(investigation.offerings_count, "time")}"
      = accordion_for(investigation, link_text, :investigation, accordion_options) do
        %div.action_menu
          %div.action_menu_header_left   
            /= link_to_container(investigation)
            %span.author
              = investigation.user.name
          %div.action_menu_header_right   
            %ul.menu
              -# %li= preview_button_for(investigation)
              -# %li= teacher_preview_button_for(investigation)
              - if (current_user.has_role?("researcher"))
                %li.menu=link_to 'Usage Report', usage_report_investigation_url(investigation)
                %li.menu=link_to 'Details Report', details_report_investigation_url(investigation)
              - if (investigation.duplicateable?(current_user))
                %li.menu=link_to 'duplicate', duplicate_investigation_url(investigation)
              - if (investigation.changeable?(current_user))
                %li.menu=link_to 'edit', investigation
                %li.menu=link_to 'delete', investigation, :class => 'delete', :confirm => "Are you sure you want to delete Investigation #{investigation.id}", :method => :delete 
        %div{:id => dom_id_for(investigation, :details), :class => 'tiny'}
          %p=investigation.description
          %p
            %i= updated_time_text(investigation)
          %p
            %i
              Used in: #{investigation.offerings_count} classes.

    =draggable_element dom_id_for(investigation), :revert => true , :scroll => 'window'

