/ required locals: investigations
- paginated_objects ||= nil
.action_menu
  .action_menu_header
    .action_menu_header_left
      - if paginated_objects
        %p= page_entries_info paginated_objects, :model=>TOP_LEVEL_CONTAINER_NAME_PLURAL
        %p.paginator
          = will_paginate paginated_objects
    .action_menu_header_right
      %ul.menu
        / -if current_user.has_role? "author"
        %li= link_to "create #{TOP_LEVEL_CONTAINER_NAME}", new_investigation_path

- for investigation in investigations
  %div{ :id => dom_id_for(investigation), :class => 'runnable' }
    = accordion_for(investigation, (preview_button_for(investigation) + name_for_component(investigation, :hide_componenent_name => true)), :investigation) do  
      %div.action_menu
        %div.action_menu_header_left   
          = link_to_container(investigation)
          %span.author
            = investigation.user.name
        %div.action_menu_header_right   
          %ul.menu
            %li= preview_button_for(investigation)
            - unless(current_user.anonymous?)
              %li.menu=link_to 'copy', duplicate_investigation_url(investigation)
            - if (investigation.changeable?(current_user))
              %li.menu=link_to 'delete', investigation, :class => 'delete', :data => { :confirm => "Are you sure you want to delete #{TOP_LEVEL_CONTAINER_NAME_PLURAL} #{investigation.id}" }, :method => :delete 
      %div{:id => dom_id_for(investigation, :details), :class => 'tiny'}
        %p=investigation.description
        %p
          %i= updated_time_text(investigation)
        %p
          %i
            Used in: #{investigation.offerings.length} classes.

  =draggable_element dom_id_for(investigation), :revert => true , :scroll => 'window'

