<h1>Editing device_config</h1>

<% form_for(@device_config) do |f| %>
  <%= f.error_messages %>

  <%= f.label :vendor_interface_id %>
  <%= f.select(:vendor_interface_id, Probe::VendorInterface.all.collect {|vi| [ vi.name, vi.id ] }, {:include_blank => 'None'}) %>

  <%= f.label :config_string %>
  <%= f.text_field :config_string %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @device_config %> |
<%= link_to 'Back', probe_device_configs_path %>