- fake_id = 999
%script#navigationData{type: "application/json"}
  = navigation_service().to_json().html_safe

:javascript
  Portal.API_V1 = {
    FAKE_ID: "#{fake_id}",

    COUNTRIES: "#{api_v1_countries_path}",
    SECURITY_QUESTIONS: "#{api_v1_security_questions_path}",
    STUDENTS: "#{api_v1_students_path}",
    STUDENT_CHECK_PASSWORD: "#{check_password_api_v1_student_path(fake_id)}",
    studentCheckPassword: function (studentId) {
      return this.STUDENT_CHECK_PASSWORD.replace(this.FAKE_ID, studentId);
    },
    TEACHERS: "#{api_v1_teachers_path}",
    STATES: "#{api_v1_states_path}",
    DISTRICTS: "#{api_v1_districts_path}",
    SCHOOLS: "#{api_v1_schools_path}",

    //
    // Login and email availability.
    //
    EMAILS:         "#{email_available_api_v1_teachers_path}",
    LOGINS:         "#{login_available_api_v1_teachers_path}",

    //
    // Login and name validation.
    //
    LOGIN_VALID:    "#{login_valid_api_v1_teachers_path}",
    NAME_VALID:     "#{name_valid_api_v1_teachers_path}",

    CLASSWORD: "#{check_class_word_api_v1_students_path}",
    COLLABORATIONS: "#{api_v1_collaborations_path}",
    AVAILABLE_COLLABORATORS: "#{available_collaborators_api_v1_collaborations_path}",

    //
    // Materials
    //
    MATERIALS_FEATURED: "#{api_v1_materials_featured_path}",
    MATERIALS_OWN: "#{api_v1_materials_own_path}",
    MATERIALS_BIN_COLLECTIONS: "#{api_v1_materials_bin_collections_path}",
    MATERIALS_BIN_UNOFFICIAL_MATERIALS: "#{api_v1_materials_bin_unofficial_materials_path}",
    MATERIALS_BIN_UNOFFICIAL_MATERIALS_AUTHORS: "#{api_v1_materials_bin_unofficial_materials_authors_path}",

    //
    // Offerings
    //
    OFFERING: "#{api_v1_offering_path(fake_id)}",
    offering: function (offeringId) {
      return this.OFFERING.replace(this.FAKE_ID, offeringId);
    },
    OFFERINGS: "#{api_v1_offerings_path}",

    //
    // Classes
    //
    CLASS: "#{api_v1_class_path(fake_id)}",
    class: function (classId) {
      return this.CLASS.replace(this.FAKE_ID, classId);
    },

    //
    // Favorites
    //
    MATERIALS_ADD_FAVORITE:     "#{api_v1_materials_add_favorite_path}",
    MATERIALS_REMOVE_FAVORITE:  "#{api_v1_materials_remove_favorite_path}",
    MATERIALS_GET_FAVORITE:     "#{api_v1_materials_get_favorites_path}",

    SEARCH: "#{api_v1_search_search_path}",
    ASSIGN_MATERIAL_TO_CLASS: "#{api_v1_materials_assign_to_class_path}",
    MATERIAL_UNASSIGNED_CLASSES: "#{api_v1_materials_unassigned_clazzes_path}",
    MATERIAL_SHOW: "#{api_v1_materials_show_path}",

    //
    // Reporting
    //
    // keep old name for now so as to not break older external reports
    EXTERNAL_RESEARCHER_REPORT_QUERY: "#{external_report_query_api_v1_report_learners_es_path}",
    EXTERNAL_RESEARCHER_REPORT_LEARNER_QUERY: "#{external_report_query_api_v1_report_learners_es_path}",
    EXTERNAL_RESEARCHER_REPORT_LEARNER_QUERY_JWT: "#{external_report_query_jwt_api_v1_report_learners_es_path}",
    EXTERNAL_RESEARCHER_REPORT_USER_QUERY: "#{external_report_query_api_v1_report_users_path}",

    //
    // Site Notices
    //
    SITE_NOTICES_INDEX: "#{api_v1_site_notices_index_path}",
    SITE_NOTICES_NEW: "#{api_v1_site_notices_new_path}",
    SITE_NOTICES_CREATE: "#{api_v1_site_notices_create_path}",
    SITE_NOTICES_EDIT: "#{api_v1_site_notices_edit_path}",
    GET_NOTICES_FOR_USER: "#{api_v1_site_notices_get_notices_for_user_path}",
    SITE_NOTICES_TOGGLE_DISPLAY: "#{api_v1_site_notices_toggle_notice_display_path}",

    // Navigation
    // NavigationHelper#get_navigation_json  see app/helpers/navigation_helper.rb
    getNavigation: function() {
      return JSON.parse(document.getElementById('navigationData').innerHTML)
    },

    // Logging
    getLogManagerUrl: function () {
      return "#{ENV['LOGGER_URI']}" || "https://logger.concord.org/logs"
    }
  };
- if current_user.present?
  - if current_user.portal_teacher
    :javascript
      Portal.API_V1['ENEWS_STATUS'] = "#{get_enews_subscription_api_v1_teacher_path(current_user.portal_teacher.id)}"
      Portal.API_V1['ENEWS_UPDATE'] = "#{update_enews_subscription_api_v1_teacher_path(current_user.portal_teacher.id)}"
      Portal.API_V1['GET_TEACHER_PROJECT_VIEWS'] = "#{get_teacher_project_views_api_v1_teacher_path(current_user.portal_teacher.id)}"
