%fieldset
  %legend
    User: 
    = @user.name

  .aligned
    %ul.quiet_list
      %li
        = f.label :first_name, 'First name', :class => "right"
        = f.text_field :first_name, :live => false, :class => "aligned"
      %li
        = f.label :last_name, 'Last name', :class=>"right"
        = f.text_field :last_name, :live => false, :class => "aligned"
      - unless current_page?(:controller => 'users', :action => 'preferences')
        %li
          = f.label :login, 'Login', :class=>"right"
          = f.text_field :login, :live => false, :class => "aligned"
      - if current_user.portal_student.blank?
        %li
          = f.label :email, 'Email', :class=>"right"
          = f.text_field :email, :live => false, :class => "aligned"
