%fieldset
  %legend
    User:
    = @user.name

  .aligned
    %ul.quiet_list
      %li
        = f.label :first_name, 'First name', :class => "right inline"
        = f.text_field :first_name, :live => false, :class => "aligned"
      %li
        = f.label :last_name, 'Last name', :class=>"right inline"
        = f.text_field :last_name, :live => false, :class => "aligned"
      - unless current_page?(:controller => 'users', :action => 'preferences')
        %li
          = f.label :login, 'Login', :class=>"right inline"
          = f.text_field :login, :live => false, :class => "aligned"
      - if current_visitor.portal_student.blank?
        %li
          = f.label :email, 'Email', :class=>"right inline"
          = f.text_field :email, :live => false, :class => "aligned", :disabled => @user.is_oauth_user?
          - if @user.is_oauth_user?
            You are logged in as a #{@user.authentications[0].provider} user. This email address cannot be changed.
        %li
          %label{:class => "right inline"}
            eNews
          %br
          %div{:id => "enews-subscription-details"}
            = image_tag("wait16.gif", :style => 'float: left; margin: 5px 3px 0 0;')
            %span{:style => "color: #777; font-size: 10px;"}
              Loading email subscription status...
:javascript
  jQuery(document).ready(function() {
    getEnewsStatus();

    jQuery('form.edit_user').submit(function(e) {
      e.preventDefault();
      e.returnValue = false;

      var edit_form = jQuery(this);
      var new_status;
      if (jQuery('#user_enews_subscription').is(':checked')) {
        new_status = 'subscribed';
      } else {
        new_status = 'unsubscribed';
      }

      jQuery.ajax({
        type: 'POST',
        url: Portal.API_V1.ENEWS_UPDATE,
        context: edit_form,
        dataType: 'json',
        timeout: 5000,
        data: { status: new_status }
        }).done(function(data) {
          //console.log(data)
        }).fail(function(data) {
          jQuery('#enews-subscription-details').html('<p style="color: #f00; font-size: 16px;">There was an error updating this account\'s subscription status. Please reload the page to try again.</p>');
        }).complete(function() {
          this.off('submit');
          this.submit();
        });
    });
  });

  function getEnewsStatus() {
    jQuery.ajax({
      url: Portal.API_V1.ENEWS_STATUS,
      dataType: 'json'
      }).done(function(data) {
        console.log(data);
        var checked = '';
        if (data.subscribed == 'true') {
          checked = 'checked';
        }
        var checkbox_html = '<input type="checkbox" ' + checked + ' name="user[enews_subscription]" id="user_enews_subscription" live="false" class="aligned" value="1" /> Send me updates by email.';
        jQuery('#enews-subscription-details').html(checkbox_html);
      }).fail(function(data){
        jQuery('#enews-subscription-details').html('<p style="color: #f00; font-size: 16px;">There was an error checking this account\'s subscription status. Please reload the page to try again.</p>');
      });
  }
