%fieldset
  %legend
    User
  %ul
    %li
      = f.label :first_name, 'First name'
      = f.text_field :first_name
    %li
      = f.label :last_name, 'Last name'
      = f.text_field :last_name
    %li
      = f.label :login, 'Login'
      = f.text_field :login
    %li
      = f.label 'Email'
      = f.text_field :email
