%p
  = link_to 'back to Users list', users_path

= form_for @user do |form|
  .action_menu
    .action_menu_header
      .action_menu_header_right
        %ul.menu
          %li
            = submit_tag 'Save'
          %li
            = submit_tag 'Cancel'

  .item
    .content
      = form.error_messages
      = render :partial => 'form', :locals => { :f => form }
      - if policy(@user).make_admin?
        -# FIXME: Currently this also prevents others from making the user an author
        = render :partial => 'roles', :locals => { :f => form, :roles => @roles }
        = render :partial => 'admin_for_projects', :locals => { :f => form, :projects => policy_scope(Admin::Project) }
      = render :partial => 'researcher_for_projects', :locals => { :f => form, :projects => policy_scope(Admin::Project) }
      - if @user.portal_teacher
        = render :partial => 'project_cohorts', :locals => { :f => form, :projects => policy_scope(Admin::Project) }
      = render :partial => 'shared/vendor_interface', :locals => { :f => form, :vendor_interface => @user.vendor_interface }
