.action_menu
  .action_menu_header
    .action_menu_header_left
      %ul.menu
        %li.menu=link_to 'Account Report', users_account_report_url
      = form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
        = content_tag :label do
          = text_field_tag :search, params[:search], :size => 30
        %input{ :type => "submit", :value => "Search"}
      - if @users
        %p= page_entries_info @users
      %p.paginator
        = will_paginate @users
    .action_menu_header_right
      %ul.menu
        %li= toggle_all 'user descriptions'

.item_collection
  %ul.quiet_list
    = render :partial => 'user', :collection => @users
