%h2
  User Preferences
- form_for @user do |form|
  .item
    %ul.menu_h
      %li
        = submit_tag 'Save'
      %li
        = submit_tag 'Cancel'
    .content
      = form.error_messages
      = render :partial => 'form', :locals => { :f => form }
      = render :partial => 'shared/vendor_interface', :locals => { :f => form, :vendor_interface => @user.vendor_interface }

