%table.form
  %tr
    %th Question:
    %th Answer:
  - question_names = ["First", "Second", "Third"]
  - @security_questions.each_with_index do |question, i|
    - errors = question.errors[:answer]
    - border = "border: 2px #FF0000 solid;" unless (errors.nil? || errors.empty?)
    %tr
      %td
        = hidden_field_tag "security_questions[question#{i}][id]", question.id
        = select_tag "security_questions[question#{i}][question_idx]", question.select_options.join.html_safe
      %td= text_field_tag "security_questions[question#{i}][answer]", question.answer, :style => border
