
<% form_for(@step) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name, :cols => 60 %>
    <%= in_place_editor_field :step, :name %>
  </p>

  <p>
    <%= f.label :contents %><br />
    <%= f.text_area :contents, :cols => 70 %>
  </p>
<% end %>
<p>
<%= link_to_save (@step) %>
<%= link_to_delete(@step) %>
</p>  