<h1>Editing maven_jnlp_family</h1>

<% form_for(@maven_jnlp_family) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :maven_jnlp_server_id %><br />
    <%= f.text_field :maven_jnlp_server_id %>
  </p>
  <p>
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :snapshot_version %><br />
    <%= f.text_field :snapshot_version %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @maven_jnlp_family %> |
<%= link_to 'Back', maven_jnlp_families_path %>