<h1>Listing maven_jnlp_families</h1>

<table>
  <tr>
    <th>Maven jnlp server</th>
    <th>Uuid</th>
    <th>Name</th>
    <th>Snapshot version</th>
    <th>Url</th>
  </tr>

<% @maven_jnlp_families.each do |maven_jnlp_family| %>
  <tr>
    <td><%=h maven_jnlp_family.maven_jnlp_server_id %></td>
    <td><%=h maven_jnlp_family.uuid %></td>
    <td><%=h maven_jnlp_family.name %></td>
    <td><%=h maven_jnlp_family.snapshot_version %></td>
    <td><%=h maven_jnlp_family.url %></td>
    <td><%= link_to 'Show', maven_jnlp_family %></td>
    <td><%= link_to 'Edit', edit_maven_jnlp_family_path(maven_jnlp_family) %></td>
    <td><%= link_to 'Destroy', maven_jnlp_family, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maven_jnlp_family', new_maven_jnlp_family_path %>