<p>
  <b>Maven jnlp server:</b>
  <%=h @maven_jnlp_family.maven_jnlp_server_id %>
</p>

<p>
  <b>Uuid:</b>
  <%=h @maven_jnlp_family.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @maven_jnlp_family.name %>
</p>

<p>
  <b>Snapshot version:</b>
  <%=h @maven_jnlp_family.snapshot_version %>
</p>

<p>
  <b>Url:</b>
  <%=h @maven_jnlp_family.url %>
</p>


<%= link_to 'Edit', edit_maven_jnlp_family_path(@maven_jnlp_family) %> |
<%= link_to 'Back', maven_jnlp_families_path %>