/ locals: investigation
#accordion_nav
  - activity_list_name = dom_id_for(investigation, :accordion_section_list)
  .padded_content= link_to investigation.name, investigation
  %br
  %ul{:id=>activity_list_name, :class=>"accordion_header"}
    - investigation.activities.each do |activity|
      %li{:id=>dom_id_for(activity,:accordion_item), :class=>"accordion_container"}
        .accordion_name
          -if (defined? @activity) && (@activity.id == activity.id)
            = link_to activity.name,activity, :class=> 'selected'
          -else
            =link_to activity.name, activity
        
        .accordion_toggle
        -section_list_name = dom_id_for(activity, :accordion_section_list)
        .accordion_content{:style=>'display: none;'}
          .description=activity.description
          %ul{:id=>section_list_name}
            - activity.sections.each_with_index do |s,i|
              %li{:id => dom_id_for(s, :accordion_item), :class => 'accordion_section'}
                -if (defined? @section) && (@section.id == s.id)
                  = link_to "#{i+1}:#{s.name}",s, :class=> 'selected'
                -else
                  =link_to "#{i+1}: #{s.name}",s
                -s.pages.each_with_index do |p,i|
                  - if (defined? @page) && (p.id == @page.id)
                    = link_button "this_page.png", "#", :title => "you are here"
                  - else
                    = link_button "other_page.png", p, :title => "go to #{p.name}"
          =sortable_element section_list_name.to_sym, :url=> {:controller=> :activities, :action => 'sort_sections', :params => {:list_name=>section_list_name,:id => activity.id }}
    =sortable_element activity_list_name.to_sym, :url=> {:controller=> :investigations, :action => 'sort_activities', :params => {:list_name=>activity_list_name,:id => investigation.id }}
