#actions_menu.dropdown
  %ul
    %li= run_link_for(@activity)
    %li= toggle_all('sections')
    - if (activity.changeable?(current_user))
      %li= link_to 'duplicate', duplicate_activity_url(activity)

%div{:id => dom_id_for(activity,:item), :class =>"action_menu"}
  .action_menu
    .action_menu_header_left
      .padded_content
      .padded_content
        = render :partial=>'shared/in_place_fields', :locals => {:item=>activity}
    .action_menu_header_right
      = render :partial => "shared/notes_menu", :locals => {:authorable => activity}
      = dropdown_button "actions.png", :title => "actions for this page"
      = link_to_remote image_tag("add.png", :alt=>'add new section'), :title => 'add new section', :complete => mce_init_string(), :url => add_section_activity_path(activity), :html => {:class=>'rollover'}
      - if (activity.investigation)
        = link_button "up.png", activity.investigation, :title => 'go to investigation'

