.header-login-box
  %div
    = form_for( @user, :as => 'user', :url => user_session_path, :html => {:id=>"header-project-signin"} )  do |f|
      -# Set @after_sign_in_path in your controller if you want your user to be redirected after sign in completes.
      - if @after_sign_in_path.present?
        = hidden_field_tag('after_sign_in_path', @after_sign_in_path)
      %table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
        %tbody
          %tr.first-row
            %td
              = f.label :login, "Username",:for=>"header_login"
            %td.login-box
              = f.text_field :login,:id=>'header_login'
          %tr.second-row
            %td
              = f.label :password, "Password", :for=>"header_password"
            %td.password-box
              = f.password_field :password,:id=>'header_password',:class=>'text'
      .login-buttons
        %span.login-links
          %span.segmented.first
            =link_to "Can't log in?",forgot_password_path, :id=>"link_forgot_password"
          - unless defined? @hide_signup_link
            %span.segmented
              =link_to 'Sign Up', home_path
        %span.segmented
          = f.submit "Log In", :id=>"LoginSubmitButtonHeader"
        - Devise.omniauth_providers.each do |provider|
          %span.segmented
            - directPath = omniauth_authorize_path('user', provider)
            - authCheckPath = auth_check_path(provider: provider.to_s, popup: 'true')
            = link_to "Log In with #{provider.to_s.titleize}", 'javascript:void(0)', class: 'button', id: "#{provider.to_s.underscore}_login_button"
            :javascript
              jQuery(function() {
                var button = jQuery('##{provider.to_s.underscore}_login_button'),
                    path = '#{directPath}',
                    popup = '#{authCheckPath}',
                    redirect = '#{auth_after_path}';

                window.AutomaticallyClosingPopupLink.configure(button, path, popup, redirect);
              });

      .clear_both
