#actions_menu.dropdown
  %ul
    %li= run_link_for(@investigation)
    %li= toggle_all('activities')
    %li= link_to 'duplicate', duplicate_investigation_url(investigation)
    - if (investigation.changeable?(current_user))
      %li= link_to 'edit investigation details', edit_investigation_url(investigation)
    
%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu
    .action_menu_header_left
      .padded_content
      .padded_content
        = render :partial=>'shared/in_place_fields', :locals => {:item=>investigation}
    .action_menu_header_right
      = render :partial => "shared/notes_menu", :locals => {:authorable => investigation}
      = dropdown_button "actions.png", :title => "actions for this investigation"
      - if (investigation.changeable?(current_user))
        = link_button "add.png", add_activity_investigation_path(investigation), :title => "add new activity"
      - else
        = link_button "add_disabled.png", "#", :title => "can't add activities"