%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu_header_left
    .padded_content
      = render :partial=>'shared/in_place_fields', :locals => {:item=>investigation}
  .action_menu_header_right
    %ul.menu
      / %li= toggle_more(investigation,"activities_actions", "show/hide activities")
      %li= run_link_for(@investigation)
      %li= toggle_all 'activity descriptions'
      %li= link_to 'duplicate', duplicate_investigation_url(investigation)
      / %li= edit_button_for(investigation, :complete => mce_init_string())
      - if (investigation.changeable?(current_user))
        %li= link_to_remote 'add activity', :complete => mce_init_string(), :url => add_activity_investigation_path(investigation),:html => {:class=>'action'}
        %li{:class => 'menu delete'}= delete_button_for(investigation)

