%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu_header_left
    .padded_content
      %h3= in_place_editor_field :investigation, 'name'
      .tiny=in_place_editor_field :investigation, 'description', {},{:rows=>3, :cols=>80}
  .action_menu_header_right
    %ul.menu
      / %li= toggle_more(investigation,"sections_actions", "show/hide sections")
      %li= link_to 'duplicate', duplicate_investigation_url(investigation)
      / %li= edit_button_for(investigation, :complete => mce_init_string())
      %li= link_to_remote 'add section', :complete => mce_init_string(), :url => add_section_investigation_path(investigation),:html => {:class=>'action'}
      %li= toggle_all 'section descriptions'
      %li{:class => 'menu delete'}= delete_button_for(investigation)

