.action_menu
  .action_menu_left
    %ul#sections.sortable
      %li
        = component.name
        - if RAILS_ENV == "development"
          =" :[#{component.id}]"
  .action_menu_right
    - x = { :a => 123 }
    %ul
      %li
        = toggle_more(component)
      %li
        - if textarea
          - options = { :complete => 'tinyMCE.init({mode:"textareas",theme:"advanced",theme_advanced_toolbar_location:"top",theme_advanced_buttons1:"justifyleft,justifycenter,justifyright,justifyfull,|,bold,italic,underline,strikethrough,|,fontselect,fontsizeselect|,bullist,numlist,hr|,undo,redo,link,unlink,image",theme_advanced_toolbar_align:"left",theme_advanced_buttons2:"",theme_advanced_buttons:"",theme_advanced_statusbar_location:"bottom",theme_advanced_resizing:true});' }
          = edit_button_for(component, options)
        - else
          = edit_button_for(component)
      %li
        = yield :delete_button

