- field_set_tag 'login info' do
  .aligned  
    %table.form
      %tr
        %td= label_tag :user, 'Login: ', :class=>"right"
        %td= text_field :user, :login, {:live => false} 

      %tr
        %td= label_tag :user, 'Password: ', :class=>"right"
        %td= password_field :user, :password, {:live => false}

      %tr
        %td= label_tag :user, 'Password again: ', :class=>"right"
        %td= password_field :user, :password_confirmation, {:live => false}
