= field_set_tag 'login info' do
  .aligned  
    %ul
      %li
        = label_tag :user, 'Login: ', :class=>"right"
        = text_field :user, :login, {:live => false} 

      %li
        = label_tag :user, 'Password: ', :class=>"right"
        = password_field :user, :password, {:live => false}

      %li
        = label_tag :user, 'Password again: ', :class=>"right"
        = password_field :user, :password_confirmation, {:live => false}