%tr
  %td= label_tag :user, 'Login: '
  %td= text_field :user, :login

%tr
  %td= label_tag :user, 'Password: '
  %td= password_field :user, :password

%tr
  %td= label_tag :user, 'Password again: '
  %td= password_field :user, :password_confirmation
