%li#home.trail= link_to 'Home', home_path
%li.trail= link_to 'About', about_path
= render :partial => 'shared/extra_nav'
- if current_user.has_role?('admin', 'manager', 'researcher', 'author')
  %li.trail=link_to('Authoring', authoring_path)
- unless current_user.only_a_student?
  %li.trail= link_to 'Browse Instructional Materials' , search_path
- if current_user.has_role?('admin', 'manager','researcher')
  %li.trail= link_to 'Admin', admin_path
- if current_project.help_type == 'external url'
  - external_url = current_project.external_url
  - if(!(/^http/.match(external_url)))
    - external_url = 'http://' + external_url
  %li.trail=link_to'Help', 'javascript: void(0)', :id=>'help',:onclick=>"window.open('#{external_url}','help_page','fullscreen=yes')"
- if current_project.help_type == 'help custom html'
  %li.trail=link_to'Help', '/help/index', :id=>'help'
