- show_collections_menu = (current_settings ? current_settings.show_collections_menu : false) && (current_visitor.has_role?('admin') || current_visitor.portal_teacher) && (current_visitor.projects_with_landing_pages.length > 0)

- unless current_visitor.has_role?('guest')
  #nav_top
    %span.hidden.doNotPrint
      Navigation:
    %ul.menu_h
      %li#home.trail= link_to 'Home', current_visitor.has_active_classes? ? recent_activity_path : home_path
      = render :partial => 'shared/extra_nav'
      - unless @emulate_anonymous_user
        - anon_can_browse = current_settings ? current_settings.anonymous_can_browse_materials : true
        - unless current_visitor.only_a_student? || (current_visitor.anonymous? && !anon_can_browse)
          %li.trail= link_to 'Search' , search_path

        - if current_visitor.has_role?('admin', 'manager','researcher')
          %li.trail= link_to 'Admin', admin_path

      - if current_visitor.has_role?('admin') || current_visitor.portal_teacher
        - current_visitor.projects.each do |project|
          - project.links.each do |link|
            %li.trail.project_link= link_to link.name, link.href

      - if show_collections_menu
        %li.trail= link_to 'Collections', '#collections_menu'

      %li.trail= link_to 'About', about_path
      - #A developer can load home page without initializing data in database
      - if current_settings && (current_visitor.has_role?('admin') || current_visitor.portal_teacher)
        - case current_settings.help_type
        - when 'external url'
          %li.trail=link_to'Help', 'javascript: void(0)', :id=>'help',:onclick=>"window.open('/help','help_page','height = 700 width = 800, resizable = yes, scrollbars = yes');"
        - when 'help custom html'
          %li.trail=link_to'Help', 'javascript: void(0)', :id=>'help',:onclick=>"window.open('/help','help_page','height = 700 width = 800, resizable = yes, scrollbars = yes');"
        - when 'no help'
          %li.trail.hide-menu-item{:style=>"display:none"}=link_to'Help', 'javascript: void(0)', :id=>'help'

- if show_collections_menu
  #collections_menu
    %ul
      - Admin::Project.with_landing_pages.each do |project|
        %li= link_to project.name, "/#{project.landing_page_slug}"
