-if offering.runnable
  .item
    %ul.quiet_list
      - if offering.resource_page?
        %li= link_to "View #{offering.name}", offering.runnable
      - else
        %li
          = run_link_for(offering,nil,{:link_text=>"run #{offering.name}"})
        %li
          .tiny= offering.description