- offering_status = Report::OfferingStatus.new(offering)
- offering_statuses = [offering_status]
- student_status = offering_status.student_status_for(@portal_student)
/ TODO move the above outside of the view.
.offering_for_student
  %p
    %span.type= runnable_type_label(offering) + ":"
    %span.name= offering.name
    %span.last_run= student_status.last_run_string
  %p.description= offering.description
  .run_buttons
    %input.button{:type => "button", :value => "Run by Myself"  }
    %input.button{:type => "button", :value => "Run with Other Students"}
  .status_graphs
    - if student_status.never_run
      .not_run
        You haven't started this yet. 
    - else
      - offering = offering_status.offering
      - percentage = offering_status.complete_percent(@portal_student)

      %table.status_graphs
        %tr.summary
          %td.disclosure_widget
            ▶
          %td.summary
            .graph
              = bar_graph(percentage)
          %td.label
            completion

      
        - activities = offering_status.student_activities
        - if offering_status.student_activities && offering_status.student_activities.length > 0
          - activities.each do |activity|
            - percentage = offering_status.activity_complete_percent(@portal_student, activity)
            %tr.details
              %td
              %td.graph
                = bar_graph(percentage)
              %td.label= activity.name
  
  .lightbox_report_link
    =link_to "Generate a report of my work", student_report_portal_offering_url(offering)