- offering_status = Report::OfferingStatus.new(offering)
- offering_statuses = [offering_status]
- student_status = offering_status.student_status_for(@portal_student)
/ TODO move the above outside of the view.
.offering_for_student
  %p
    %span.type= runnable_type_label(offering) + ":"
    %span.name= offering.name
    %span.last_run= student_status.last_run_string
  %p.description= offering.description
  .run_buttons
    %a.button.run.solo{:href => run_url_for(offering) }
      Run by Myself
    %a.button.run.in_group{:href => run_url_for(offering) }
      Run with Other Students
  / displayed when the student is already running the activity.
  .run_in_progress{:style => "display: none;"}
    .status
      %span.wait_image
        =image_tag('wait16.gif')
      .message.waiting
        Please wait while your activity loads
        %span.wait_counter
  .status_graphs
    - if student_status.never_run
      .not_run
        You haven't started this yet. 
    - else
      - percentage = offering_status.complete_percent(@portal_student)
      - activities = offering_status.student_activities
      - has_activities = offering_status.student_activities && offering_status.student_activities.length > 1
      - single = !has_activities
      %table.status_graphs
        - if single
          %tr.summary
            %td
            %td.summary
              .graph
                = bar_graph(percentage)
            %td.label
              = offering.name

        - else
          %tr.summary
            %td.disclosure_widget
              ▶
            %td.summary
              .graph
                = bar_graph(percentage)
            %td.label
              completion
          - activities.each_with_index do |activity,i|
            - css_classes = "graph"
            - css_classes << ' top_border' if i == 0
            - percentage = offering_status.activity_complete_percent(@portal_student, activity)
            %tr.details
              %td
              %td{:class => css_classes}
                = bar_graph(percentage)
              %td{:class => css_classes}= activity.name
  
  .lightbox_report_link
    =link_to "Generate a report of my work", student_report_portal_offering_url(offering)
