%div{ :id => dom_id_for(offering), :class => 'offering' }
  = accordion_for(offering, preview_link_for(offering.runnable, nil, :link_text => offering.runnable.name)) do  
    %div{:id => dom_id_for(offering, :details), :class => 'tiny'}
      %span.author= offering.runnable.user.name
      %p= offering.runnable.description
      %p= updated_time_text(offering.runnable)
= draggable_element dom_id_for(offering), :revert => true          