- offering_status = Report::OfferingStatus.new(offering)
- offering_statuses = [offering_status]
- student_status = offering_status.student_status_for(@portal_student)
/ TODO move the above outside of the view.
.offering_for_student
  %p
    %span.type= runnable_type_label(offering) + ":"
    %span.name= offering.name
    %span.last_run some fake launch time
  %p.description= offering.description
  .run_buttons
    %input.button{:type => "button", :value => "Run by Myself"  }
    %input.button{:type => "button", :value => "Run with Other Students"}
  .progress_div.webkit_scrollbars
    %table.reportsummary{:cellspacing=>"0", :cellpadding=>"0", :border=>"0"}
      - if student_status.never_run
        .not_run
          You haven't started this yet.
      - else
        = render :partial => 'clazz_student_report_summary_header',
          :locals=> {:offering_statuses => offering_statuses, :show_investigation_row => false}
        = render :partial => 'clazz_student_report_learner_progress',
          :locals=> {:offering_statuses => offering_statuses, :student => @portal_student}
  .lightbox_report_link
    =link_to "Generate a report of my work", student_report_portal_offering_url(offering)