%div{:id => dom_id_for(page,:item), :class =>"action_menu"}       
  .action_menu
    .action_menu_header_left
      .padded_content
        %h3= in_place_editor_field :page, 'name'
        .tiny= in_place_editor_field :page, 'description', {},{:rows=>3, :cols=>80}
    .action_menu_header_right
      %ul.menu
        %li= link_to 'duplicate', duplicate_page_url(page)
        / %li= edit_button_for(page, :complete => mce_init_string())
        %li= dropdown_link_for(:text => "add content", :id=> 'add_content_menu', :content_id => 'content_menu')
        %li= toggle_all('elements')
        %li= link_to toggle_link_title('preview', 'edit'), preview_page_path(page)
        %li= delete_button_for(page)
