#lead.project-header
  %h1{:class => theme_name}
    %a{ :href => root_path }= "#{APP_CONFIG[:site_name]}"
- if current_visitor.anonymous?
  = render :partial => "shared/header_login_box"
- else
  .welcome-box
    %table{ :width => "100%" }
      %tbody
        %tr
          %td
            %b
              Welcome
              = "#{current_visitor.name}"
            %br
            = link_to 'My Preferences', preferences_user_path(current_visitor)
            - if @original_user != current_visitor
              |
              - switch_user_form_id = "switch_user_id_#{@original_user.id}"
              = link_to 'Switch Back','javascript: void(0);',:onclick => "$('#{switch_user_form_id}').submit();"
              = form_for @original_user, :url => switch_user_path(@original_user), :html => { :method => :put,:class=> "hidden" ,:id=> switch_user_form_id}  do |form|
                = hidden_field_tag 'user[id]', @original_user.id
                = hidden_field_tag 'commit', 'Switch'
            |
            = link_to 'Log Out', logout_path           
#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
