- if current_visitor.anonymous? || @emulate_anonymous_user
  %div{:id => "portal-pages-header", :style => { alignContent: "left" } }

  - providers = []
  - Devise.omniauth_providers.each do |provider|
    - name = "#{provider.to_s.underscore}"
    - display_name = "#{provider.to_s.titleize}"
    - directPath = omniauth_authorize_path('user', provider, after_sign_in_path: params[:after_sign_in_path])
    - authCheckPath = auth_check_path(provider: provider.to_s, popup: 'true')
    - providers.push({ name: "#{name}", display_name: "#{display_name}", directPath: "#{directPath}", authCheckPath: "#{authCheckPath}" })

  %script{:type=>"text/javascript"}
    PortalPages.renderPageHeader( { oauthProviders: #{raw providers.to_json} }, "portal-pages-header");
- else
  #lead.project-header
    %h1{:class => theme_name}
      %a{ :href => root_path }= "#{APP_CONFIG[:site_name]}"
    %ul{:class => 'portal-pages-main-nav-contain'}
      %li{:class => 'portal-pages-main-nav-item'}
        = link_to 'Collections', '/collections'
      %li{:class => 'portal-pages-main-nav-item'}
        = link_to 'About', '/about', :class => 'portal-pages-main-nav-item__link'
      %li{:class => 'portal-pages-main-nav-item'}
        %a{:href => '/recent_activity', :class => 'portal-pages-main-nav-item__link button register'}
          %i{:class => 'icon-home'}
          Home
      %li{:class => 'portal-pages-main-nav-item'}
        %a{:href => '/users/sign_out', :class => 'portal-pages-main-nav-item__link button log-in'}
          %i{:class => 'icon-login'}
          Log Out
