#userlinks
  %p
    Welcome
    = "#{current_user.name}."
  %ul
    - unless current_user.anonymous?
      %li= link_to 'Help', '/help'
      %li= link_to 'Preferences', preferences_user_path(current_user)
      %li.last= link_to 'Logout', logout_path
    - else
      %li= link_to 'Login', login_path
      %li= link_to 'Login with Schoology', "/auth/schoology"
      %li= link_to 'Sign Up', pick_signup_path
    - if @original_user.has_role?('admin', 'manager')
      - if @original_user != current_user
        - switch_user_form_id = "switch_user_id_#{@original_user.id}"
        %li.last= link_to 'Switch Back','javascript: void(0);',:onclick => "$('#{switch_user_form_id}').submit();"
        - form_for @original_user, :url => switch_user_path(@original_user), :html => { :method => :put,:class=> "hidden" ,:id=> switch_user_form_id}  do |form|
          = hidden_field_tag 'user[id]', @original_user.id
          = hidden_field_tag 'commit', 'Switch'
      - else
        %li.last= link_to 'Switch', users_path

      = render :partial => 'shared/activity_trail'
-# the following div fixes a layout bug which hid the #userlinks div in IE7
%div
#lead.project-header
  %h1{:class => current_theme}
    %a{ :href => "/" }= "#{current_project.name}"

#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'

