#userlinks
  %p
    Welcome
    = "#{current_user.name}."
  %ul
    - unless current_user.anonymous?
      %li= link_to 'Preferences', preferences_user_path(current_user)
      %li.last= link_to 'Logout', logout_path
    - else
      %li= link_to 'Login', login_path
      %li= link_to 'Sign Up', pick_signup_path
    - if @original_user.has_role?('admin', 'manager')
      %li.last= link_to 'Switch', switch_user_path(current_user)

      = render :partial => 'shared/activity_trail'
-# the following div fixes a layout bug which hid the #userlinks div in IE7
%div 
#lead.project-header
  %h1{:class => current_theme}
    %a{ :href => "/" }= "#{current_project.name}"

#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
  %ul.menu_h_right
    = render :partial => 'shared/admin_nav_trail'

