#lead.project-header
  %h1{:class => theme_name}
    %a{ :href => "/" }= "#{APP_CONFIG[:site_name]}"
- if current_user.anonymous?
  = render :partial => "shared/header_login_box"
- else
  .welcome-box
    %table
      %tbody
        %tr
          %td
            %b
              Welcome
              = "#{current_user.name}"
          %td.logout-link
            = link_to 'Log Out', logout_path, :class=>"button pie"
        %tr
          %td
            = link_to 'My Preferences', preferences_user_path(current_user)
#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
