#lead.project-header
  %h1{:class => theme_name}
    %a{ :href => "/" }= "#{APP_CONFIG[:site_name]}"
- if current_user.anonymous?
  .header-login-box
    %div
      = form_tag session_path, :id=>"header-project-signin" do
        %table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
          %tbody
            %tr.first-row
              %td
                %label{:for=>"header_login"}Username
              %td.login-box
                %input{:type=>"text", :id=>"header_login", :value=> @login, :name=>"login"}
            %tr.second-row
              %td
                %label{:for=>"header_password"}Password
              %td.password-box
                %input{:type=>"password", :id=>"header_password", :class=>"text", :name=>"password"}
            %tr.third-row
              %td{:colspan=>"2"}
                %input{:type=>"submit", :id=>"LoginSubmitButtonHeader",:value=>"GO"}
        .clear_both
        .login-links
          =link_to 'Forgot your user name or password?',forgot_password_path, :id=>"link_forgot_password"
          =link_to 'Sign up for an account', pick_signup_path
- else
  .welcome-box
    %table
      %tbody
        %tr
          %td
            %b
              Welcome
            = "#{current_user.name}."
          %td.logout-link
            = link_to 'Logout', logout_path, :class=>"button pie"
#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
