- locals = {:portal_clazz_id => portal_clazz_id, :domain_id => domain_id, :user => current_user, :grade_span => grade_span, :name => "", :hide_print => true}
- locals[:hide_drafts_checkbox] = (!APP_CONFIG[:allow_drafts_in_assignments])

= render :partial => "#{TOP_LEVEL_CONTAINER_NAME_PLURAL}/search_form", :locals => locals
.tiny To add assignments to your class, drag the investigations below to your class assignments list above. If there are no #{TOP_LEVEL_CONTAINER_NAME_PLURAL} listed below, select and/or enter some search options in the form above.
= observe_form "#{TOP_LEVEL_CONTAINER_NAME}_search_form", :url => send("list_filter_#{TOP_LEVEL_CONTAINER_NAME}_url"), :frequency => 1, :before => "PendingStart();", :complete=> "PendingEnd();", :update => {:success => 'offering_list'}
#assignable_list
  = render_top_level_container_list_partial(locals)
  - Assignable.other_assignable_types.each do |klass|
    = render :partial => "shared/runnables_listing", :locals => { :runnables => klass.search_list(locals), :klass => klass.to_s, :hide_print => true }
