#actions_menu.dropdown
  %ul
    %li= run_link_for(@section)
    %li= print_link_for(@section)
    %li#copy_link copy (disabled)
    %li= toggle_all('pages')
    - if (section.changeable?(current_user))
      %li= link_to 'duplicate', duplicate_section_url(section)
      %li#paste_link= paste_link_for(['page'],{:container_id => @container_id}) # see pages_helper.rb
%div{:id => dom_id_for(section,:item), :class =>"action_menu"}
  .action_menu
    .action_menu_header_left
      .padded_content
      .padded_content
        = render :partial=>'shared/in_place_fields', :locals => {:item=>section}
    .action_menu_header_right
      = render :partial => "shared/notes_menu", :locals => {:authorable => section}
      = dropdown_button "actions.png", :title => "actions for this page"
      - if (section.changeable?(current_user))
        = remote_link_button "add.png", :url => add_page_section_path(section), :title => "add new page"
        - if (section.activity)
          = delete_button_for(section, :redirect => url_for(section.activity))
        - else
          = delete_button_for(activity)
      - if (section.activity)
        = link_button "up.png", section.activity, :title => 'go to activity'

