.action_menu
  .action_menu_header_left
    %ul
      %li
        = section.name
        - if RAILS_ENV == "development"
          =" :[#{section.id}]"
  .action_menu_header_right
    %ul
      %li
        = toggle_more(section,"page_actions", "show/hide pages")
      %li
        = toggle_more(section, dom_id_for(section, :meta), 'edit')     

%div{:id => dom_id_for(section, :meta), :style=>"display: none;"}
  = render :partial => "sections/remote_form", :locals => {:section => section}
