%div{:id => dom_id_for(section,:item), :class =>"action_menu"}
  .action_menu_header_left
    .padded_content
    .padded_content
      = render :partial=>'shared/in_place_fields', :locals => {:item=>section}
  .action_menu_header_right
    %ul.menu
      / %li= toggle_more(section,"page_actions", "show/hide pages")
      %li= link_to 'run', section_url(@section, :format => :jnlp), :title => "Start just this Section from the Activity: '#{@section.investigation.name}' in a Java application. The first time you run this it may take a while to startup as the Java code is downloaded and saved on your hard drive."
      %li= link_to 'duplicate', duplicate_section_url(section)
      / %li= edit_button_for(section, :complete => mce_init_string())
      %li= toggle_all 'pages'
      / %li{:class => 'menu delete'}= delete_button_for(section)
      - if (section.changeable?(current_user))
        %li= link_to_remote 'add page', :complete => mce_init_string(), :url => add_page_section_path(section), :html => {:class=>'action'}
