-# Expects locals: object
- if object && object.respond_to?("sensor_list") && current_visitor.has_role?("admin", "manager")
  = field_set_tag 'Sensors' do
    .aligned
      = hidden_field_tag :update_sensors, "true"
      %ul.menu_h
        - Admin::Tag.find_all_by_scope("sensors").each do |admin_tag|
          %li
            - label_str = "sensors_#{admin_tag.tag.underscore}"
            = label_tag label_str, admin_tag.tag
            = check_box_tag "sensors[]", admin_tag.tag, object.sensor_list.include?(admin_tag.tag), :id => label_str
