-# Expects locals: object
- if object && object.respond_to?("subject_area_list") && current_visitor.has_role?("admin", "manager")
  = field_set_tag 'Subject Areas' do
    .aligned
      = hidden_field_tag :update_subject_areas, "true"
      %ul.menu_h
        - Admin::Tag.find_all_by_scope("subject_areas").sort_by {|sub| sub[:tag].downcase}.each do |admin_tag|
          %li
            - label_str = "subject_areas_#{admin_tag.tag.underscore}"
            = label_tag label_str, admin_tag.tag
            = check_box_tag "subject_areas[]", admin_tag.tag, object.subject_area_list.include?(admin_tag.tag), :id => label_str
