- show_detail = nil if local_assigns[:show_detail].nil?
%div{:id => dom_id_for(model, :details), :class => 'content'}
  = wrap_edit_link_around_content(model, options={:complete => mce_init_string, :class => 'foobar edit'}) do
    - if (show_detail)
      %p
        %h2= model.name
    - if model.image_url
      - style = show_detail ? '' : "float: right"
      %div{:style => style}
        - if (show_detail)
          =image_tag(model.image_url)
        - else
          =image_tag(model.image_url, :size => '100x100')
    %p= model.description
    %p
      - if (show_detail)
        %b Instructions:
        = model.instructions
        %br
        %b Public?
        = model.public ? "yes" : "no"
        %br
        %b Publication status:
        = model.publication_status
        %br
      %b Author:
      - if model.user
        = model.user.first_name + " " + model.user.last_name
      %br
      %b Credits:
      = model.credits
      %br
      %b Model type:
      = model.model_type.name
      - if (show_detail)
        %br
        %b Authored Data URL:
        = model.url
    %div{:style => "clear:both"}