- options = {}
%br
.clazz_info{:id => dom_id_for(portal_clazz,:item)}
  .clazz_details{:id => dom_id_for(portal_clazz, :details)}
    %h1 
      #{portal_clazz.name} 
      - if portal_clazz.semester
        (#{portal_clazz.semester.name})
    .action_menu
      .action_menu_header_left
      .action_menu_header_right
        -if portal_clazz.changeable? current_user
          %ul.menu
            - edit_url = edit_portal_clazz_url(portal_clazz)
            - preview_url = preview_portal_clazz_url(portal_clazz)
            %li.menu=link_to("preview",preview_url, {:class => "button" })
            %li.menu=link_to("edit",edit_url,{:class => "button" })
      %div #{portal_clazz.description}
    
    .block_list
      - if portal_clazz.changeable? current_user
        This is a preview of how your students will see the activities when they sign in.
        %br
      -#%ul
        -#%li
          -#%strong="Class word: #{portal_clazz.class_word}"
        -#%li
          -#%strong Teachers:
          -#= (portal_clazz.teachers.size > 0) ? portal_clazz.teachers.collect { |t| t.name }.join(", ") : "no teachers"
        -#- if portal_clazz.semester
          -#%li
            %strong Semester:
            = portal_clazz.semester.name
        -#- unless portal_clazz.description.empty?
          -#%li
            -#%strong Description:
            -#= portal_clazz.description

