- options = {}
%br
.clazz_info{:id => dom_id_for(portal_clazz,:item)}
  .clazz_details{:id => dom_id_for(portal_clazz, :details)}
    .action_menu
      .action_menu_left
        %h3="#{portal_clazz.name}"
      .action_menu_right
        -if portal_clazz.changeable? current_user
          =link_to("edit",edit_portal_clazz_url(portal_clazz))
    .block_list
      %ul
        %li
          %strong="Class word: #{portal_clazz.class_word}"
        %li
          %strong Teachers:
          = (portal_clazz.teachers.size > 0) ? portal_clazz.teachers.collect { |t| t.name }.join(", ") : "no teachers"
        - if portal_clazz.semester
          %li
            %strong Semester:
            = portal_clazz.semester.name
        - unless portal_clazz.description.empty?
          %li
            %strong Description:
            = portal_clazz.description

