= render :partial =>'portal/clazzes/show', :locals => {:portal_clazz => @portal_clazz}

%h4= "Assigned activities (#{@portal_clazz.offerings.size})"
- if @portal_clazz.is_teacher?(current_user) || current_user.has_role?("admin", "manager", "researcher")
  = render :partial => 'shared/offering_for_teacher', :collection => @portal_clazz.offerings, :as => :offering
- else
  = render :partial => 'shared/offerings_for_student', :locals => { :offerings => @offerings,  :portal_clazz => @portal_clazz}

- if @portal_clazz.is_teacher?(current_user) || current_user.has_role?("admin")
  = render :partial => 'portal/students/list_for_clazz', :locals => {:portal_clazz => @portal_clazz}
