

.material_list_item{ :id => 'search_{material.class_name_underscored}_{material.id}',
                     :'data-material_name' => '{material.name}',
                     :'data-material_id' => '{material.id}' }
  .main-part
    .material_icon
      = '{material.icon_url}'
    %div
      %div{:style=>'{{overflow: "hidden"}}' }
        %table{:width=>"100%"}
          %tr
            %td
            %td
              %span.material_header
                %span.material_meta_data
                  %span{:class => '{material.java_requirements}'}
                    = '{material.java_requirements}'
                  %span.is_official
                    { material.is_official ? 'Official' : 'Community' }
                %br
                  = '{material.show_link ? material.show_link : material.name}'
                  = '{material.edit_link}'
                  = '{material.launch_url}'
              %span
                from
                = 'Sequence "{material.parent.name}"'
              %div
                %span{:style=>"{{font-weight: 'bold'}}"}
                  ="By {material.user.name}"
            %td{:width=>"90px"}
              %div{:style=>"{{float: 'right'}}"}
                = '{material.preview_link}'
            = '{material.external_edit_link}'
            = '{material.external_copy_link}'
            = '{material.assign_material_link}'
            = '{material.teacher_guide_link}'
            = '{material.assign_collection_link}'

          %tr
            %td{:colspan=>3}
              %span.assignedTo
                = '(Assigned to {material.assigned_classes})'
    .material_body
      %div
        %i
          = '{material.class_usage_text}'
      = '{material.required_equipment}'

  .toggle-details
    %i.toggle-details-icon.fa.fa-chevron-down
    %i.toggle-details-icon.fa.fa-chevron-up{style: "{{display: 'none'}}"}

    .material-details{style: "{{display: 'none'}}"}
      .material-description{:class => '{(material.has_activities || material.has_pretest) ? "two-cols" : "one-col"}' }
        %h3 Description
        = '{material.description}'
      .material-activities
        = '{ material.has_pretest ? <h4>Pre- and Post-tests available.</h4> : "" }'
        = '{ material.has_activies ? <div><h3>Activities</h3><ul>{material.activity_names}</ul></div> : "" }'

