%div{:id => dom_id_for(data_table, :details), :class => 'content'}
  %table.data_table
    %thead
      %tr
        -1.upto(data_table.column_count) do |index|
          %th= data_table.heading(index)
    %tr
      -1.upto(data_table.visible_rows) do |row_index|
        %tr
        -1.upto(data_table.column_count) do |column_index|
          %td
            %input{:type=>"text", :name=>"data_table_data_#{row_index}_#{column_index}", :value=>"#{data_table.cell_data(row_index,column_index)}", :size=>6, :id=>"data_table_data_#{row_index}_#{column_index}"}
          
          