= field_set_tag "#{Investigation.display_name.pluralize} you've authored" do
  %ul
    - current_visitor.investigations.each do |inv|
      %li
        = link_to_container(inv)

- unless current_visitor.resource_pages.blank?
  = field_set_tag "#{ResourcePage.display_name.pluralize} you've authored" do
    %ul
      - current_visitor.resource_pages.each do |resource_page|
        %li
          = link_to resource_page.display_name, resource_page