= javascript_include_tag "search_materials.js"
- content_for :top_menu_items do
  =link_to(TOP_LEVEL_CONTAINER_NAME_PLURAL, investigations_path)

- if current_project.nil?
  You need to create a project object for this portal. One way to do this is run 
  %pre 
    bin/rake app:setup:new_app
- else
  %div
    .padded_content
    - if defined? home_page_preview_content
      - if home_page_preview_content.blank?
        - render_project_info
        = content_for :project_info
      -else
        = home_page_preview_content.html_safe
    - else
      - unless current_project.home_page_content.blank?
        - home_page_content = current_project.home_page_content
        = home_page_content.html_safe
      - else
        - render_project_info
        = content_for :project_info
