- students = offering.clazz.students 
- learners = offering.learners
- num_completed = 0
- num_in_progress = 0
- total_students = 0
- students.each do |student|
  - learner = learners.find_by_student_id(student.id)
  - report_learner = nil
  - if !learner.nil?
    - report_learner = learner.report_learner
    - total_complete_percent = report_learner.complete_percent
    - num_completed += (total_complete_percent == 100)? 1 :0
    - num_in_progress += (total_complete_percent > 0 && total_complete_percent < 100)? 1 :0
- num_not_started = students.length - (num_completed + num_in_progress)
- total_students = students.length
- if true
  %tr.legend_row
    %td.LeftMost_legend_completed{:style=>"width:#{(num_completed*100/total_students).round(0)}%"}          
    %td.Middle_legend_progress{:style=>"width:#{(num_in_progress*100/total_students).round(0)}%"}   
    %td.RightMost_legend_not_started{:style=>"width:#{(num_not_started*100/total_students).round(0)}%"}   
  %tr
    %td{:style=>"text-align:right;"}
      #{num_completed == 0 ? "": num_completed} 
    %td
      #{num_in_progress == 0 ? "": num_in_progress}
    %td
      #{num_not_started == 0 ? "": num_not_started}
- else
  no student has completed the Investigation