- runnable = offering_status.offering.runnable
- activities = []
- if runnable.is_a? ::Investigation
  - activities = runnable.activities.student_only
- else runnable.is_a? ::Activity
  - activities = [runnable]

- offering_status.student_statuses.each do |student_status|
  - total_complete_percent = student_status.complete_percent
  - user = student_status.student.user

  - case filter_percent
    - when 0
      - if total_complete_percent == 0
        %tr
          %td.student_name= user.full_name
    - when 100
      - if total_complete_percent == 100
        %tr
          %td.student_name= user.full_name
          %td{:title=>"#{student_status.last_run.strftime('%m/%d/%Y')}"}
            = student_status.last_run.strftime('%m/%d')
    - when -1
      - if total_complete_percent > 0 && total_complete_percent < 100
        %tr
          - activities.each do |activity|
            - percentage = student_status.activity_complete_percent(activity)
            %td.student_progress
              %div.progressbar_container
                .progressbar
                  - if percentage == 100
                    .progress.completed{:style=>"width:#{percentage}%"}
                  - else
                    .progress{:style=>"width:#{percentage}%"}