- runnable = offering.runnable
- activities = []
- if runnable.is_a? ::Investigation
  - activities = runnable.activities
- else runnable.is_a? ::Activity
  - activities = [runnable]

- if activities.length > 0
  - if offering.clazz.students.length > 0
    %table.inProgressSummary
      %tr
        %th
          In Progress              
        %th        
        - activity_counter = 0
        - activities.each do |activity|
          - activity_counter = activity_counter + 1
          - activity_name = (activity.name.nil?)? "Activity #{activity_counter}" : activity.name.truncate(10)
          %th{:id=>"activity_header_text#{activity.id}",:class=>"class",:title=>"#{activity.name}"}
            = activity_name
      = render :partial => 'recent_student_report_summary',:locals=> {:offering => offering,:filter_percent=>-1}
    %table.inProgressSummary
      %tr
        %th
          Not yet started              
      = render :partial => 'recent_student_report_summary',:locals=> {:offering => offering, :filter_percent=>0}
    %table.inProgressSummary
      %tr
        %th
          Completed              
      = render :partial => 'recent_student_report_summary',:locals=> {:offering => offering, :filter_percent=>100}
  - else
    .item
      No students have registered for this class yet.
- else
  %div.item No activities available in this offering.   
  
  
