- runnable = offering.runnable
- activities = []
- if runnable.is_a? ::Investigation
  - activities = runnable.activities
- else runnable.is_a? ::Activity
  - activities = [runnable]

- students.each do |student|
  - learner = learners.find_by_student_id(student.id)
  - report_learner = nil
  - total_complete_percent = 0
  - if !learner.nil?
    - report_learner = learner.report_learner
    - if !report_learner.nil?
      - total_complete_percent = report_learner.complete_percent

  - case filter_percent
    - when 0
      - if total_complete_percent == 0
        %tr
          %td.student_name
            =student.user.last_name + ", " + student.user.first_name
    - when 100
      - if total_complete_percent == 100
        %tr
          %td.student_name.locked_left
            = student.user.last_name + ", " + student.user.first_name
          %td
            = report_learner.last_run.strftime('%m/%d/%Y')
    - when -1    
      - if report_learner && total_complete_percent > 0 && total_complete_percent < 100
        - report_learner_activities = learner.learner_activities
        %tr
          %td.student_name.locked_left
            = student.user.last_name + ", " + student.user.first_name
            %td.date_locked_left
              = report_learner.last_run.strftime('%m/%d/%Y')
            - activities.each do |activity|  
              - percentage = 0
              - if !report_learner_activities.find_by_activity_id(activity.id).nil?
                - percentage = report_learner_activities.find_by_activity_id(activity.id).complete_percent   
              %td
                .progressbar
                  .progress{:style=>"width:#{percentage}%"}     