= form_tag '', :id => 'new-account-form' do
  = field_set_tag nil, id: 'common-fieldset' do
    .group
      .f-row= text_field_tag :first_name, nil, placeholder: 'First Name'
      .f-row= text_field_tag :last_name, nil, placeholder: 'Last Name'
      .f-row
        I am a
        = radio_button_tag :account_type, 'student', true, id: 'student_account'
        = label_tag :student_account, ' Student'
        = radio_button_tag :account_type, 'teacher', false, id: 'teacher_account'
        = label_tag :teacher_account, ' Teacher'

    .group
      .f-row= password_field_tag :password, nil, placeholder: 'Password'
      .f-row= password_field_tag :password_confirmation, nil, placeholder: 'Password Again'

    .group
      %button#continue-registration Sign Up for High Adventure Science!

  = field_set_tag nil, id: 'student-fieldset', class: 'hidden' do
    - if current_project.allow_default_class
      .f-row= hidden_field_tag :class_word, Portal::Clazz.default_class.class_word
    - else
      .group
        .f-row= text_field_tag :class_word, nil, placeholder: 'Class Word (not case sensitive)'
    - if current_project.use_student_security_questions
      .group
        .f-row Please select three questions from the menus below.
        .f-row If you forget your password, you will need to answer these questions correctly in order to receive a new one.
        .f-row= select_tag 'questions[]', nil, 'data-placeholder' => 'Select a question'
        .f-row= text_field_tag 'answers[]', nil, placeholder: 'Answer'
        .f-row= select_tag 'questions[]', nil, 'data-placeholder' => 'Select a question'
        .f-row= text_field_tag 'answers[]', nil, placeholder: 'Answer'
        .f-row= select_tag 'questions[]', nil, 'data-placeholder' => 'Select a question'
        .f-row= text_field_tag 'answers[]', nil, placeholder: 'Answer'

    .group
      .f-row
        = hidden_field_tag :over_18, false
        = check_box_tag :over_18, true
        I am 18 years old or older

    .group
      .f-row= submit_tag 'Submit', class: 'submit-form'

  = field_set_tag nil, id: 'teacher-fieldset', class: 'hidden' do
    .group
      .f-row= text_field_tag :login, nil, placeholder: 'Username'
      .f-row= text_field_tag :email, nil, placeholder: 'E-mail'
      .f-row= select_tag 'state', nil, 'data-placeholder' => 'Select a state'
      .f-row= select_tag 'district', nil, 'class' => 'hidden', 'data-placeholder' => 'Select a district'
      .f-row= select_tag 'school_id', nil, 'class' => 'hidden', 'data-placeholder' => 'Select a school'

    .group
      .f-row= submit_tag 'Submit', class: 'submit-form'
