= javascript_include_tag "import_model_library.js" 
%h2
  Authoring

%div{:style=> "margin: 1em; padding: 1em;"}
  %h4= "#{Investigation.display_name.pluralize} you've authored"
  %ul
    - current_visitor.investigations.each do |inv|
      %li
        = link_to_container(inv)
  = link_to "Create #{Investigation.display_name}", new_investigation_path, :class => 'button'

- if current_visitor.has_role?('admin') || current_visitor.resource_pages.present?
  %div{:style=> "margin: 1em; padding: 1em;"}
    %h4= "#{ResourcePage.display_name.pluralize} you've authored"
    %ul
      - current_visitor.resource_pages.each do |resource_page|
        %li
          = link_to resource_page.display_name, resource_page
    = link_to "Create #{ResourcePage.display_name}", new_resource_page_path, :class => 'button'

- if current_visitor.has_role?('admin') || current_visitor.external_activities.present?
  %div{:style=> "margin: 1em; padding: 1em;"}
    %h4= "#{ExternalActivity.display_name.pluralize} you've authored"
    %ul
      - current_visitor.external_activities.each do |item|
        %li
          = link_to item.name, item
    = link_to "Create #{ExternalActivity.display_name}", new_external_activity_path, :class => 'button'

- if current_visitor.has_role?('admin')
  %div{:style=> "margin: 1em; padding: 1em;"}
    %h4= "#{Interactive.display_name.pluralize} you've authored"
    %ul
      - current_visitor.interactives.each do |interactive|
        %li
          = link_to interactive.display_name, interactive_path(interactive)
    = link_to "Create #{Interactive.display_name}", new_interactive_path, :class => 'button'
    %div{:style=> "margin: 1em; padding: 1em;"}
    = link_to "Import #{Interactive.display_name.pluralize}", "", :id => 'import-model-library-popup', :class => 'button'

%div{:style=> "margin: 1em; padding: 1em;"}
  %h4= link_to "Create #{Image.display_name}", images_path, :class => 'button'
  
%div{:style=> "margin: 1em; padding: 1em;"}
  %h4= link_to "Author Feedback Sets", "#{APP_CONFIG[:authoring_site_url]}/c_rater/score_mappings?domain=#{root_url}&domain_uid=#{current_visitor.id}", :class => 'button',:target => "_blank"