= render :partial => "notice"

.landing-container
  .home-page-content
    - render_project_info
    = content_for :project_info
  - if current_visitor.anonymous?
    .signup-box
      = render partial: "home/signup"
= render partial: "home/featured_content"

- if !@portal_student
  = render :partial => "project_cards"
