<% domid = "page_#{page.id}" %> 
<li class="sortable_page" id="<%= domid %>">
  <%= link_to page.name, page_url(page) %> 
  <%= link_to_remote 'delete', :url => {
    :action => 'delete_page', 
    :params => {:page_id => page.id}
    },
    :html => {:class=>"delete"} %>

  <% if page.page_elements.size > 0 %>
    <div class="item">
      <ul>
        <% page.page_elements.each do | element | %>
          <div class="menu">
            <%= element.embeddable.name %>
          </div>
          <div class="content">
            <%= element.embeddable.description %>
          </div>
        <% end %>   
      </ul>
    </div>
  <% end %>   
</li>