<div class="step_editor">
  <%= link_to "back to #{@section.investigation.name}", investigation_url(@section.investigation) %> |
  <%= link_to 'edit', :action => 'edit' %> |
  <%= link_to_remote 'add page to section', :action => 'add_page' %>
  <h1>Showing pages for <%= @section.name %> section of &ldquo;<%= @section.investigation.name %>&rdquo;</h1>
	<%= render 	:partial => 'shared/investigation_side_menu',
				:locals => { :investigation => @section.investigation } %>

    <!-- 
	use link to remote here to add a new page...
	
        :url => {
            :controller => 'page_elements',
            :action => 'add_step',
            :investigation_id => @investigation.id,
            :kind => 'OpenResponse'} %>
    -->


  <!-- Allow for page reordering here? -->
  
	<% if @section.pages.size > 0%>
		<div id="pages_container" class="pages_container">
 		<ol id="page_{page.position}">
		<% @section.pages.each do | page |%>
			
			<li><%= link_to page.name, page_url(page) %></li>
				<% if page.page_elements.size > 0 %>
					<ul>
					<% page.page_elements.each do | element | %>
						<%= element.embeddable.name %>
						<%= element.embeddable.class %>
						<%= element.embeddable.description %>
					<% end %>
					</ul>
				<% end %>
		<% end %>
		</ol>
		</div>
 	<% end %>

  <%= link_to "back to #{@section.investigation.name}", investigation_url(@section.investigation) %>
</div>
