= render  :partial => 'shared/investigation_side_menu', :locals => { :investigation => @section.investigation }
= render  :partial => 'shared/investigation_trail', :locals => { :investigation => @section.investigation }

= render  :partial => 'shared/investigation_menu', :locals => { :investigation => @section.investigation }
= render  :partial => 'shared/investigation_tab_menu', :locals => { :investigation => @section.investigation }
= render  :partial => 'form'
= render  :partial => 'shared/section_tab_menu', :locals => { :section => @section }
    
%ol#section_pages_list.sortable.menu
  - @section.pages.each do |page|
    = render :partial => 'page_list_item', :locals => {:page => page} 
    = sortable_element :section_pages_list, :dropOnEmpty => true, :url=> {:action => 'sort_pages', :params => {:id => @section.id }}
