%div{id: dom_id_for(admin_firebase_app), class: 'container_element'}
  .action_menu
    .action_menu_header_left
      %h3= admin_firebase_app.name
    .action_menu_header_right
      %ul.menu
        %li
          %a{href:edit_admin_firebase_app_path(admin_firebase_app)} edit
        %li
          %a{href:url_for(action: :destroy, id:admin_firebase_app.id), data: {method: 'delete', confirm: "Delete this Firebas app?"} } delete
  %div{id: dom_id_for(admin_firebase_app, :item), class: 'item'}
    %div{id: dom_id_for(admin_firebase_app, :details), class: 'content'}
      %p
        %ul.menu_v
          %li
            Name:
            = admin_firebase_app.name
          %li
            Client Email:
            = admin_firebase_app.client_email
          %li
            Private Key:
            = admin_firebase_app.private_key.empty? ? "No private key found" : "...#{admin_firebase_app.private_key[-60..-1]}"
