%h3
  = "#{@offering.name} - #{current_user.first_name} #{current_user.last_name}"
- @reports.each do |report|
  = link_to time_str(report.created_at), { :action => 'learner_session_report', :id => report.id }, :popup => true
  %br
