.maincontainer.pie
  .container
    #portal-class-setup-form

- schools = []
- if portal_clazz.new_record?
  - if current_visitor.portal_teacher
    - schools = current_visitor.portal_teacher.schools
  - if schools.empty?
    - schools << Portal::School.find_by_name(APP_CONFIG[:site_school])
- schools = schools.map { |s| {id: s.id, name: s.name} }

- if portal_clazz.id.nil?
  - cancel_link = home_url
- else
  - cancel_link = materials_portal_clazz_url(portal_clazz)

- unassigned_teachers = (!portal_clazz.school.nil?) ? portal_clazz.school.portal_teachers - portal_clazz.teachers : []
- unassigned_teachers = unassigned_teachers.sort { |a,b| (a.list_name <=> b.list_name) }.map { |t| {name: t.list_name, id: t.id} }
- current_teachers = portal_clazz.teachers.sort { |a,b| (a.list_name <=> b.list_name) }.map { |t| {name: t.list_name, id: t.id} }

:javascript
  PortalComponents.renderPortalClassSetupForm({
    portalClass: #{portal_clazz.to_json},
    portalClassGrades: #{portal_clazz.grades.map {|g| g.name}.to_json},
    portalClassTeacher: #{portal_clazz.teacher ? {name: portal_clazz.teacher.name, id: portal_clazz.teacher.id}.to_json : nil},
    teachers: {
      current: #{current_teachers.to_json},
      unassigned: #{unassigned_teachers.to_json},
    },
    errors: #{portal_clazz.errors.to_json},
    schools: #{schools.to_json},
    enableGradeLevels: #{Admin::Settings.default_settings.enable_grade_levels?},
    activeGrades: #{APP_CONFIG[:active_grades].to_json},
    cancelLink: #{cancel_link.to_json}
  }, 'portal-class-setup-form');
