- options = { :complete => mce_init_string, :omit_delete => true }
%div{ :id => dom_id_for(admin_project), :class => "container_element" }
  = show_menu_for(admin_project, options)

  %div{:id => dom_id_for(admin_project, :item), :class => 'item'}
    %div{:id => dom_id_for(admin_project, :details), :class => 'content'}
      = wrap_edit_link_around_content(admin_project, options={:complete => mce_init_string}) do
        %h4= h(admin_project.name)
        %p
          %ul.menu_h
            %li
              Url: 
              = h(admin_project.url)
        - field_set_tag 'Maven Jnlp' do
          %p
            Maven Jnlp Server: 
            = admin_project.maven_jnlp_server.name
            %ul.menu_h
              -  maven_jnlp_info.each do |elem|
                %li= elem
        - field_set_tag 'Project Description' do
          %p= admin_project.description
