- if @manager_role
  = render :partial => 'show_for_managers', :locals => { :admin_project => admin_project }
- else
  - options = { :complete => mce_init_string, :omit_delete => true }
  %div{ :id => dom_id_for(admin_project), :class => "container_element" }
    = show_menu_for(admin_project, options)

    %div{:id => dom_id_for(admin_project, :item), :class => 'item'}
      %div{:id => dom_id_for(admin_project, :details), :class => 'content'}
        = wrap_edit_link_around_content(admin_project, options={:complete => mce_init_string}) do
          %h4= h(admin_project.name)
          %p
            %ul.menu_v
              %li
                Url: 
                = h(admin_project.url)
              %li
                Default Users:
                %b
                  - if admin_project.enable_default_users
                    enabled.
                  - else
                    disabled.
                (Default users should normally be disabled on a production system.)
              %li
                Student Security Questions:
                %b
                  - if admin_project.use_student_security_questions
                    enabled.
                  - else
                    disabled.
                (This option will allow students to reset their own passwords.)
              %li
                Default Class:
                %b
                  - if admin_project.allow_default_class
                    enabled.
                  - else
                    disabled.
                (This option will allow students to register without a class word.)
              %li
                Grade Levels for Classes:
                %b
                  - if admin_project.enable_grade_levels?
                    enabled.
                  - else
                    disabled.
                (This option will allow teachers to select grade levels during class creation.)
              %li
                Use Bitmaps in Labbook Exclusively:
                %b
                  - if admin_project.use_bitmap_snapshots?
                    Yes
                  - else
                    No
                (This option insures that all labbook entries are treated like simple images.)
              %li
                Teachers can author:
                - if admin_project.teachers_can_author?
                  %b
                    Yes
                  (Teachers are considered authors by default.)
                - else
                  %b
                    No
                  (Teachers are not considered authors by default and can only author when given the "author" role.)
              %li
                Use JavaClientLauncher:
                - if admin_project.opportunistic_installer?
                  %b
                    Yes
                  (The launcher will use an existing installation or automatically install the necessary jars if no installation is found.)
                - else
                  %b
                    No
                  (The launcher will use the configured jnlp directly, and launch via Java WebStart.)

              %li
                Teachers can create schools:
                - if admin_project.allow_adhoc_schools?
                  %b
                    Yes
                  (Teachers can create their own schools when registering.)
                - else
                  %b
                    No
                  (Teachers must choose their school from a list when registering.)
              %li
                Ask users to sign 
                consent form:
                - if admin_project.require_user_consent?
                  %b
                    Yes
                  (Users will be asked for consent to use their data in reports.)
                - else
                  %b
                    No
                  (Users will not be asked for consent to use their data in reports.)
              %li
                Use periodic bundle uploading:
                - if admin_project.use_periodic_bundle_uploading?
                  %b
                    Yes
                  (User data will be uploaded in smaller chunks at intervals throughout the session.)
                - else
                  %b
                    No
                  (User data will be uploaded in one large chunk at the end of the session.)
            = field_set_tag 'Maven Jnlp' do
              %p
                Jnlp CDN Hostname:
                = admin_project.jnlp_cdn_hostname
              %p
                Maven Jnlp Server:
                - if admin_project.maven_jnlp_server
                  = admin_project.maven_jnlp_server.name
                  %ul.menu_h
                    -  maven_jnlp_info.each do |elem|
                      %li= elem
                - else
                  no server configured
            = field_set_tag 'Geniverse Blog Integration' do
              %ul.menu_v
                %li
                  Wordpress blog site URL:
                  = admin_project.word_press_url
                %li
                  RPC Admin login:
                  = admin_project.rpc_admin_login
                %li
                  RPC Admin email:
                  = admin_project.rpc_admin_email
                %li
                  RPC Admin password:
                  %i
                    hidden
            = field_set_tag 'Project Description' do
              %p= admin_project.description
            = field_set_tag 'Home Page Content' do
              %p= admin_project.home_page_content.html_safe unless admin_project.home_page_content.nil?
            = render :partial => 'custom_css', :locals => { :admin_project => admin_project }
