= javascript_include_tag "preview_home_page.js" # include javascript to preview home page
= javascript_include_tag('preview_help_page.js')
= javascript_include_tag 'project_form'
%h1 New admin_project

= form_for(@admin_project,:html=>{:onsubmit=>"if(validate_project_form_help_page_settings(this)){tinyMCE.triggerSave(true,true)}else return false"}) do |f|
  = render :partial => 'form', :locals => { :admin_project => @admin_project, :f => f }
