- form_for(@page) do |f|
  = f.error_messages
  %ul.menu
    %li.menu= "Page details:"
    %li.menu= f.submit "Save"
  - field_set_tag 'Page Name' do
    = f.text_field :name

  - field_set_tag 'Page Description' do
    = f.text_area :description, :cols => 80, :rows => 5, :class => 'tinymce_textarea'
