- remote_form_for(page) do |f|
  = edit_menu_for(page, f)
  = f.hidden_field :section_id, :value => page.section.id
  - field_set_tag 'name' do
    = f.text_field :name, :id => 'name_field'
  - field_set_tag 'description' do
    = f.text_area :description, :id => 'description_field', :class => 'tinymce_textarea'
  
= javascript_tag("$('name_field').activate();");