- content_for("page_#{dom_id_for(page)}".to_sym) do
  %OTCompoundDoc{ :name => page.name }
    %bodyText
      - if teacher_mode && should_show_teacher_notes?(page)
        %object{ :refid => ot_refid_for(page, :tab_container) }/
      - else
        %object{ :refid => ot_refid_for(page, :tab_content) }/

- content_for(:library) do
  - page.page_elements.each do |element|
    = render :partial => "pages/element_container", :locals => { :teacher_mode => teacher_mode, :element => element, :component => element.embeddable, :page => @page }

  %OTCompoundDoc{ :local_id => ot_local_id_for(page, :tab_content), :name => page.name }
    %bodyText
      - if (for_teacher_only?(page) && teacher_mode) || (!for_teacher_only?(page))
        #content{ :class => for_teacher_only?(page) ? 'teacher_mode' : nil}
          - if page.section
            %p.page_title= "#{h(page.section.name)}  (#{h(page.name)})".html_safe

          - page.page_elements.each do |element|
            .element
              -# allow embeddables to control how they are referenced from the document
              - embeddable_doc_ref_symbol = "element_#{ot_dom_id_for(element.embeddable)}".to_sym
              - if content_for?(embeddable_doc_ref_symbol)
                yield(embeddable_doc_ref_symbol)
              - else
                %object{ :refid => ot_refid_for(element.embeddable) }

  %OTCompoundDoc{ :local_id => ot_local_id_for(page, :teacher_notes) }
    %bodyText
      %br
      %table.teacher_mode{:width=>"90%", :valign=>"top"}
        - if should_show_teacher_note? page, :investigation
          %tr{:valign=>"top"}
            %td{:width=>"25%"}
              %h3= "#{top_level_container_name.humanize.pluralize} notes:".html_safe
            %td
              .activity_teacher_note= page.section.investigation.teacher_note_otml

        - if should_show_teacher_note? page, :activity
          %tr{:valign=>"top"}
            %td{:width=>"25%"}
              %h3= "Activity notes:"
            %td
              .activity_teacher_note= page.section.activity.teacher_note_otml

        - if should_show_teacher_note? page, :section
          %tr{:valign=>"top"}
            %td{:width=>"25%"}
              %h3= "Section notes:"
            %td
              .section_teacher_note= page.section.teacher_note_otml
        - if page.has_good_teacher_note?
          %tr{:valign=>"top"}
            %td{:width=>"25%"}
              %h3="Page notes (#{page.name}):"
            %td
              .page_teacher_note= page.teacher_note_otml



  %OTTabContainer{:local_id => ot_local_id_for(page, :tab_container), :name => page.name}
    %tabs
      %entry{:key => page.name}
        %object{ :refid => ot_refid_for(page, :tab_content) }/
      %entry{:key => "Teacher notes"}
        %object{ :refid => ot_refid_for(page, :teacher_notes) }/

