<div class="step_editor">
  <%= link_to 'preview', @investigation %> |
  <%= link_to 'edit', :action => 'edit' %>
  <h1>Adding items to investigation &ldquo;<%= @investigation.title %>&rdquo;</h1>
  <% content_for(:sidebar) do %> 
    <div class="step_tree">
      <ul>
        <li class="section selected">
          <span class="title">Discovery</span>
        </li>
        <li class="section">
          <span class="title">Materials</span>
        </li>
        <li class="section">
          <span class="title">Safety</span>
        </li>
        <li class="section">
          <span class="title">Predict</span>
        </li>
        <li class="section">
          <span class="title">Investigate</span>
        </li> 
      </ul>
    </div>
  <% end %>

<!-- noah removed this from each link_to_remote below:
{ :class => "embeddable_button" },
not sure how it got there, or what it was supposed to do.
I will glg it. -->

  <span id="options" class="options menu">
    <span id="Xhtml" class='option'>
      <%= link_to_remote 'XHTML', 
        :url => {
            :controller => 'page_elements',
            :action => 'add_step', 
            :investigation_id => @investigation.id,
            :kind => 'Xhtml'} %>
    </span>

    <span id="MultipleChoice" class='option'>
      <%= link_to_remote 'MultipleChoice', 
        :url => {
            :controller => 'page_elements',
            :action => 'add_step', 
            :investigation_id => @investigation.id,
            :kind => 'MultipleChoice'} %>
    </span>
    
    <span id="OpenResponse" class='option'>
      <%= link_to_remote 'Open Response', 
        :url => {
            :controller => 'page_elements',
            :action => 'add_step',
            :investigation_id => @investigation.id,
            :kind => 'OpenResponse'} %>
    </span>
  </span>

  <div id="steps_container" class="steps_container">
    <ol id="steps">
      <%= render(:partial => "page_elements/steps", :object => @investigation) %> 
    </ol>
  </div>
  

  <%= link_to 'Show', @investigation %> |
  <%= link_to 'Back', pages_path %>
</div>
