


= render  :partial => 'shared/investigation_side_menu', :locals => { :investigation => @page.section.investigation }
= render 	:partial => 'shared/investigation_content_menu', :locals => { :investigation => @page.section.investigation } 

.menu
  %ul
    %li
      %b Insert:
    %li=link_to_remote 'Text Area', :url => { :action => 'add_element', :page_id => @page.id, :container => 'elements_container', :class_name => 'Xhtml' }   
    %li=link_to_remote 'Open Response', :url => {:action => 'add_element',  :page_id => @page.id, :container => 'elements_container', :class_name => 'OpenResponse' }
    %li=link_to_remote 'Data Collector', :url => {:action => 'add_element', :page_id => @page.id, :container => 'elements_container', :class_name => 'DataCollector' }

  %ol#elements_container.sortable
    - @page.page_elements.each do |element|
      = render :partial => 'element_container', :locals => {:component => element.embeddable || element, :page => @page }

  =sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } }
  = link_to "back to #{@page.section.name}", section_url(@page.section)
