<div class="step_editor">
	
  <%= link_to "back to #{@page.section.name}", section_url(@page.section) %> |
  <%= link_to 'edit', :action => 'edit' %> |
  <%= link_to_remote 'add xhtml element to this page', :action => 'add_xhtml' %> | 
  <%= link_to_remote 'add question element to this page', :action => 'add_xhtml' %>

  <h1>Showing page for <%= @page.name %> of &ldquo;<%= @page.section.name %>&rdquo; section</h1>
	<%= render 	:partial => 'shared/investigation_side_menu',
				:locals => { :investigation => @page.section.investigation } %>
    <!-- 
	use link to remote here to add a new page...
	
        :url => {
            :controller => 'page_elements',
            :action => 'add_step',
            :investigation_id => @investigation.id,
            :kind => 'OpenResponse'} %>
    -->

  <!-- Allow for page reordering here? -->
  <div id="elements_container" class="elements_container">
	<% if @page.page_elements.size > 0 %>
	<ol id="element_{element.id}">
		<% @page.page_elements.each do | element | %>
			<li>
				<%= element.embeddable.name %>
				<%= element.embeddable.class %>
				<%= element.embeddable.description %>
			</li>
		<% end %>
	</ol>
	<% end %>
 </div>

 <%= link_to "back to #{@page.section.name}", section_url(@page.section) %> |
 <%= link_to 'edit', :action => 'edit' %> |
 <%= link_to_remote 'add xhtml element to this page', :action => 'add_xhtml' %> | 
 <%= link_to_remote 'add question element to this page', :action => 'add_xhtml' %>

</div>
