
<% content_for(:content_header_left)  do %>
  <%= link_to "back to #{@page.section.name}", section_url(@page.section) %> |
  <%= link_to 'edit', :action => 'edit' %>
<% end %>

<div class="menu">
  Insert:
  <%= link_to_remote 'xhtml element', 
    :url => {
      :action => 'add_element', 
      :page_id => @page.id, 
      :container => 'elements_container',
      :class_name => 'Xhtml' } %> 

  | 
  <%= link_to_remote 'open response question', 
    :url => {
      :action => 'add_element', 
      :page_id => @page.id, 
      :container => 'elements_container',
      :class_name => 'OpenResponse' } %> 
  |

  <%= link_to_remote 'data collector', 
    :url => {
      :action => 'add_element', 
      :page_id => @page.id, 
      :container => 'elements_container',
      :class_name => 'DataCollector' } %>
</div>

<div class="content">

  <h1>Showing page for <%= @page.name %> of &ldquo;<%= @page.section.name %>&rdquo; section</h1>

  <%= render  :partial => 'shared/investigation_side_menu',
        :locals => { :investigation => @page.section.investigation } %>
  <%= render 	:partial => 'shared/investigation_content_menu', :locals => { :investigation => @page.section.investigation } %>


  <!-- Allow for page reordering here: -->
  <% if @page.page_elements.size > 0 %>
  <ol id="elements_container" class="sortable">
    <% @page.page_elements.each do |element| %>
      <%= render :partial => partial_for(element.embeddable), 
        :locals => {:component => element.embeddable, :page => @page} %>
    <% end %>
  </ol>
  <% end %>
  <%= sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } } %>


  <%= link_to "back to #{@page.section.name}", section_url(@page.section) %> |
  <%= link_to 'edit', :action => 'edit' %> 
  <%= sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } } %>
</div>
