

<!-- <h1>Showing page for <%= @page.name %> of &ldquo;<%= @page.section.name %>&rdquo; section</h1> -->  
<%= render  :partial => 'shared/investigation_side_menu', :locals => { :investigation => @page.section.investigation } %>
<%= render 	:partial => 'shared/investigation_content_menu', :locals => { :investigation => @page.section.investigation } %>

<div class="menu">
  <ul>
    <li>
      <b>Insert:</b>
    </li>
    <li>
      <%= link_to_remote 'xhtml', 
        :url => {
          :action => 'add_element', 
          :page_id => @page.id, 
          :container => 'elements_container',
          :class_name => 'Xhtml' } %> 
    </li>
    <li>
      <%= link_to_remote 'open response question', 
        :url => {
          :action => 'add_element', 
          :page_id => @page.id, 
          :container => 'elements_container',
          :class_name => 'OpenResponse' } %> 
    </li>
    <li>
      <%= link_to_remote 'data collector', 
        :url => {
          :action => 'add_element', 
          :page_id => @page.id, 
          :container => 'elements_container',
          :class_name => 'DataCollector' } %> 
    </li>
  </ul>
</div>

  <ol id="elements_container" class="sortable">
    <%= render :partial => 'element_container', :collection => @page.page_elements, :locals => { :page => @page } %>
  </ol>
  <%= sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } } %>
  
  
  <%= link_to "back to #{@page.section.name}", section_url(@page.section) %> |
  <%= link_to 'edit', :action => 'edit' %> 
  <%= sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } } %>
</div>
