= render  :partial => 'shared/investigation_trail', :locals => { :investigation => @page.section.investigation } 
= render  :partial => 'shared/investigation_menu', :locals => { :investigation => @page.section.investigation }
= render  :partial => 'shared/investigation_tab_menu', :locals => { :investigation => @page.section.investigation }
= render  :partial => 'shared/section_tab_menu', :locals => { :section => @page.section }

.action_menu
  .action_menu_left
    %ul#sections.sortable
      %li
        = @page.name
        - if RAILS_ENV == "development"
          = ":[#{@page.id}]"
  .action_menu_right
    %ul
      %li
      %li=link_to_function 'Add Content'
      %li=link_to_function 'edit'
      %li=delete_button_for(@page)
      

%ul#elements_container.sortable.menu

  - if @page.page_elements.size == 1
    - element = @page.page_elements[0]
    = render :partial => 'element_container', :locals => {:element => element, :editable => true, :component => element.embeddable, :page => @page }
  -else 
    - @page.page_elements.each_with_index do |element,i|
      = render :partial => 'element_container', :locals => {:element => element, :component => element.embeddable, :page => @page }

=sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id } }
