- remote_form_for(multiple_choice, :update => dom_id_for(multiple_choice, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(multiple_choice, f)
  .content
    - field_set_tag 'name' do
      = f.text_field :name, :id => dom_id_for(multiple_choice, :item, :name_field)
    - field_set_tag 'description' do
      = f.text_area :description, :id => dom_id_for(multiple_choice, :item, :textarea),:rows => 40, :class => 'tinymce_textarea'
      %fieldset#answers
        %legend 
          answers
        .action_menu
          .action_menu_header_right
            %ul
              %li= link_to_remote "add answer", :url => add_answer_multiple_choice_url(multiple_choice)
        #answers
        - f.fields_for :answers do |answer_form|
          = render :partial => "edit_answer", :locals => {:multiple_choice => multiple_choice, :form => answer_form}
