- is_author = current_visitor.has_role?('author')
- is_admin_or_manager = current_visitor.has_role?('admin', 'manager')
- is_admin_or_project_admin = is_admin_or_manager || current_visitor.is_project_admin?
- is_admin_or_project_admin_or_project_researcher = is_admin_or_project_admin || current_visitor.is_project_researcher?
- can_manage_permission_forms = current_visitor.can_manage_permission_forms?

%h2
  Administration

%div{ class: 'admin-links-cols' }
  - if is_admin_or_manager
    %div{ class: 'admin-links-cols__column' }
      %h3
        Site Admin Links
      %ul
        %li= link_to 'Auth Clients', admin_clients_path
        %li= link_to 'Authoring Sites', admin_authoring_sites_path
        %li= link_to 'Classes', portal_clazzes_path
        %li= link_to 'Cohorts', admin_cohorts_path
        %li= link_to 'Districts', portal_districts_path
        %li= link_to 'External Reports', admin_external_reports_path
        %li= link_to 'Firebase Apps', admin_firebase_apps_path
        %li= link_to 'Import Activities (Batch)' ,batch_import_status_import_imports_path
        %li= link_to 'Import Schools and Districts' , import_school_district_status_import_imports_path
        %li= link_to 'Import Users' , import_user_status_import_imports_path
        %li= link_to 'Interactives' , interactives_path
        %li= link_to 'Licenses', admin_commons_licenses_path
        %li= link_to 'Materials Collections', materials_collections_path
        %li= link_to 'Notices', admin_site_notices_path
        %li= link_to 'Projects', admin_projects_path
        %li= link_to 'Project Links', admin_project_links_path
        %li= link_to 'Schools', portal_schools_path
        %li= link_to 'Settings', admin_settings_path
        %li= link_to 'Tags', admin_tags_path
        %li= link_to 'Tools', admin_tools_path
        %li= link_to 'Users', users_path

  %div{ class: 'admin-links-cols__column' }
    - if is_admin_or_project_admin || can_manage_permission_forms
      %h3
        Project Admin Links
      %ul
        - if can_manage_permission_forms
          %li= link_to 'Permission Forms', admin_permission_forms_path
        - if is_admin_or_project_admin
          %li= link_to 'Projects', admin_projects_path
          %li= link_to 'Materials Collections', materials_collections_path
          %li= link_to 'Users', users_path

    - if is_admin_or_project_admin_or_project_researcher && ENV['REPORT_SERVER_REPORTS_URL'].present?
      %h3 Project Researcher Links
      %ul
        %li= link_to 'Researcher Reports', "#{ENV['REPORT_SERVER_REPORTS_URL']}"

    - if is_author || is_admin_or_manager
      %h3
        Authoring Links
      %ul
        %li.trail=link_to('Authoring', authoring_path)

