- if params['print']
  - if sub_page
    = render :partial=> 'pages/print', :locals=>{:page => sub_page, :inner_page=>inner_page, :teacher_mode => params['teacher_mode'], :hide_title=>true}

- else
  .action_menu
    .action_menu_header_left
      = inner_page.menu_name
    .action_menu_header_right
      - if (inner_page.changeable?(current_user))
        = remote_link_button "add.png", :url => add_page_embeddable_inner_page_path(inner_page, :id=>inner_page.id), :title => "add new page", :update => dom_id_for(inner_page, :inner_page_area)
    
  - if sub_page
    = render :partial => 'embeddable/inner_pages/page_header', :locals=>{:page => sub_page, :inner_page=>inner_page}
    = render :partial=> 'pages/show', :locals=>{:page => sub_page, :inner_page=>inner_page}