<h1>Editing School for <%= @school_membership.member.name %></h1>

<%= form_for(@school_membership) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :member_id %>
  <%= f.hidden_field :member_type %>

  <%= label_tag :school_id, 'School ID: ', :class=>"right" %>
  <%= f.text_field :school_id, {:live => false} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
