
- if BoolENV['RESEARCHER_REPORT_ONLY']
  - # in this case we are only showing a minmal layout. So provide the user with a
  - # simple header
  %div
    Welcome
    = "#{current_visitor.name}"
    %br
    = link_to 'Logout', destroy_user_session_path

#form-container

- external_reports = ExternalReport.where(report_type: ExternalReport::ResearcherLearnerReport).map { |r| {url: "#{r.url}", label: "#{r.launch_text}"} }.to_json

:javascript
  PortalComponents.renderLearnerReportForm({externalReports: #{external_reports}}, "form-container")
