.content.authform
  - field_set_tag "Log in" do
    - form_tag session_path do
      %table{:width => "90%" :cellpadding => "20"}
        %tr
          %td.left= label_tag 'login', 'Username'
          %td.right= text_field_tag 'login', @login
        %tr
          %td.left= label_tag :password, "Password"
          %td.right= password_field_tag 
        %tr
          %td.left= submit_tag 'Login'
          %td.right
            Stay logged in
            =check_box_tag 'remember_me', '1', 
    %ul.menu_h_right
      %li= link_to 'Forgot my password', forgot_password_path

