.important
  Attention RITES Program teachers:  please access the Investigations site through your RIEPS 
  = "account at #{link_to('portfolio.ri.net','http://portfolio.ri.net')}. "
  Access from any other site will not run the Investigations correctly in the classroom.

.content

.discouraged
  - field_set_tag "Log in" do
    - form_tag session_path do
      .aligned
        %ul
          %li
            = label_tag 'login', 'Username', :class=>"right"
            = text_field_tag 'login', @login
          %li
            = label_tag :password, "Password", :class=>"right"
            = password_field_tag 
          %li
            = label_tag 'submit', '', :class=>"right"
            = submit_tag 'Login'
          
          %li
            = label_tag 'remember_me', 'Stay logged in', :class=>"right"
            = check_box_tag 'remember_me', '1'
    %ul.menu_h_right
      %li= link_to 'Forgot my password', forgot_password_path

