= show_menu_for_component(data_collector)
.content
  %div[data_collector]
    :javascript
      Flotr.draw(
        $('#{dom_id_for(data_collector)}'),[
        {data: [ ],
          label: 'Distance (m)',
          lines: {show: true, fill: false},
          points: {show: true}
          }],{
          legend: {show: true, max: #{data_collector.y_axis_max}},
          xaxis: {min: #{data_collector.x_axis_min}, max: #{data_collector.x_axis_max}},
          yaxis: {min: #{data_collector.y_axis_min}, max: #{data_collector.y_axis_max}}
        }
        );
