.menu
  %ul
    %li
      = data_collector.name
    %li
      = button_to_remote 'edit', :url => edit_data_collector_path(data_collector), :update => "item_data_collector_#{data_collector.id}", :method => :get
.content
  %div[data_collector]
    :javascript
      Flotr.draw(
        $('data_collector_#{data_collector.id}'),[
        {data: [ ],
          label: 'Distance (m)',
          lines: {show: true, fill: false},
          points: {show: true}
          }],{
          legend: {show: true, max: #{data_collector.y_axis_max}},
          xaxis: {min: #{data_collector.x_axis_min}, max: #{data_collector.x_axis_max}},
          yaxis: {min: #{data_collector.y_axis_min}, max: #{data_collector.y_axis_max}}
        }
        );
