.item
  = edit_menu_for(data_collector, f)
  .content
    %p
      - field_set_tag 'Title' do
        = f.text_field :title, :size => 60
    %p
    - field_set_tag 'Probe Type' do
      = f.select(:probe_type_id, ProbeType.all.collect {|p| [ p.name, p.id ] }, {:prompt => true}, { :id => dom_id_for(data_collector, :select_probe_type)})

    %p
      - field_set_tag 'Y axis' do
        %ul.menu_h
          %li
            Label:
            = f.text_field :y_axis_label, :size => 30
          %li
            Units:
            = f.text_field :y_axis_units, :size => 10
        %ul.menu_v
          %li
            Max
            = f.text_field :y_axis_max, :size => 10
          %li
            Min
            = f.text_field :y_axis_min, :size => 10
      - field_set_tag 'X axis' do
        %ul.menu_h
          %li
            Label:
            = f.text_field :x_axis_label, :size => 30
          %li
            Units:
            = f.text_field :x_axis_units, :size => 10
          %p
            %ul.menu_h
              %li
                X Min
                = f.text_field :x_axis_min, :size => 10
              %li
                X Max
                = f.text_field :x_axis_max, :size => 10
    - field_set_tag 'Options' do
      %ul.menu_h
        %li
          = labeled_check_box(f, :draw_marks, 'Draw markers')
        %li
          = labeled_check_box(f, :connect_points)
        %li
          = labeled_check_box(f, :autoscale_enabled)
        %li
          = labeled_check_box(f, :ruler_enabled)
      
= observe_field dom_id_for(data_collector, :select_probe_type), :url => new_probe_type_data_collector_path, :with => "'data_collector[probe_type_id]=' + value"