- form_for portal_teacher do |f|
  = error_messages_for 'user'
  = error_messages_for 'portal_teacher', :object_name => 'teacher'
  - field_set_tag 'personal info' do
    .aligned
      %ul
        %li
          = label_tag :user, 'First Name: ', :class=>"right"
          = text_field :user, :first_name, {:live => false}
        
        %li  
          = label_tag :user, 'Last Name: ', :class=>"right"
          = text_field :user, :last_name, {:live => false}
        
        %li
          = label_tag :user, 'Email: ', :class=>"right"
          = text_field :user, :email, {:live => false}
  
  - field_set_tag 'school' do
    .aligned
      %ul
        %li
          = label_tag :school, 'School: ', :class=>"right"
          - # Changed from select_tag() to select() because the former doesn't support FormOptions, such as :prompt -- Cantina-CMH 6/9/10
          = select('school', 'id', option_groups_from_collection_for_select(portal_districts, :schools , :name, :id, :name  ), {:prompt => "-Select your school"})
        -# dont select either grades or domains for teachers.
          - if portal_grades.size > 0
            %li
              = label_tag :grade, 'Grade: ', :class=>"right"
              = select_tag('grade[id]', options_for_select(portal_grades.map { |g| [g.name,g.id] }, default_grade_id ) )
          - if domains.size > 0
            %li
              = label_tag :domain, 'Domain: ', :class=>"right"
              = select_tag('domain[id]', options_for_select(domains.map { |d| [d.name, d.id] } ) )

  = render :partial => 'shared/login_fields', :locals => { :user => portal_teacher.user }

  = render :partial => 'users/source', :locals => { :user => portal_teacher.user }

  - field_set_tag 'Cohorts' do
    .aligned
      %ul
        %li
          - ['itsisu'].each do |cohort|
            = check_box_tag "teacher[cohort_list][]", "#{cohort}", portal_teacher.cohort_list.include?(cohort),
              :id => "teacher[cohort_list][#{cohort}]"
            = label_tag "teacher[cohort_list][#{cohort}]", cohort


  .aligned
    = f.submit 'Submit'
