- form_for portal_teacher do |f|
  = error_messages_for 'user'
  = error_messages_for 'portal_teacher', :object_name => 'teacher'
  - field_set_tag 'personal info' do
    %table.form
      %tr
        %td= label_tag :user, 'First Name: ', :class=>"right"
        %td= text_field :user, :first_name, {:live => false}

      %tr
        %td= label_tag :user, 'Last Name: ', :class=>"right"
        %td= text_field :user, :last_name, {:live => false}

      %tr
        %td= label_tag :user, 'Email: ', :class=>"right"
        %td= text_field :user, :email, {:live => false}

      %tr
        %td{:colspan=>2, :id => 'school_selector'}
          = render :partial => 'shared/school_selector', :locals => { :school_selector => school_selector }
      %tr
        %td{:colspan=>2, :id => 'login_fields'}
          = render :partial => 'shared/login_fields', :locals => { :user => portal_teacher.user }
        -# = render :partial => 'cohorts', :locals => { :portal_teacher => portal_teacher }
      %tr
        %td
        %td
          = f.submit 'Submit'
