- form_for @teacher do |f|  
  = error_messages_for 'user'
  = error_messages_for 'teacher'
  - field_set_tag 'personal info' do
    .aligned
      %ul
        %li
          = label_tag :user, 'First Name: ', :class=>"right"
          = text_field :user, :first_name, {:live => false}
        
        %li  
          = label_tag :user, 'Last Name: ', :class=>"right"
          = text_field :user, :last_name, {:live => false}
        
        %li
          = label_tag :user, 'Email: ', :class=>"right"
          = text_field :user, :email, {:live => false}
  - field_set_tag 'school' do
    .aligned
      %ul
        %li
          = label_tag :teacher, 'School: ', :class=>"right"
          = collection_select(:teacher, :school_ids, Portal::School.find(:all), :id, :name, options ={:prompt => "schools..",:multiple => true})
  = render :partial => 'shared/login_fields', :locals => {:user => @teacher.user, :teacher => @teacher}

  .aligned
    = f.submit 'Submit'