= form_for portal_teacher do |f|
  = error_messages_for 'user'
  = error_messages_for 'portal_teacher', :object_name => 'teacher'
  = field_set_tag 'personal info' do
    .aligned
      %ul
        %li
          = label_tag :user, 'First Name: ', :class=>"right"
          = text_field :user, :first_name, {:live => false}
        
        %li  
          = label_tag :user, 'Last Name: ', :class=>"right"
          = text_field :user, :last_name, {:live => false}
        
        %li
          = label_tag :user, 'Email: ', :class=>"right"
          = text_field :user, :email, {:live => false}
  
  = field_set_tag 'school' do
    .aligned
      %ul
        %li#school_choice
          = label_tag :school, 'School: ', :class=>"right"
          - # Changed from select_tag() to select() because the former doesn't support FormOptions, such as :prompt -- Cantina-CMH 6/9/10
          = select('school', 'id', option_groups_from_collection_for_select(portal_districts, :schools , :name, :id, :name  ), {:prompt => "-Select your school"})
          .tiny#show_write_in
            I can't find my school here.
        %li#school_write_in{:style => 'display: none;'}
          = label_tag  :pending_school, 'School: ', :class => "right"
          = text_field :school, :name, {:live => false }
          .tiny#show_select
            I want to look in the list again.
  = render :partial => 'shared/login_fields', :locals => { :user => portal_teacher.user }

  .aligned
    = f.submit 'Submit'

  :javascript
    new Chosen($('school_id'))
  
    var value = '';
    var sel=null;
    $('show_write_in').observe("click", function(e) {
      $('school_choice').hide();
      sel = $$('select#school_id option').find(function(ele){return !!ele.selected});
      $$('select#school_id option')[0].selected=true;
      $('school_name').value = sel.text || value;
      $('school_write_in').show();
    });
    $('show_select').observe("click", function(e) {
      $('school_write_in').hide();
      $('school_choice').show();
      if (sel) { sel.selected=true; }
      $('school_name').value ='';
    });
    

