- teacher_list = (!portal_clazz.school.nil?) ? portal_clazz.school.portal_teachers - portal_clazz.teachers : []
/ - current_teachers = portal_clazz.teachers.sort { |a,b| (a.user.last_name <=> b.user.last_name) }
/ = accordion_for(portal_clazz, "Students: #{student_list.length}", 'students_container') do

.content
  .action_menu
    .action_menu_header_left
      %strong= "Teachers: #{portal_clazz.teachers.length}"    
    .action_menu_header_right
      %ul
        - if portal_clazz.changeable?(current_user)     
          - if teacher_list.size > -1
            %li 
              %span{:id => 'link_text'} 
              = link_to_remote "Add ", :url => {:action=>'add_teacher', :id => portal_clazz}, :with => "'teacher_id='+$('teacher_id_selector').value"
              =select_tag('teacher_id', options_for_select(teacher_list.sort { |a,b| (a.list_name <=> b.list_name) }.map { |t| [t.list_name,t.id] }), :id=>'teacher_id_selector')
            
.item{:id=>'teachers_listing'}
  = render :partial => 'portal/teachers/table_for_clazz', :locals => {:portal_clazz => @portal_clazz}
