<h1>Editing versioned_jnlp</h1>

<% form_for(@versioned_jnlp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :maven_jnlp_family_id %><br />
    <%= f.text_field :maven_jnlp_family_id %>
  </p>
  <p>
    <%= f.label :jnlp_icon_id %><br />
    <%= f.text_field :jnlp_icon_id %>
  </p>
  <p>
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :main_class %><br />
    <%= f.text_field :main_class %>
  </p>
  <p>
    <%= f.label :argument %><br />
    <%= f.text_field :argument %>
  </p>
  <p>
    <%= f.label :offline_allowed %><br />
    <%= f.check_box :offline_allowed %>
  </p>
  <p>
    <%= f.label :local_resource_signatures_verified %><br />
    <%= f.check_box :local_resource_signatures_verified %>
  </p>
  <p>
    <%= f.label :include_pack_gz %><br />
    <%= f.check_box :include_pack_gz %>
  </p>
  <p>
    <%= f.label :spec %><br />
    <%= f.text_field :spec %>
  </p>
  <p>
    <%= f.label :codebase %><br />
    <%= f.text_field :codebase %>
  </p>
  <p>
    <%= f.label :href %><br />
    <%= f.text_field :href %>
  </p>
  <p>
    <%= f.label :j2se %><br />
    <%= f.text_field :j2se %>
  </p>
  <p>
    <%= f.label :max_heap_size %><br />
    <%= f.text_field :max_heap_size %>
  </p>
  <p>
    <%= f.label :initial_heap_size %><br />
    <%= f.text_field :initial_heap_size %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :vendor %><br />
    <%= f.text_field :vendor %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @versioned_jnlp %> |
<%= link_to 'Back', versioned_jnlps_path %>