<h1>Listing versioned_jnlps</h1>

<table>
  <tr>
    <th>Jnlp icon</th>
    <th>Uuid</th>
    <th>Name</th>
    <th>Main class</th>
    <th>Argument</th>
    <th>Offline allowed</th>
    <th>Local resource signatures verified</th>
    <th>Spec</th>
    <th>Codebase</th>
    <th>Href</th>
    <th>Max heap size</th>
    <th>Initial heap size</th>
    <th>Title</th>
    <th>Vendor</th>
    <th>Homepage</th>
    <th>Description</th>
  </tr>

<% @maven_jnlp_versioned_jnlps.each do |versioned_jnlp| %>
  <tr>
    <td><%=h versioned_jnlp.jnlp_icon_id %></td>
    <td><%=h versioned_jnlp.uuid %></td>
    <td><%=h versioned_jnlp.name %></td>
    <td><%=h versioned_jnlp.main_class %></td>
    <td><%=h versioned_jnlp.argument %></td>
    <td><%=h versioned_jnlp.offline_allowed %></td>
    <td><%=h versioned_jnlp.local_resource_signatures_verified %></td>
    <td><%=h versioned_jnlp.spec %></td>
    <td><%=h versioned_jnlp.codebase %></td>
    <td><%=h versioned_jnlp.href %></td>
    <td><%=h versioned_jnlp.max_heap_size %></td>
    <td><%=h versioned_jnlp.initial_heap_size %></td>
    <td><%=h versioned_jnlp.title %></td>
    <td><%=h versioned_jnlp.vendor %></td>
    <td><%=h versioned_jnlp.homepage %></td>
    <td><%=h versioned_jnlp.description %></td>
    <td><%= link_to 'Show', versioned_jnlp %></td>
    <td><%= link_to 'Edit', edit_maven_jnlp_versioned_jnlp_path(versioned_jnlp) %></td>
    <td><%= link_to 'Destroy', versioned_jnlp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New versioned_jnlp', new_maven_jnlp_versioned_jnlp_path %>