<p>
  <b>Maven jnlp family:</b>
  <%=h @versioned_jnlp.maven_jnlp_family_id %>
</p>

<p>
  <b>Jnlp icon:</b>
  <%=h @versioned_jnlp.jnlp_icon_id %>
</p>

<p>
  <b>Uuid:</b>
  <%=h @versioned_jnlp.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @versioned_jnlp.name %>
</p>

<p>
  <b>Main class:</b>
  <%=h @versioned_jnlp.main_class %>
</p>

<p>
  <b>Argument:</b>
  <%=h @versioned_jnlp.argument %>
</p>

<p>
  <b>Offline allowed:</b>
  <%=h @versioned_jnlp.offline_allowed %>
</p>

<p>
  <b>Local resource signatures verified:</b>
  <%=h @versioned_jnlp.local_resource_signatures_verified %>
</p>

<p>
  <b>Include pack gz:</b>
  <%=h @versioned_jnlp.include_pack_gz %>
</p>

<p>
  <b>Spec:</b>
  <%=h @versioned_jnlp.spec %>
</p>

<p>
  <b>Codebase:</b>
  <%=h @versioned_jnlp.codebase %>
</p>

<p>
  <b>Href:</b>
  <%=h @versioned_jnlp.href %>
</p>

<p>
  <b>J2se:</b>
  <%=h @versioned_jnlp.j2se %>
</p>

<p>
  <b>Max heap size:</b>
  <%=h @versioned_jnlp.max_heap_size %>
</p>

<p>
  <b>Initial heap size:</b>
  <%=h @versioned_jnlp.initial_heap_size %>
</p>

<p>
  <b>Title:</b>
  <%=h @versioned_jnlp.title %>
</p>

<p>
  <b>Vendor:</b>
  <%=h @versioned_jnlp.vendor %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @versioned_jnlp.homepage %>
</p>

<p>
  <b>Description:</b>
  <%=h @versioned_jnlp.description %>
</p>


<%= link_to 'Edit', edit_versioned_jnlp_path(@versioned_jnlp) %> |
<%= link_to 'Back', versioned_jnlps_path %>