= title "Forgot Your Password?"
- form_tag({ :action => "create_by_login" }) do
  %div{:id => dom_id_for(@user, :form), :class =>"action_menu"}       
    .action_menu
      .action_menu_header_left
        .padded_content
          %h3 reset your password
      .action_menu_header_right
        %ul.menu
          %li= submit_tag "Submit"

    %fieldset{:style => "background-color: transparent;"}
      %legend Enter Your Username
      %ul.quiet_list
        %li= label_tag :login, "Username", :class => "aligned"
        %li= text_field_tag :login, "", :live => false, :class => "aligned"
      
    %p
      If you're having trouble,
      = link_to "click here", forgot_password_email_path
      to retrieve your password by entering your email address.



