= title_tag "Reset Your Password"
%h2= 'You must set a new password.'
%h3= 'Please enter a new password and confirm it.'

= form_for :user, :url => { :action => 'update_users_password' } do |f|
  %div{:id => dom_id_for(@user,:form), :class =>"action_menu"}
    .padded_content
      = f.error_messages :header_tag => 'h4', :header_message => "Your password could not be changed.", :message => ""

    %fieldset
      %legend= "Password for #{@user.login}"
      %ul.quiet_list
        %li= f.label :password, "password", :class=>"aligned"
        %li= f.password_field :password, :live => false, :class=>"aligned"
        %li= f.label :password_confirmation, "confirm password",:class=>"aligned"
        %li= f.password_field :password_confirmation, :live => false, :class=>"aligned"
      .aligned
        %ul.quiet_list
          %li= submit_tag "Submit"

  = hidden_field_tag :reset_code, params[:reset_code]
