<h1>Listing jars</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Name</th>
    <th>Main</th>
    <th>Os</th>
    <th>Href</th>
    <th>Size</th>
    <th>Size pack gz</th>
    <th>Signature verified</th>
    <th>Version str</th>
  </tr>

<% @jars.each do |jar| %>
  <tr>
    <td><%=h jar.uuid %></td>
    <td><%=h jar.name %></td>
    <td><%=h jar.main %></td>
    <td><%=h jar.os %></td>
    <td><%=h jar.href %></td>
    <td><%=h jar.size %></td>
    <td><%=h jar.size_pack_gz %></td>
    <td><%=h jar.signature_verified %></td>
    <td><%=h jar.version_str %></td>
    <td><%= link_to 'Show', jar %></td>
    <td><%= link_to 'Edit', edit_jar_path(jar) %></td>
    <td><%= link_to 'Destroy', jar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New jar', new_jar_path %>