<h1>New jar</h1>

<% form_for(@jar) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :main %><br />
    <%= f.check_box :main %>
  </p>
  <p>
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </p>
  <p>
    <%= f.label :href %><br />
    <%= f.text_field :href %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :size_pack_gz %><br />
    <%= f.text_field :size_pack_gz %>
  </p>
  <p>
    <%= f.label :signature_verified %><br />
    <%= f.check_box :signature_verified %>
  </p>
  <p>
    <%= f.label :version_str %><br />
    <%= f.text_field :version_str %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jars_path %>