<p>
  <b>Uuid:</b>
  <%=h @jar.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @jar.name %>
</p>

<p>
  <b>Main:</b>
  <%=h @jar.main %>
</p>

<p>
  <b>Os:</b>
  <%=h @jar.os %>
</p>

<p>
  <b>Href:</b>
  <%=h @jar.href %>
</p>

<p>
  <b>Size:</b>
  <%=h @jar.size %>
</p>

<p>
  <b>Size pack gz:</b>
  <%=h @jar.size_pack_gz %>
</p>

<p>
  <b>Signature verified:</b>
  <%=h @jar.signature_verified %>
</p>

<p>
  <b>Version str:</b>
  <%=h @jar.version_str %>
</p>


<%= link_to 'Edit', edit_jar_path(@jar) %> |
<%= link_to 'Back', jars_path %>