- current_user.roles.each do |role|
  = render :partial => role.title

- if @portal_teacher
  = render :partial => "teacher"
  
- if @portal_student
  = render :partial => "student"

= content_for :authored_pages

.padded_content
  - render_project_info
  = content_for :project_info