<p>
  <b>Uuid:</b>
  <%=h @otrunk_import.uuid %>
</p>

<p>
  <b>Classname:</b>
  <%=h @otrunk_import.classname %>
</p>

<p>
  <b>Fq classname:</b>
  <%=h @otrunk_import.fq_classname %>
</p>


<%= link_to 'Edit', edit_otrunk_import_path(@otrunk_import) %> |
<%= link_to 'Back', otrunk_imports_path %>