<h1>Editing probe_type</h1>

<% form_for(@probe_type) do |f| %>
  <%= f.error_messages %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :period %>
  <%= f.text_field :period %>

  <%= f.label :display_precision %>
  <%= f.text_field :display_precision %>

  <%= f.label :unit %>
  <%= f.text_field :unit %>

  <%= f.label :max %>
  <%= f.text_field :max %>

  <%= f.label :min %>
  <%= f.text_field :min %>

  <%= f.label :step_size %>
  <%= f.text_field :step_size %>

  <%= f.label :ptype %>
  <%= f.text_field :ptype %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @probe_type %> |
<%= link_to 'Back', probe_probe_types_path %>