
%div{:style=>"min-height: 400px;"}
  %p
    %h3 You have selected:
    - @infos.each_pair do |k,v|
      %span{:style=> "padding-left: 10px"}
        %span{:style=> "font-weight: bold"}=k
        %span=v
  = form_for :learner_select, :url => url_for(:action => 'index'), :html => { :method => :get }  do |form|
    %table{:clas => 'form', :style=>"width: 90%;"}
      %tr
        %td
          %label Schools:
        %td
          = select_tag('schools', options_for_select(*@learner_selector.options_for_schools),
            { :multiple => true })
      %tr
        %td
          %label Teachers:
        %td
          = select_tag('teachers', options_for_select(*@learner_selector.options_for_teachers),
            { :multiple => true })
      %tr
        %td
          %label Runnables:
        %td
          = select_tag('runnables', options_for_select(*@learner_selector.options_for_runnables),
            { :multiple => true })
      %tr
        %td
          %label Permission Forms:
        %td
          = select_tag('perm_form', options_for_select(*@learner_selector.options_for_permissions),
            { :multiple => true, :class => 'big_selector'})
      %tr
        %td
          %label Start Date:
        %td
          = calpicker_tag "start_date", @learner_selector.start_date
      %tr
        %td
          %label End Date:
        %td
          = calpicker_tag "end_date", @learner_selector.end_date
      %tr
        %td
        %td{:style=>"padding-top: 20px;"}
          = check_box_tag "hide_names", "yes", @learner_selector.hide_names == "yes"
          Hide names?

    = submit_tag @button_texts[:apply]
    = submit_tag @button_texts[:usage]
    = submit_tag @button_texts[:details]
    = submit_tag @button_texts[:arg_block]
    = submit_tag @button_texts[:logs_query]
    - unless @no_log_manager
      = submit_tag @button_texts[:log_manager]

:javascript
  new Chosen($('schools'));
  new Chosen($('runnables'));
  new Chosen($('teachers'));
  new Chosen($('perm_form'));
