
%div{:style=>"min-height: 400px;"}
  %p
    %h3 You have selected:
    - @infos.each_pair do |k,v|
      %span{:style=> "padding-left: 10px"}
        %span{:style=> "font-weight: bold"}=k
        %span=v
  = form_for :learner_select, :url => url_for(:action => 'index'), :html => { :method => :get }  do |form|
    %table{:clas => 'form', :style=>"width: 90%;"}
      %tr
        %td
          %label Schools:
        %td
          = select_tag('schools', options_for_select(@learner_selector.all_schools.map {|s| [s.name, s.id]},
                                                     @learner_selector.select_schools.map {|s| s.id}), { :multiple => true })
      %tr
        %td
          %label Teachers:
        %td
          = select_tag('teachers', options_for_select(@learner_selector.all_teachers.map {|s| [s.name, s.id]},
                                                      @learner_selector.select_teachers.map {|s| s.id}), { :multiple => true })
      %tr
        %td
          %label Runnables:
        %td
          = select_tag('runnables', options_for_select(@learner_selector.all_runnables.map {|r| ["#{r.name}(#{r.class})", "#{r.class}_#{r.id}"]},
                                                       @learner_selector.select_runnables.map {|r| "#{r.class}_#{r.id}"}), { :multiple => true })
      %tr
        %td
          %label Permission Forms:
        %td
          = select_tag('perm_form', options_for_select(@learner_selector.all_perm_forms, @learner_selector.select_perm_form),  { :multiple => true, :class => 'big_selector'})
      %tr
        %td
          %label Start Date:
        %td
          = calpicker_tag "start_date", @learner_selector.start_date
      %tr
        %td
          %label End Date:
        %td
          = calpicker_tag "end_date", @learner_selector.end_date

    = submit_tag @button_texts[:apply]
    = submit_tag @button_texts[:usage]
    = submit_tag @button_texts[:details]
    = submit_tag @button_texts[:arg_block]
    = submit_tag @button_texts[:logs_query]
    - unless @no_log_manager
      = submit_tag @button_texts[:log_manager]

:javascript
  new Chosen($('schools'));
  new Chosen($('runnables'));
  new Chosen($('teachers'));
  new Chosen($('perm_form'));
