- activities = investigation.activities
.activities_container
  .activity_list_header 
    %span.investigation_name
      = investigation.name + " - " 
    Activities
  .include_Checkbox 
    Include
  %div
    %table.activity_list
      - activities.each do|activity|
        - checkbox_checked = (material.class == ::Investigation)? true : (activity.id == material.id)? true : false
        %tbody
          %tr
            %td.check_box
              = check_box_tag 'activity_id[]',activity.id,checkbox_checked, :id => 'activity_' + activity.id.to_s, :onclick=>"checkActivityToAssign(this)"
            %td
              .activity_name
                = activity.name
              .activity_description
                = activity.description
                %span.clazz_count{:id=>"activity_clazz_count_#{activity.id}"}
                  - if(activity.offerings.count == 0)
                    Not used in any class.
                  - elsif(activity.offerings.count == 1)
                    Used in 1 class.
                  - else
                    Used in #{activity.offerings.count} classes.
            %td.preview
              = link_to "Preview",run_url_for(activity,{}),:class=>"button"
            %td.share
              %a{:class=>"addthis_button button",:style=>"text-decoration:none;",:'addthis:url'=>browse_activity_url(activity),:'addthis:title'=>activity.name}
                Share