= javascript_include_tag "share_material"

- parent_material = search_material.parent_material

-material_count = parent_material.material.offerings.count


%style{:type => "text/css"}
  :sass
    #content
      padding-top: 0px
      padding-right: 0px


= hidden_field_tag "investigation_id", parent_material.id
= hidden_field_tag "material_id", search_material.id
= hidden_field_tag "assign_material_type", search_material.model_name

%div
  - unless @back_url.nil?
    = link_to "&larr; return to search".html_safe, @back_url,:class=>"return_link"
    %br
    %br

.browse_material_other_data
  .icon_image
    = image_tag(parent_material.icon_image_url, :size=>'100x100')
  %br
  %div
    = render :partial => '/browse/investigation_other_data', :locals => {:material_other_data => parent_material.other_data}
.browse_material_data
  %table.browse_material_header
    %tr
      %td
        .title 
          = parent_material.title
        .material_type 
          = parent_material.model_name
      %td
        - unless current_visitor.anonymous?
          %a{:class => "button preview_Button Expand_Collapse_Link", :id => "ExpandCollapse_#{parent_material.model_name}#{parent_material.id}Preview", :href=>"javascript:void(0)", :onclick=>"expandcollapseoptions(#{parent_material.id},'#{parent_material.model_name}','Preview')"}Preview &#9660;
          .Expand_Collapse{:id=>"#{parent_material.model_name}#{parent_material.id}Preview",:style=>"display:none",:class=>"Expand_Collapse_preview"}
            = render :partial => '/browse/preview', :locals => {:material => parent_material.material}
        - else
          = link_to "Preview", run_url_for(parent_material.material, {}), :class => "button"
      %td
        - if current_visitor.portal_teacher
          = link_to parent_material.assign_btn_text, 'javascript:void(0)', :class=>"button", :onclick=>"getDataForAssignToClassPopup()", :id=>"btn_Assign"
        - else
          = link_to parent_material.assign_btn_text, 'javascript:void(0)',:onclick=>"msgPopupDescriptionText()", :id=>"btn_Assign", :class=>"button"
      %td{:class=>"share"}
        %a{:class=>"button share_Button Expand_Collapse_Link",:id=>"ExpandCollapse_#{parent_material.model_name}#{parent_material.id}Share",:href=>"javascript:void(0)",:onclick=>"expandcollapseoptions(#{parent_material.id},'#{parent_material.model_name}','Share')"}Share &#9660;
        .Expand_Collapse{:id=>"#{parent_material.model_name}#{parent_material.id}Share", :style=>"display:none", :class=>"Expand_Collapse_share" }
          = render :partial => '/browse/share', :locals => {:material_url => parent_material.url,:material_title=>parent_material.title}
  %br
  .description
    = parent_material.description
    %div.clazz_count{:id=>"material_clazz_count"}
      %i
        - if(material_count == 0)
          Not used in any class.
        - elsif(material_count == 1)
          Used in 1 class.
        - else
          Used in #{material_count} classes.
  %br
  %br
  
  - unless parent_material.activities.nil?
    %div
      %script{:src=>"//platform.linkedin.com/in.js",:type=>"text/javascript"}
      = render :partial => '/browse/investigation_activity_list', :locals => {:search_material => parent_material}
.clearboth
