- if (activity.changeable?(current_user))
  #actions_menu.dropdown
    %ul
      %li=edit_link_for(@activity)
      
- if (teacher_only? activity)
  - view_class = "action_menu teacher_only"
- else
  - view_class = "action_menu"
%div{:id => dom_id_for(activity,:item), :class => view_class }
  .action_menu_header_left
    .padded_content
    .padded_content
      = render :partial=>'shared/in_place_fields', :locals => {:item=>activity}
  .action_menu_header_right
    = render :partial => "shared/notes_menu", :locals => {:authorable => activity}
    - if (activity.changeable?(current_user))
      = dropdown_button "actions.png", :title => "actions for this activity"
      = remote_link_button "add.png", :url => add_section_activity_path(activity), :title => "add new section"
      - if (activity.investigation)
        = delete_button_for(activity, :redirect => url_for(activity.investigation))
      - else
        = delete_button_for(activity)
    - else
      = link_button "actions_disabled.png", "#", :title => "no actions for this activity"
      = link_button "add_disabled.png", "#", :title => "can't add sections"
    - if (activity.investigation)
      = link_button "up.png", activity.investigation, :title => 'go to investigation'

