= form_for @portal_student, :url => update_consent_portal_student_path(@portal_student) do |f|
  - if portal_student.user&.errors&.any?
    = portal_student.user.errors.map(&:full_message).join(', ')
  - if portal_student.errors.any?
    = portal_student.errors.map(&:full_message).join(', ')

  = render :partial => 'shared/consent/ask_for_consent'
  = f.submit 'Submit'
