#footer
  .footer-inner.cols
    .col-12
      %p
        &copy;
        = DateTime.now.year
        #{link_to 'The Concord Consortium','https://concord.org', :id=>"footer_cc_link"}. All Rights Reserved.
        %br
        The Concord Consortium is a 501(c)(3) nonprofit charity registered in the U.S. under EIN 04-3254131.
        %br
        #{link_to 'Privacy Policy','https://concord.org/privacy-policy', :id=>"privacy-policy-link", :target=>"_blank", :rel=>"noopener"}
        &middot;
        #{link_to 'Terms of Use','/terms-of-use'}
        &middot;
        #{link_to 'Licensing','https://concord.org/licensing/', :id=>"licensing-link", :target=>"_blank", :rel=>"noopener"}
        &middot;
        = mail_to(APP_CONFIG[:help_email] || APP_CONFIG[:default_admin_user][:email], "Contact", :subject => "Question about #{APP_CONFIG[:site_name]}", :encode => "javascript")
        %div{style: 'margin-top: 10px; opacity: 0.5'}
          Version:
          = ENV['CC_PORTAL_IMAGE_VERSION'].present? ? ENV['CC_PORTAL_IMAGE_VERSION'] : ENV['CC_PORTAL_VERSION']
          :javascript
            document.write("(React " + window.React.version + ")")
