- student_status = Report::OfferingStudentStatus.get_for_offering_and_student(offering, @portal_student)
.offering_container
  %table
    %tr
      %td{:style => "vertical-align:top;"}
        .student_material_icon
          - if offering.icon_image
            %img{:src => offering.icon_image, :width => '100%'}
      %td
        .offering_for_student{ :data => { :offering_id => offering.id }}
          %p
            %span.type= runnable_type_label(offering) + ":"
            %span.name= offering.name
          .run_buttons
            =student_run_buttons(offering)
            %div
              %span.last_run= student_status.last_run_string
              %div.feedback_metadata{style: "display: none", :data => {:link => run_url_for(offering)}}
                =image_tag("teacher-feedback-icon.svg")
                %a.feedback_metadata_text{:href => run_url_for(offering, {:show_feedback => true}), :target => "_blank"}
          / displayed when the student is already running the activity.
          .run_in_progress{:style => "display: none;"}
            .status
              %span.wait_image
                =image_tag('wait16.gif')
              .message.waiting
                Please wait while your activity loads
                %span.wait_counter
          .status_graphs
            .not_run{style: "display: #{student_status.never_run ? 'block' : 'none'}"}
              You haven't started this yet.
            - percentage = student_status.complete_percent
            .run_graph{style: "display: #{student_status.never_run ? 'none' : 'block'}"}
              - external_reports = offering.runnable.external_reports.where(allowed_for_students: true)
              - if params[:add_external_report]
                - additional_report = ExternalReport.find_by_id(params[:add_external_report])
                - external_reports << additional_report if additional_report && additional_report.allowed_for_students
              - external_reports.each do |external_report|
                %span.lightbox_report_link
                  = link_to external_report.launch_text, portal_external_report_url(id: offering.id, report_id: external_report.id), target: "_blank"
                %br
