%li{:id=>"sortable_element_#{offering.id}"}
  .offering
    = hidden_field_tag "clazz_investigations_ids[]", offering.id
    %span.offering-title
      %label{:for=>"clazz_investigations_#{offering.id}"}
        = offering.name
    %span.offering-prop-checkbox
      = check_box_tag "clazz_active_investigations[]", offering.id, offering.active, :id => "clazz_investigations_#{offering.id}"
    %span.offering-prop-checkbox
      = check_box_tag "clazz_locked_investigations[]", offering.id, offering.locked
