%p
  Database:
  - db_info = ActiveRecord::Base.configurations
  %br
  %small
    type:
    = db_info[::Rails.env]['adapter']
  %br
  %small
    name:
    = db_info[::Rails.env]['database']
  - if host = db_info[::Rails.env]['host']
    %br
    %small
      host:
      = host
%p
  Subdomains:
  %br
  %small
    = request.subdomains.join(', ')
%p
  Rails.root:
  %br
  %small
    = Rails.root
%p
  = display_repo_info
