<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Reset Password</title>
</head>
<body>
<table width="100%" style="margin:0;padding:0;">
<tr><td align="left" valign="middle" style="background:#bddfdf;padding-top:16px;padding-right:10px;padding-bottom:14px;padding-left:10px;">
  <%= render :partial => 'shared/email_banner' %>
</td></tr>
<tr><td align="left" style="background:#ffffff;padding:16px;">
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">Hello <%= @user.first_name %>,</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">We received a request for a login reminder for your account on the <%= APP_CONFIG[:site_name] %>.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">Your username is <%= @user.login %>.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">If you have forgotten your password, you can reset it by visiting the URL below.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;"><%= link_to @url,"#{@url}"%></p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">If you did not use the <%= APP_CONFIG[:site_name] %> forgot login feature, you may ignore this email.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">The Concord Consortium<br />
25 Love Lane<br />
Concord, MA 01742</p>
</td></tr>
</table>
</body>
</html>
