%div{:class => 'question_container'}
  %div{:id => dom_id_for(embeddable, :item), :class => 'item'}
    %div{ :id => dom_id_for(embeddable, :details), :class => 'content' }
      - saveable = saveable_for_learner(embeddable, learner)
      - css_style = saveable.answered? ? 'answered' : 'not_answered'
      - css_style = saveable.answered_correctly? ? 'correct' : 'incorrect' if saveable.answered?
      .item{:style => 'display: block;'}
        %strong
          = embeddable.prompt
      - embeddable.choices.each_with_index do |choice, i|
        - css = choice.is_correct ? 'correct' : 'incorrect'
        - if saveable && (answer = saveable.answer.detect{|a| a[:answer] == choice.choice})
          - css << " chosen_answer"
        %div{:class => "item choice #{css}"}
          = "#{i+1}. #{choice.choice}"
      - if saveable.answer.size == 1 && saveable.answer.first[:answer] == 'not answered'
        .item.choice.not_answered{:style => 'font-weight: bold;'}
          = 'not answered'
