%div{:class => 'question_container'}
  %div{:id => dom_id_for(embeddable, :item), :class => 'item'}
    %div{ :id => dom_id_for(embeddable, :details), :class => 'content' }
      - saveable = saveable_for_learner(embeddable, learner)
      .item{:style => 'display: block;'}
        %strong
          != embeddable.prompt
        - if embeddable.is_required
          %div
            %span.tag required
      - incorrect_check = (embeddable.has_correct_answer? ? "&#x2717;" : "&nbsp;").html_safe
      - embeddable.choices.each_with_index do |choice, i|
        - css = choice.is_correct ? 'correct' : 'incorrect'
        - check = (choice.is_correct? ? "&#x2713;" : incorrect_check).html_safe
        - rationale = ""
        - if saveable && (answer = saveable.submitted_answer.detect{|a| a[:answer] == choice.choice})
          - css << " chosen_answer"
          - rationale = answer[:rationale]
        %div{:class => "item choice #{css}"}
          - if css =~ /chosen_answer/
            .optioncheckmark.inline_block= check
          - else
            .optioncheckmark.inline_block
              &nbsp;
          .option.inline_block
            = "#{i+1}. #{choice.choice}"
          .rationale.inline_block
            = rationale
      - unless saveable.submitted?
        .item.choice
          .optioncheckmark.inline_block
            = incorrect_check
          .inline_block.not_answered{:style => 'font-weight: bold;'}
            = saveable.submitted_answer.first[:answer] # should return 'not answered' or 'not submitted'
