%div{:id => dom_id_for(multiple_choice, :item), :class => 'item'}
  %div{ :id => dom_id_for(multiple_choice, :details), :class => 'content' }
    - saveable = multiple_choice_saveable_for_learner(multiple_choice, learner)
    - css_style = (saveable && saveable.answered?) ? 'answered' : 'not_answered'
    - css_style = saveable.answered_correctly? ? 'correct' : 'incorrect' if (saveable && saveable.answered?)
    %item{:class => css_style}
      = multiple_choice.prompt
    - multiple_choice.choices.each_with_index do |choice, i|
      - if saveable && choice.choice == saveable.answer
        %item{:class => css_style, :style => 'display: block; font-weight: bold;'}
          = "#{i+1}. #{choice.choice}"
      - else
        - css = choice.is_correct ? 'correct' : ''
        %item{:class => css, :style => 'display: block;'}
          = "#{i+1}. #{choice.choice}"