%div{:id => dom_id_for(@portal_learner, :item), :class => 'item'}
  %h3= "Bundle and Console log reports for: #{@portal_learner.name}"
  Learner created at: #{@portal_learner.created_at}
  %div{:id => dom_id_for(@portal_learner, :details), :class => 'content'}
    = accordion_for(@portal_learner, report_details_for_learner(@portal_learner)) do
      Bundle Logs
      = render :partial => 'dataservice/bundle_loggers/show', :locals=> { :dataservice_bundle_logger => @portal_learner.bundle_logger }
      Console Logs
      = render :partial => 'dataservice/console_loggers/show', :locals=> { :dataservice_console_logger => @portal_learner.console_logger }
