<h1>Editing otrunk_view_entry</h1>

<% form_for(@otrunk_view_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </p>
  <p>
    <%= f.label :otml_import_id %><br />
    <%= f.text_field :otml_import_id %>
  </p>
  <p>
    <%= f.label :classname %><br />
    <%= f.text_field :classname %>
  </p>
  <p>
    <%= f.label :fq_classname %><br />
    <%= f.text_field :fq_classname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @otrunk_view_entry %> |
<%= link_to 'Back', otrunk_view_entries_path %>