= form_for(@interactive) do |f|
  = f.error_messages
  = edit_menu_for(@interactive, f)
  - if @interactive.new_record? || policy(@interactive).edit_settings?
    = field_set_tag 'Interactive Name' do
      = f.text_field :name
    = field_set_tag 'Interactive Description' do
      = f.text_area :description, :cols => 80, :rows => 5, :class => 'mceNoEditor'
    = field_set_tag 'License' do
      = f.select :license_code, CommonsLicense.for_select, include_blank: 'none'
    = field_set_tag 'Publication Status' do
      = f.select :publication_status, Interactive.publication_states.map {|s| s.to_s}
    = field_set_tag 'Interactive URL' do
      = f.text_field :url, :size => 60
    = field_set_tag 'Interactive Sizing' do
      Scale:
      = f.text_field :scale, :size => 5
      Width
      = f.text_field :width, :size => 5
      Height
      = f.text_field :height, :size => 5
      Full Window
      = f.check_box :full_window
    = field_set_tag 'Interactive Settings' do
      Save Interactive State
      = f.check_box :save_interactive_state
      %br
      Snapshots Not Supported
      = f.check_box :no_snapshots
    = field_set_tag 'Interactive Image URL' do
      = f.text_field :image_url
    = field_set_tag 'Credits' do
      = f.text_field :credits
    - if @interactive.respond_to?(:external_activity_id)
      = field_set_tag 'External Activity ID' do
        = f.text_field :external_activity_id
    = render :partial => 'shared/material_properties_edit', :locals => { :object => @interactive }
    = render :partial => 'shared/grade_levels_edit', :locals => { :object => @interactive }
    = render :partial => 'shared/subject_areas_edit', :locals => { :object => @interactive }
    = render :partial => 'shared/model_types_edit', :locals => { :object => @interactive }
  -# Partials below can be available for project admins (separate policy method).
  = render :partial => 'shared/projects_edit', :locals => { :object => @interactive }
  = render :partial => 'shared/cohorts_edit', :locals => { :object => @interactive }
  - if not @interactive.new_record?
    = render :partial => 'shared/standards_edit', :locals => { :object => @interactive }

= javascript_tag("focus_first_field();");
