<h1>Listing properties</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Name</th>
    <th>Value</th>
    <th>Os</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%=h property.uuid %></td>
    <td><%=h property.name %></td>
    <td><%=h property.value %></td>
    <td><%=h property.os %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property', new_property_path %>