<p>
  <b>Uuid:</b>
  <%=h @property.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @property.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @property.value %>
</p>

<p>
  <b>Os:</b>
  <%=h @property.os %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>