.item
  = edit_menu_for(portal_school, f, { :omit_cancel => true })
  .content
    %p
      - field_set_tag 'Name' do
        = f.text_field :name, :size => 60
    %p
      - field_set_tag 'NCES School' do
        = select(:portal_school, "nces_school_id", Portal::Nces06School.all.collect {|nces| [ nces.SCHNAM, nces.id ] }, {:include_blank => 'None'})
    %p
      - field_set_tag 'District' do
        = select(:portal_school, "district_id", Portal::District.all.collect {|district| [ district.name, district.id ] }, {:include_blank => 'None'})
    %p
      - field_set_tag 'Description' do
        = f.text_area :description
