- options = { :omit_edit => true, :omit_delete => true, :hide_componenent_name => true }
%div{:id => dom_id_for(dataservice_bundle_content, :item), :class => 'item'}
  %div{:id => dom_id_for(dataservice_bundle_content, :details), :class => 'content'}
    = accordion_for(dataservice_bundle_content, "Session bundle:#{dataservice_bundle_content.id} (#{dataservice_bundle_content.position})",'body') do
      %pre= h(dataservice_bundle_content.body)
    = accordion_for(dataservice_bundle_content, "Otml: #{dataservice_bundle_content.otml.length / 1024}k, Empty: #{dataservice_bundle_content.empty ? 'true' : 'false'}", 'otml') do
      %pre= h(dataservice_bundle_content.otml)
    