= form_for(@activity) do |f|
  = f.error_messages
  = edit_menu_for(@activity, f)  
  - if @activity.investigation
    = f.hidden_field 'investigation_id', :value =>@activity.investigation.id
  = field_set_tag 'Activity Name' do
    = f.text_field :name
  = field_set_tag 'Activity Description' do
    = f.text_area :description, :cols => 80, :rows => 5, :class => 'mceNoEditor'
  = field_set_tag 'Activity Description for Teacher' do
    = t('authoring.description_for_teacher_description')
    = f.text_area :description_for_teacher, :cols => 80, :rows => 5, :class => 'mceNoEditor'
  = field_set_tag 'Teacher Guide (URL)' do
    = f.text_field :teacher_guide_url, :size => 60
  = field_set_tag 'Thumbnail image URL (300 x 250 px)' do
    = f.text_field :thumbnail_url, :size => 60
  = field_set_tag 'Publication Status' do
    = f.select :publication_status, Activity.publication_states.map {|s| s.to_s}
    #br
    If this Activity is part of a #{Investigation.display_name} and the #{Investigation.display_name}'s publication_status is 'published',
    then this Activity will be published too regardless of the publication status here.
  = field_set_tag 'Feature On Landing Page' do
    - if current_user.has_role? 'admin','manager'
      = f.check_box :is_featured 
    - else
      = f.check_box :is_featured, :disabled => true
    (check here if this activity should be displayed to anonymous users on the landing page)
  = field_set_tag 'Teacher only' do
    = f.check_box :teacher_only 
    (check here if this activity is for teachers only)
  = field_set_tag 'Student Report Enabled' do
    = f.check_box :student_report_enabled
    #{t('authoring.student_report_enabled_description')} (this only applies if this activity is assigned individually)
  = field_set_tag 'Show Score' do
    = f.check_box :show_score
    #{t('authoring.show_score_description')} (this only applies if this activity is assigned individually)
  = render :partial => 'shared/cohorts_edit', :locals => { :object => @activity }
  = render :partial => 'shared/grade_levels_edit', :locals => { :object => @activity }
  = render :partial => 'shared/subject_areas_edit', :locals => { :object => @activity }
  = render :partial => 'shared/projects_edit', :locals => { :object => @activity }

= javascript_tag("focus_first_field();");