.activity.comparison
  .key.form_like{:style => 'float: left'}
    %fieldset
      %legend Key
      .only_a Added to the customized activity
      .only_b Deleted in the customized activity
      .change Changed in the customized activity
  %table
    %thead
      %tr
        %th Section
        %th Customized
        %th Original
    %tbody
      - odd_even = false
      - @extra_data.each do |info|
        - odd_even = !odd_even
        %tr{:class => (odd_even ? "odd" : "even") }
          %th= info[:key]
          %td= info[:value]
          %td= info[:other_value]

      - diffs = @comparer.flat_differences
      - sorted_difference_keys(diffs, @order).each do |path|
        - detail = diffs[path]
        - odd_even = !odd_even
        %tr{:class => (odd_even ? "odd" : "even") }
          %th= path.join(" ")
          %td= detail[:html_left]
          %td= detail[:html_right]
