.activity.comparison
  %table
    %thead
      %tr
        %th Section
        %th Customized
        %th Original
    %tbody
      %tr.odd
        %td= ""
        %td= link_to 'Show', polymorphic_path(@activity)
        %td= link_to 'Show', polymorphic_path(@other_activity)
      - odd_even = true
      - diffs = @comparer.flat_differences
      - sorted_difference_keys(diffs, @order).each do |path|
        - detail = diffs[path]
        - odd_even = !odd_even
        %tr{:class => (odd_even ? "odd" : "even") }
          %th= path.join(" ")
          %td= detail[:html_left]
          %td= detail[:html_right]
