- content_for(:left_content_header) do
  = link_to 'New activity', new_activity_path

- content_for(:right_content_header) do
  - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
    - content_tag :label do
      = text_field_tag :search, params[:search], :size => 35
    %input{ :type => "submit", :value => "Search"}

%h1 Activity List

.paginator
  = will_paginate @paginated_objects
  - if @paginated_objects
    = page_entries_info @paginated_objects

.item_collection
  %ul.item_list
    - for activity in @activities
      .item
        .menu
          %ul
            %li
              = activity.id.to_s
            %li
              = activity.title
            %li
              = link_to 'Show', activity
            %li
              = link_to 'Edit', edit_activity_path(activity)
        .content
          = truncate(activity.context, 120)
