
<%= link_to 'preview', @activity %> |
<%= link_to 'edit', :action => 'edit' %>

		<h1>Adding items to activity &ldquo;<%= @activity.title %>&rdquo;</h1>
	<span class="step_tree">
		<ul>
			<li class="section selected">
				<span class="title">Discovery</span>
			</li>
			<li class="section">
				<span class="title">Materials</span>
			</li>
			<li class="section">
				<span class="title">Safety</span>
			</li>
			<li class="section">
				<span class="title">Predict</span>
			</li>
			<li class="section">
				<span class="title">Investigate</span>
			</li>	
		</ul>
	</div>
	
	<span class="step_editor">

		<span id="options" class="options">
			<span id="Xhtml" class='option'>
				<%= link_to_remote 'Add XHTML', 
					:url => {
							:controller => 'activity_steps',
							:action => 'add_step', 
							:activity_id => @activity.id,
							:kind => 'Xhtml'} %>
			</span>

			<span id="MultipleChoice" class='option'>
				<%= link_to_remote 'Add MultipleChoice', 
					:url => {
							:controller => 'activity_steps',
							:action => 'add_step', 
							:activity_id => @activity.id,
							:kind => 'MultipleChoice'} %>
			</span>
			
			<span id="OpenResponse" class='option'>
				<%= link_to_remote 'Add Open Response', 
					:url => {
							:controller => 'activity_steps',
							:action => 'add_step',
							:activity_id => @activity.id,
							:kind => 'OpenResponse'} %>
			</span>
		</span>

		<div id="steps_container" class="steps_container">
			<ol id="steps">
				<%= render(:partial => "activity_steps/steps", :object => @activity) %> 
			</ol>
		</div>

		<%= sortable_element :steps, :dropOnEmpty => true, :url=> {:action => 'sort_steps',
				:params => {:activity_id => @activity.id }}  %>	
		
	
	</div>
	

	<%= link_to 'Show', @activity %> |
	<%= link_to 'Back', activities_path %>
	


