
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Context:</b>
  <%= @activity.context %>
</p>

<p>
  <b>Opportunities:</b>
  <%= @activity.opportunities %>
</p>

<p>
  <b>Objectives:</b>
  <%= @activity.objectives %>
</p>

<p>
  <b>Procedures opening:</b>
  <%= @activity.procedures_opening %>
</p>

<p>
  <b>Procedures engagement:</b>
  <%= @activity.procedures_engagement %>
</p>

<p>
  <b>Procedures closure:</b>
  <%= @activity.procedures_closure %>
</p>

<p>
  <b>Assessment:</b>
  <%= @activity.assessment %>
</p>

<p>
  <b>Reflection:</b>
  <%= @activity.reflection %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
