<h1>Listing versioned_jnlp_urls</h1>

<table>
  <tr>
    <th>Maven jnlp family</th>
    <th>Path</th>
    <th>Url</th>
    <th>Version str</th>
  </tr>

<% @versioned_jnlp_urls.each do |versioned_jnlp_url| %>
  <tr>
    <td><%=h versioned_jnlp_url.maven_jnlp_family_id %></td>
    <td><%=h versioned_jnlp_url.path %></td>
    <td><%=h versioned_jnlp_url.url %></td>
    <td><%=h versioned_jnlp_url.version_str %></td>
    <td><%= link_to 'Show', versioned_jnlp_url %></td>
    <td><%= link_to 'Edit', edit_versioned_jnlp_url_path(versioned_jnlp_url) %></td>
    <td><%= link_to 'Destroy', versioned_jnlp_url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New versioned_jnlp_url', new_versioned_jnlp_url_path %>