<h1>New versioned_jnlp_url</h1>

<% form_for(@versioned_jnlp_url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :maven_jnlp_family_id %><br />
    <%= f.text_field :maven_jnlp_family_id %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :version_str %><br />
    <%= f.text_field :version_str %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', versioned_jnlp_urls_path %>