<p>
  <b>Maven jnlp family:</b>
  <%=h @versioned_jnlp_url.maven_jnlp_family_id %>
</p>

<p>
  <b>Path:</b>
  <%=h @versioned_jnlp_url.path %>
</p>

<p>
  <b>Url:</b>
  <%=h @versioned_jnlp_url.url %>
</p>

<p>
  <b>Version str:</b>
  <%=h @versioned_jnlp_url.version_str %>
</p>


<%= link_to 'Edit', edit_versioned_jnlp_url_path(@versioned_jnlp_url) %> |
<%= link_to 'Back', versioned_jnlp_urls_path %>