= form_for(@external_activity) do |f|
  = f.error_messages
  = edit_menu_for(@external_activity, f)
  - if ! @external_activity.new_record? && policy(@external_activity).edit_settings?
    .action_menu
      .action_menu_header_right{:style => "padding-right: 20px"}
        = link_to t("matedit.archive"),
          archive_external_activity_path(@external_activity),
          class: "button",
          data: {cc_confirm: t("matedit.archive_confirm")}
  - if @external_activity.new_record? || policy(@external_activity).edit_settings?
    = field_set_tag 'Activity Name' do
      = f.text_field :name
    - if policy(@external_activity).edit_credits?
      = field_set_tag 'Activity Credits' do
        = f.text_field :credits
        %br
        - if @external_activity.user && @external_activity.user.name
          If the credits field is filled in, it will override the default credits of "#{@external_activity.user.name}".
    = field_set_tag 'Activity Description' do
      = f.text_area :description, :cols => 80, :rows => 5, :class => 'mceNoEditor'
    = field_set_tag 'Activity Abstract' do
      = f.text_area :abstract, :cols => 80, :rows => 5, :class => 'mceNoEditor'
    = field_set_tag 'Activity Description for Teacher' do
      = t('authoring.description_for_teacher_description')
      = f.text_area :description_for_teacher, :cols => 80, :rows => 5, :class => 'mceNoEditor'
    = field_set_tag 'License' do
      = f.select :license_code, CommonsLicense.for_select, include_blank: 'none'
    = field_set_tag 'URL' do
      = f.text_field :url, :size => 60
    = field_set_tag 'Launch URL' do
      = f.text_field :launch_url, :size => 60
      %br
      = t('authoring.launch_url_description')
    = field_set_tag t('authoring.external_report_label') do
      = f.select :external_report_id, @external_activity.options_for_external_report, include_blank: 'none'
      %br
      = t('authoring.external_report_description')
    = field_set_tag 'Teacher Guide (URL)' do
      = f.text_field :teacher_guide_url, :size => 60
    = field_set_tag 'Thumbnail image URL (300 x 250 px)' do
      = f.text_field :thumbnail_url, :size => 60
    = field_set_tag 'Feature On Landing Page' do
      - if current_user.has_role? 'admin','manager'
        = f.check_box :is_featured
      - else
        = f.check_box :is_featured, :disabled => true
      This activity should be displayed to anonymous users on the landing page
    - if @external_activity.respond_to?(:enable_sharing)
      = field_set_tag 'Enable social media sharing' do
        - if current_user.has_role? 'admin','manager','author'
          = f.check_box :enable_sharing
        - else
          = f.check_box :enable_sharing, :disabled => true
        The resource lightbox for this activity will display social media sharing links.
    = field_set_tag 'Has Pre And Post Tests' do
      = f.check_box :has_pretest
      This unit has pre- and post-tests available.
    = field_set_tag 'Student Report Enabled' do
      = f.check_box :student_report_enabled
      = t('authoring.student_report_enabled_description')
    = field_set_tag 'Extra Options' do
      .config
        = f.check_box :popup
        Open the url in a new window
      .config
        = f.check_box :allow_collaboration
        Allow students to run this activity with collaborators
      .config
        = f.check_box :append_learner_id_to_url
        Append the learner id to the url (e.g. http://foo.com/bar?learner=4)
      .config
        = f.check_box :append_survey_monkey_uid
        Append a unique Survey Monkey user id to the url (e.g. http://www.surveymonkey.com/s/H2Y9H27?c=00001)
      - if @external_activity.respond_to?(:append_auth_token)
        .config
          = f.check_box :append_auth_token
          Append a short-lived authentication token
      .config
        = f.check_box :is_official
        Designate this as an "official" Concord activity in lists
      .config
        = f.check_box :logging
        Enable logging on this activity (for activities that support it)
      .config
        = f.check_box :is_locked
        Do not allow to copy this activity.
    = field_set_tag 'Save Path' do
      = f.text_field :save_path
    = render :partial => 'shared/is_assessment_item', :locals => { :form => f }
    = render :partial => 'shared/material_properties_edit', :locals => { :object => @external_activity }
  -# Partials below can be available for project admins or owners (separate policy methods).
  = render :partial => 'shared/publication_status_edit', :locals => { :form => f, :object => @external_activity }
  = render :partial => 'shared/projects_edit', :locals => { :object => @external_activity }
  = render :partial => 'shared/cohorts_edit', :locals => { :object => @external_activity }
  = render :partial => 'shared/grade_levels_edit', :locals => { :object => @external_activity }
  = render :partial => 'shared/subject_areas_edit', :locals => { :object => @external_activity }
  = render :partial => 'shared/sensors_edit', :locals => { :object => @external_activity }
  - if not @external_activity.new_record?
    = render :partial => 'shared/standards_edit', :locals => { :object => @external_activity }

= javascript_tag("focus_first_field();");
