- @wide_content_layout = true
#Activity_edit_container
  .action_menu
    .action_menu_header_left
      %h3.menu
        %span.component_title
        #{@external_activity.name} Editing
    .action_menu_header_right
      = link_to "Assign To Class", "javascript:void(0)",:onclick=>"get_Assign_To_Class_Popup(#{@external_activity.id}, '#{@external_activity.class.to_s}', null, true)", :class=>"button"
      = link_to "Edit Resource Options", "javascript:void(0)",:onclick=>"get_edit_resource_popup(#{@external_activity.id}, {use_short_form: true, content_height: 400})", :class=>"button"
  -#messgeedit This is edit lara activity page
  #iframe_container.matedit
    %iframe{:id => "Edit_in_Lara",:src =>"#{@uri}",:width => "1000",:height => "100%"}

  :javascript
    (function() {
      var $ = jQuery;
      var resizeIframe = function() {
        var iframe = $("#Edit_in_Lara ");
        var parent = $("#iframe_container");
        var height = parent.height();
        var offset = 150;
        var newHeight = offset + height;
        iframe.css('height', newHeight + "px");
        iframe.css('top', "-" + offset + "px");
      };
      var registerResizeHandler = function() {
        $(window).resize(resizeIframe);
      };
      $(document).ready(function() {
        resizeIframe();
        registerResizeHandler();
      });
    })();