= link_to image_tag(@image.image.url(:attributed)), @image.image.url(:attributed)

%p
  %b
    Name:
  =h @image.name

%p
  %b
    Attribution:
  =(h @image.attribution).gsub("\n", "<br/>\n")

%p
  %b
    Embedding URL:
  = link_to view_image_path(@image), view_image_path(@image)

%p
  %b
    Size:
  = @image.image_dimensions

%p
  %b
    License:
  %b
    .license
      .image= link_to image_tag(@image.license.image), @image.license.deed
      .code
        = link_to @image.license.code, @image.license.deed
        %span.small= "(#{@image.license.name})"
      .description= @image.license.description

- if @image.changeable?(current_user)
  = link_to 'Edit', edit_image_path(@image)
  |
  = link_to "Delete", image_path(@image), :method => :delete, :confirm => "are you sure?"
  |
= link_to 'List', images_path
