= link_to image_tag(@image.image.url(:attributed)), @image.image.url(:attributed)

%p
  %b
    Name:
  =h @image.name

%p
  %b
    Attribution:
  =(h @image.attribution).gsub("\n", "<br/>\n")

%p
  %b
    Embedding URL:
  = link_to view_image_path(@image), view_image_path(@image)

%p
  %b
    Size:
  = @image.image_dimensions


- if @image.changeable?(current_user)
  = link_to 'Edit', edit_image_path(@image)
  |
  = link_to "Delete", image_path(@image), :method => :delete, :confirm => "are you sure?"
  |
= link_to 'List', images_path
