= link_to image_tag(@image.image.url(:attributed)), @image.image.url(:attributed)

%p
  %b
    Name:
  =h @image.name

%p
  %b
    Attribution:
  =(h @image.attribution).gsub("\n", "<br/>\n")

%p
  %b
    Embedding URL:
  - emb_url = "#{request.protocol + request.host + (request.port == 80 ? "" : ":#{request.port}") + @image.image.url(:attributed)}"
  = link_to emb_url, emb_url

%p
  %b
    Size:
  = @image.image_dimensions


- if @image.changeable?(current_user)
  = link_to 'Edit', edit_image_path(@image)
  |
  = link_to "Delete", image_path(@image), :method => :delete, :confirm => "are you sure?"
  |
= link_to 'List', images_path
