= link_to image_tag(@image.image.url(:thumb)), @image.image.url(:attributed)

%p
  %b
    Name:
  =h @image.name

%p
  %b
    Attribution:
  =(h @image.attribution).gsub("\n", "<br/>\n")

%p
  %b
    Embedding URL:
  - emb_url = "#{request.protocol + request.host + (request.port == 80 ? "" : ":#{request.port}") + @image.image.url(:attributed)}"
  = link_to emb_url, emb_url

%p
  %b
    Size:
  - dims = Paperclip::Geometry.from_file(File.open(@image.image.path(:attributed)))
  =h "#{dims.width.to_i}x#{dims.height.to_i} (#{number_to_human_size @image.image_file_size})"


= link_to 'Edit', edit_image_path(@image)
|
= link_to "Delete", image_path(@image), :method => :delete, :confirm => "are you sure?"
|
= link_to 'Back', images_path
