!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @page_title || APP_CONFIG[:site_name]
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    = stylesheet_link_tag 'screen'
    / = stylesheet_link_tag 'app'
    = javascript_include_tag :defaults
    /[if IE]
      = javascript_include_tag "flotr/excanvas.js"
    = javascript_include_tag "flotr/flotr.js"
    / = javascript_include_tag "patch_inplaceeditor_1-8-1.js"
    / = javascript_include_tag "patch_inplaceeditor_editonblank_1-8-1.js"
    / = javascript_include_tag "inplacericheditor.js"
    = javascript_include_tag "tiny_mce/tiny_mce"

    :javascript
      tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        theme_advanced_buttons1     : "justifyleft,justifycenter,justifyright,justifyfull,|,bold,italic,underline,strikethrough,",
        theme_advanced_buttons1_add : "|,fontselect,fontsizeselect|,bullist,numlist,hr|,undo,redo,link,unlink,image",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true
      });

  %body
    #body2
      /
        For non-visual user agents:
      #top
        %a.hidden.doNotPrint{ :href => "#main_content" }
          Skip to main content.

    #wrapper
      #header
        #title
          %p
            %h1 RITES Investigation Template
        #login
          %br
            Welcome
            = "#{current_user.name}."
            - unless current_user.anonymous?
              = link_to 'Preferences', preferences_user_path(current_user)
              \/
              = link_to 'Logout', logout_path
            - else
              = link_to 'Login', login_path
              \/
              = link_to 'Signup', signup_path
      #nav_top
        #nav_top_left
          %span.hidden.doNotPrint
            Navigation:
          %ul.menu_h
            %li= link_to 'Home', home_path
        #nav_top_right
          %ul.menu_h
            %li= link_to 'Investigations', investigations_path
            %li= link_to 'Grade Span Expectations', grade_span_expectations_path
            %li= link_to 'Data Collectors', data_collectors_path
            %li= link_to 'Open Responses', open_responses_path
            %li= link_to 'Xhtmls', xhtmls_path


      #left_nav
        %p
          = yield :sidebar
        %hr
        %p
          %h4
            Selected Probeware Interface
        = render :partial => 'shared/vendor_interface', :locals => { :vendor_interface => current_user.vendor_interface }
        %hr
        %p
          %span.sideBarText
            Rhode Island Technology Enhanced Science 
            %em (RITES) 
            program is a targeted Math-Science Partnership designed to improve secondary science learning statewide.
        %hr
          %p.small
            Validate the
            %a{ :href => "http://validator.w3.org/check/referer" }
              XHTML
            and
            %a{ :href => "http://jigsaw.w3.org/css-validator/check/referer" }
              CSS of this page.
        %hr
          = render :partial => 'shared/site_info'
          

      #main_content
        #content_header
          = yield :content_header
          %br
          %p{ :style => "color: green" }
            = flash_messages
        #main_content2
          = yield :layout

      #footer
        #footer_left
          Questions/Feedback:
          = mail_to("stephen@concord.org", "Send us an email", :subject => "rights question", :encode => "javascript")
        #footer_right
          / footer text on the right
