!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %title= @page_title || APP_CONFIG[:site_name]
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %script{ :src=> "https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js", :type => "text/javascript"}
    %script{ :src=> "https://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js", :type => "text/javascript"}
    
    / see documentation for asset packager here: http://synthesis.sbecker.net/pages/asset_packager
    / see the yaml file too: config/asset_packages.yml
    = stylesheet_link_merged(current_theme.to_sym, {'media' => 'screen, presentation'})
    = javascript_include_merged :base
    / tiny_mce didn't play nice with the asset_packager..
    = javascript_include_tag("tiny_mce/tiny_mce")

    / shouldn't probably do this here, do it on domloaded elsewhere..:
    = javascript_tag mce_init_string
    - if protect_against_forgery?
      = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"
    - if (defined? @container_id) && @container_id
      = javascript_tag "var container_id = #{@container_id};"
    - if defined? @container_type && @container_type
      = javascript_tag "var container_type = '#{@container_type}';"
  %body

    #note{:style=>"display: none;"}
    #waiter{:style=>"display: none;"}
      please wait
      = image_tag "ajax-loader.gif"
    #page
      / For non-visual user agents:
      #top
        %a.hidden.doNotPrint{ :href => "#primary" } Skip to main content.
    #wrapper.wrapper
      = render :partial => 'shared/project_header'
      #primary
        #content.main_content_colors
          #content_header.main_content_colors
            = yield :content_header
          #js_flash{:style=>"display: none;"}
          #flash
            .padded_contents
              - flash.each_pair do |key, message|
                %div{:class=>"flash flash_#{key}"}= message
          = yield :layout

      #secondary
        - if @investigation
          / = render :partial => 'shared/accordion_nav', :locals => { :investigation=> @investigation}
          = render :partial => 'shared/general_accordion_nav', :locals => {:top_node => @investigation, :selects => [@investigation,@activity,@section,@page]}
        - elsif @activity
          = render :partial => 'shared/accordian_nav'
        - elsif @portal_school
          = render :partial => 'shared/general_accordion_nav', :locals => {:top_node => @portal_school, :selects => [@school,@teacher,@portal_clazz,@portal_student]}
        - elsif @portal_teacher && (@portal_teacher.user == current_user)
          = render :partial => 'portal/clazzes/clazzes_nav', :locals => {:top_node => @portal_teacher, :selects => [@school,@portal_clazz,@portal_student]}
        - elsif @portal_student && (@portal_student.user == current_user)
          = render :partial => 'portal/clazzes/clazzes_nav', :locals => {:top_node => @portal_student, :selects => [@school,@portal_clazz,@offering]}
        = yield :side_bar

      = render :partial => 'shared/footer'
      #under_footer
        - if current_user.has_role?('admin')
          = display_system_info
