!!!
%head
  %meta{:charset => "utf-8"}/
  %title
    #{site_name} Maintenance
  :css
    /**/
      body{
        background:#fee9aa;
        color:#3a878b;
        font:100% 'lucida grande', 'trebuchet ms', arial, sans-serif;
        line-height:150%;
      }
      #container{
        background:url(http://concord.org/sites/default/files/images/bubble.png) no-repeat;
        height:395px;
        left:50%;
        margin:-187px 0 0 -300px;
        position:absolute;
        top:50%;
        width:600px;
        padding-top: 100px;
      }
      #container p{
        margin:1em 70px 0 100px;
      }
      #sg-logo{
        height:80px;
        margin:85px 0 10px 100px;
        width:300px;
      }
      #cc-link{
        display:block;
        /*margin:55px 80px 0 0;*/
        text-align:right;
      }
      #cc-link img {
        border:none;
        height:38px;
        width:125px;
        margin-top: 2em;
      }
      a {
        color: #e1643a;
        text-decoration: none;
      }
    /**/
    %body
  #container
    %p
      As of #{Time.now.strftime("%b %d,  %I:%M%p (%Z)")}
      #{site_name} is undergoing maintenance. Sorry for the inconvenience.
      We'll be back  #{back_up} .
    %p
      Please
      %a{:href => "mailto:rites-help@concord.org"}
        email us
      if you need to get in touch.
    %p
      #{message}
    %p
      %a#cc-link{:href => "http://concord.org/", :title => "The Concord Consortium"}
        %img{:alt => "The Concord Consortium",
          :src => "http://concord.org/sites/default/files/images/cc-logo.png",
          :title => "The Concord Consortium"}/
