!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @page_title || APP_CONFIG[:site_name]
    = stylesheet_link_tag 'print', :media => :print
    = stylesheet_link_tag 'print', :media => :screen
    = stylesheet_link_tag 'window'

    / = javascript_include_tag :defaults
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "effects.js"
    = javascript_include_tag "prototype-ui/prototype-ui.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "dragdrop.js"
    /[if IE]
      = javascript_include_tag "flotr/excanvas.js"
    = javascript_include_tag "flotr/flotr.js"

  %body
    #wrapper
      #main_content
        = yield :layout
      #teacher_content
        %h3 Teacher Notes:
        %ol
          = yield :teacher_notes