!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title

    / = javascript_include_tag :defaults
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "effects.js"
    = javascript_include_tag "prototype-ui/prototype-ui.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "dragdrop.js"
    /[if IE]
      = javascript_include_tag "flotr/excanvas.js"
    = javascript_include_tag "flotr/flotr.js"
    = javascript_include_tag "canvas2image.js"

  %body
    #wrapper
      = yield :layout
