!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @page_title || APP_CONFIG[:site_name]
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    = stylesheet_link_merged :base
    
  %body
    #wrapper.wrapper    
      #header
        .left_content
          %h1= APP_CONFIG[:site_name]

      #content_container      
        #left_nav.nav_menu

        #main_content.main_content_colors
          #content_header.main_content_colors
            = yield :layout
            
      #footer
        .padded_content
          #footer_left
            Questions/Feedback:
            = mail_to("stephen@concord.org", "Send us an email", :subject => "rights question", :encode => "javascript")
          #footer_right
      #under_footer
        - if current_user.has_role?('admin')
          = display_system_info
          
