<h1>Listing native_libraries</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Name</th>
    <th>Main</th>
    <th>Os</th>
    <th>Href</th>
    <th>Size</th>
    <th>Size pack gz</th>
    <th>Signature verified</th>
    <th>Version str</th>
  </tr>

<% @native_libraries.each do |native_library| %>
  <tr>
    <td><%=h native_library.uuid %></td>
    <td><%=h native_library.name %></td>
    <td><%=h native_library.main %></td>
    <td><%=h native_library.os %></td>
    <td><%=h native_library.href %></td>
    <td><%=h native_library.size %></td>
    <td><%=h native_library.size_pack_gz %></td>
    <td><%=h native_library.signature_verified %></td>
    <td><%=h native_library.version_str %></td>
    <td><%= link_to 'Show', native_library %></td>
    <td><%= link_to 'Edit', edit_native_library_path(native_library) %></td>
    <td><%= link_to 'Destroy', native_library, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New native_library', new_native_library_path %>