<p>
  <b>Uuid:</b>
  <%=h @native_library.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @native_library.name %>
</p>

<p>
  <b>Main:</b>
  <%=h @native_library.main %>
</p>

<p>
  <b>Os:</b>
  <%=h @native_library.os %>
</p>

<p>
  <b>Href:</b>
  <%=h @native_library.href %>
</p>

<p>
  <b>Size:</b>
  <%=h @native_library.size %>
</p>

<p>
  <b>Size pack gz:</b>
  <%=h @native_library.size_pack_gz %>
</p>

<p>
  <b>Signature verified:</b>
  <%=h @native_library.signature_verified %>
</p>

<p>
  <b>Version str:</b>
  <%=h @native_library.version_str %>
</p>


<%= link_to 'Edit', edit_native_library_path(@native_library) %> |
<%= link_to 'Back', native_libraries_path %>